

@model LeaMaPortal.Models.AgreementPdcViewModel
<div class="row p-b-25 text-uppercase">
    <span> <strong> Agreement PDC </strong> </span>
</div>

<div class="row">
    <div class="col-md-12 document-row">
        <div class="col-md-1 w-md-13">
            @Html.LabelFor(model => model.Month, htmlAttributes: new { @class = "label-default-remove" })
        </div>
        <div class="col-md-1 w-md-14">
           @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "label-default-remove" })
        </div>
        <div class="col-md-1 w-md-16">
           @Html.LabelFor(model => model.Payment_Mode, htmlAttributes: new { @class = "label-default-remove" })
        </div>
        <div class="col-md-1 w-md-15">
            @Html.LabelFor(model => model.BankName, htmlAttributes: new { @class = "label-default-remove" })
        </div>
        <div class="col-md-1 w-md-14">
            @Html.LabelFor(model => model.Cheque_No, htmlAttributes: new { @class = "label-default-remove" })
        </div>
        <div class="col-md-1 w-md-14">
            @Html.LabelFor(model => model.Cheque_Date, htmlAttributes: new { @class = "label-default-remove" })
        </div>
        <div class="col-md-1 w-md-14">
            @Html.LabelFor(model => model.Cheque_Amount, htmlAttributes: new { @class = "label-default-remove" })
        </div>
    </div>
</div>
<div class="row ht-5">
    &nbsp;
</div>

@Html.Partial("_AgreementPdcDetails")

<div class="row">
    <div class="col-md-1 w-md-10 pull-right">
        <button class="document-btn">Delete</button>
    </div>
    <div class="col-md-1 w-md-10 pull-right">
        <button class="document-btn">Add</button>
    </div>
</div>
<div class="row ht-5">
    &nbsp;
</div>
