

@model LeaMaPortal.Models.AgreementCheckListViewModel

<div class="row p-b-25 text-uppercase">
    <span> <strong> Agreement checklist </strong> </span>
</div>

<div class="row">
    <div class="col-md-12 document-row">
       
        <div class="col-md-4">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "label-default-remove" }) 
        </div>

        <div class="col-md-3">
            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "label-default-remove" }) 
        </div>
    </div>
</div>
<div class="row ht-5">
    &nbsp;
</div>
<div class="row">
    <div class="col-md-12 document-row">       
        <div class="col-md-3" style="margin-left: -27px;">
            <div class="col-md-5">
                <div class="col-md-4 m-t-3">
                    <span> Yes </span>
                </div>
                <div class="col-md-1">
                    @Html.RadioButtonFor(m=>m.Status,"1",new { @class = "input-checkbox" })
                    @*<input type="radio" class="input-checkbox" name="verified">*@
                </div>
            </div>
            <div class="col-md-5">
                <div class="col-md-4 m-t-3">
                    <span> No </span>
                </div>
                <div class="col-md-1">
                    @Html.RadioButtonFor(m => m.Status, "0", new { @class = "input-checkbox" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "master-form-input" } })
        </div>
    </div>
</div>
@*@Html.Partial("_AgreementCheckListDetails")*@


<div class="row ht-5">
    &nbsp;
</div>
