
@model LeaMaPortal.Models.AgreementUnitViewModel

<div class="row p-b-25 text-uppercase">
    <span> <strong> Agreement unit - only for multiple units </strong> </span>
</div>

<div class="row" id="AgreementUnit">
    <div class="col-md-12 document-row">
        <div class="col-md-2">
            @Html.LabelFor(model => model.Property_ID, htmlAttributes: new { @class = "label-default-remove" })
        </div>
        <div class="col-md-3">
            @Html.LabelFor(model => model.Properties_Name, htmlAttributes: new { @class = "label-default-remove" })
        </div>
        <div class="col-md-2">
            @Html.LabelFor(model => model.Property_ID_Tawtheeq, htmlAttributes: new { @class = "label-default-remove" })
        </div>
        <div class="col-md-2">
            @Html.LabelFor(model => model.Unit_ID_Tawtheeq, htmlAttributes: new { @class = "label-default-remove" })
        </div>
        <div class="col-md-2">
            @Html.LabelFor(model => model.Unit_Property_Name, htmlAttributes: new { @class = "label-default-remove" })
        </div>        
    </div>
    <div class="col-md-12 document-row">
        <div class="col-md-2">
            @Html.DropDownList("Property_ID", null, "--Select--", new { @class = "form-control master-form-input AgreementPdMonth", @disabled = "disabled" })
        </div>
        <div class="col-md-3">
          @Html.DropDownList("Properties_Name", null, "--Select--", new { @class = "form-control master-form-input AgreementPdMonth", @disabled = "disabled" }) 
        </div>
        <div class="col-md-2">
           @Html.DropDownList("Property_ID_Tawtheeq", null, "--Select--", new { @class = "form-control master-form-input AgreementPdMonth", @disabled = "disabled" })
        </div>
        <div class="col-md-2">
            @Html.DropDownList("Unit_ID_Tawtheeq", null, "--Select--", new { @class = "form-control master-form-input AgreementPdMonth", @disabled = "disabled" })
        </div>
        <div class="col-md-2">
           @Html.DropDownList("Unit_Property_Name", null, "--Select--", new { @class = "form-control master-form-input AgreementPdMonth", @disabled = "disabled" })
        </div>
        <div class="col-md-1">
            <button class="document-btn" onclick="addAgreementUnitList(event);">Add</button>
        </div>
    </div>
</div>
<div class="row ht-5">
    &nbsp;
</div>

@Html.Partial("_AgreementUnitDetails",Model)
<input type="hidden"  value="@Model.AgreementUnitList.Count" id="AgreementUnitListCount" />



<div class="row ht-5">
    &nbsp;
</div>
<script>
    var AgreementUnitListCount = parseInt($("#AgreementUnitListCount").val());

    function addAgreementUnitList(event) {
        event.preventDefault();

        var Property_ID = $("#AgreementUnit #Property_ID option:selected").text();
        var Properties_Name = $("#AgreementUnit #Properties_Name option:selected").text();
        var Property_ID_Tawtheeq = $("#AgreementUnit #Property_ID_Tawtheeq option:selected").text();
        var Unit_ID_Tawtheeq = $("#AgreementUnit #Unit_ID_Tawtheeq option:selected").text();
        var Unit_Property_Name = $("#AgreementUnit #Unit_Property_Name option:selected").text();
        if (Unit_ID_Tawtheeq == '' || Property_ID == '')
        {
            $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
            $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
            $(".result-title").text("Failure");
            $(".result-modal-body span").text("Please select Unit");
            $('#masterResultModal').modal('show');
            //alert("Please select Unit Tawtheeq ID");
            return;
        }
        var isExist = isExistAgreementUnit(Unit_ID_Tawtheeq);
        if (isExist) {
            $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
            $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
            $(".result-title").text("Failure");
            $(".result-modal-body span").text("Record already exist!");
            $('#masterResultModal').modal('show');
            //alert("Already exist");
            return;
        }
        var html = "<tr><td>" +
                      "<input type='hidden' name='AgreementUnitList[" + AgreementUnitListCount + "].Property_ID' id='AgreementUnitList[" + AgreementUnitListCount + "].Property_ID' value='" + Property_ID + "' data-name='Property_ID' />" +
                      "<input type='hidden' name='AgreementUnitList[" + AgreementUnitListCount + "].Properties_Name' id='AgreementUnitList[" + AgreementUnitListCount + "].Properties_Name' value='" + Properties_Name + "' data-name='Properties_Name' />" +
                      "<input type='hidden' name='AgreementUnitList[" + AgreementUnitListCount + "].Property_ID_Tawtheeq' id='AgreementUnitList[" + AgreementUnitListCount + "].Property_ID_Tawtheeq' value='" + Property_ID_Tawtheeq + "' data-name='Property_ID_Tawtheeq' />" +
                      "<input type='hidden' name='AgreementUnitList[" + AgreementUnitListCount + "].Unit_ID_Tawtheeq' id='AgreementUnitList[" + AgreementUnitListCount + "].Unit_ID_Tawtheeq' value='" + Unit_ID_Tawtheeq + "' data-name='Unit_ID_Tawtheeq' />" +
                      "<input type='hidden' name='AgreementUnitList[" + AgreementUnitListCount + "].Unit_Property_Name' id='AgreementUnitList[" + AgreementUnitListCount + "].Unit_Property_Name' value='" + Unit_Property_Name + "' data-name='Unit_Property_Name' />" +
                      

                      "<div class='col-md-12 document-row'>" +
                          "<div class='col-md-1 col-md-1 w-md-13'>" + Property_ID + "</div>" +


                          "<div class='col-md-1 w-md-14'>" +

                          Properties_Name +

        "</div>" +
        "<div class='col-md-1'>" +
        Property_ID_Tawtheeq +
        "</div>" +
        "<div class='col-md-1 w-md-15'>" +

        Unit_ID_Tawtheeq +

        "</div>" +
        "<div class='col-md-1 w-md-14'>" +
            Unit_Property_Name +
        "</div>" +
       
        "<div class='col-md-1'>" +
           "<button class='btn AgreementUnitList-remove'>X</button>" +
        "</div>" +
    "</div>" +
"</td>" +
"</tr>";


        $("#AgreementUnitList").append(html);
        AgreementUnitListCount++;
    }
    function isExistAgreementUnit(Unit_ID_Tawtheeq) {
        var existfilelist = document.getElementById('AgreementUnitList');
        var isExist = false;
        $(existfilelist).find('> tbody > tr').each(function () {

            $(this).find("input").each(function () {
                var dataname = $(this).data("name");
                if (dataname == "Unit_ID_Tawtheeq") {
                    if ($(this).val().toLowerCase().trim() == Unit_ID_Tawtheeq.toLowerCase().trim()) {
                        isExist = true;

                    }
                }
            });
        });
        return isExist;
    }
    $(document).on('click', 'button.AgreementUnitList-remove', function () {
        $(this).closest('tr').remove();
        var existfilelist = document.getElementById('AgreementUnitList');
        var newindex = 0;
        $(existfilelist).find('> tbody > tr').each(function () {

            $(this).find("input").each(function () {
                var dataname = $(this).data("name");
                //alert(dataname + $(this).val() + '-' + newindex)
                $(this).attr({
                    'id': function (_, id) {
                        return id + newindex
                    },
                    'name': function (_, name) {
                        //return name + iTenantDocument[0].Name
                        return 'AgreementUnitList[' + newindex + '].' + dataname
                    }
                });
            });

            newindex++;

        });
        AgreementUnitListCount = newindex;
    });
    //$("#AgreementUnit #Property_ID").change(function () {
         
    //    var propertyid = $("#AgreementUnit #Property_ID").val();
    //    $("#AgreementUnit #Properties_Name").val(propertyid);
    //    $("#AgreementUnit #Property_ID_Tawtheeq").val(propertyid); 
    //    $("#AgreementUnit #Unit_ID_Tawtheeq").val(propertyid);
    //    $("#AgreementUnit #Unit_Property_Name").val(propertyid);
    //    return;
    //});
    $("#AgreementUnit #Properties_Name").change(function () {
        var propertyid;
        //debugger;
        if ($("#AgreementUnit #Properties_Name option:selected").text() == "--Select--") {
            $("#AgreementUnit #Unit_Property_Name").attr("disabled", true);
            propertyid = 0;
        }
        else if ($("#AgreementUnit #Properties_Name option:selected").text() != "--Select--") {
            //alert($("#AgreementUnit #Properties_Name").val());
            //alert(propertyid);
            $("#AgreementUnit #Unit_Property_Name").attr("disabled", false);
            propertyid = $("#AgreementUnit #Properties_Name").val();
            //alert(propertyid);
        }
        
       
        //$("#AgreementUnit #Property_ID_Tawtheeq").val($("#AgreementUnit #Properties_Name option:selected").val());
        //$("#AgreementUnit #Property_ID").val(propertyid);
        $("#AgreementUnit #Property_ID option:selected").text($("#AgreementUnit #Properties_Name option:selected").text() == "--Select--" ? "--Select--" : $("#AgreementUnit #Properties_Name").val());
        $("#AgreementUnit #Property_ID_Tawtheeq").val($("#AgreementUnit #Properties_Name option:selected").text() == "--Select--" ? null : $("#AgreementUnit #Properties_Name option:selected").val());
        //$('#AgreementUnit #Unit_Property_Name').empty();
        //alert(propertyid);
        getUnit(propertyid);

        //$("#AgreementUnit #Property_ID").val(propertyid);
        //$("#AgreementUnit #Property_ID_Tawtheeq").val(propertyid);
        //$("#AgreementUnit #Unit_ID_Tawtheeq").val(propertyid);
        //$("#AgreementUnit #Unit_Property_Name").val(propertyid);
        return;
    });
    //$("#AgreementUnit #Property_ID_Tawtheeq").change(function () {
    //    var propertyid = $("#AgreementUnit #Property_ID_Tawtheeq").val();
    //    $("#AgreementUnit #Property_ID").val(propertyid);
    //    $("#AgreementUnit #Properties_Name").val(propertyid);
    //    $("#AgreementUnit #Unit_ID_Tawtheeq").val(propertyid);
    //    $("#AgreementUnit #Unit_Property_Name").val(propertyid);
    //    return;
    //});

    //$("#AgreementUnit #Unit_ID_Tawtheeq").change(function () {
    //    var propertyid = $("#AgreementUnit #Unit_ID_Tawtheeq").val();
    //    $("#AgreementUnit #Property_ID").val(propertyid);
    //    $("#AgreementUnit #Properties_Name").val(propertyid);
    //    $("#AgreementUnit #Property_ID_Tawtheeq").val(propertyid);
    //    $("#AgreementUnit #Unit_Property_Name").val(propertyid);
    //    return;
    //});
    $("#AgreementUnit #Unit_Property_Name").change(function () {
        //var propertyid = $("#AgreementUnit #Unit_Property_Name").val();
        //$("#AgreementUnit #Property_ID").val(propertyid);
        //$("#AgreementUnit #Properties_Name").val(propertyid);
        //$("#AgreementUnit #Unit_ID_Tawtheeq option:selected").text(propertyid);
        $("#AgreementUnit #Unit_ID_Tawtheeq option:selected").text($("#AgreementUnit #Unit_Property_Name option:selected").text() == "--Select--" ? "--Select--" : $("#AgreementUnit #Unit_Property_Name").val());
        //$("#AgreementUnit #Property_ID_Tawtheeq").val(propertyid);
        return;
    });

    //$('#Properties_Name').prop('disabled', true);
    //$('#Property_ID').prop('disabled', true);
    
    // $('#Property_ID_Tawtheeq').prop('disabled', true);

  

    function getUnit(propertyId) {
        $.ajax(
               {
                   url: "../Tca/GetPropertiesUnitDetails",
                   // dataType: "jsonp",
                   method: "GET",
                   data: { propertyId: propertyId }, //FormData(form.get(0)),
                   contentType: "application/json",

                   success: function (response) {
                       //alert("s0");
                       //var propertyidOptions = '<option value="" selected>--Select--</option>';
                       //$("#TcaPropertyId").empty();

                       //var propertyidTawtheeqOptions = '<option value="" selected>--Select--</option>';
                       //$("#TcaPropertyIDTawtheeq").empty();

                       var propertyNameOptions = '<option value="" selected>--Select--</option>';
                       //$("#TcaPropertyName").empty();

                       $("#AgreementUnit #Unit_ID_Tawtheeq").empty();
                       var unitidOptions = '<option value="" selected>--Select--</option>';
                       

                       $("#AgreementUnit #Unit_Property_Name").empty();
                       var unitnameOptions = '<option value="" selected>--Select--</option>';
                       

                      // alert("s");

                       $.each(response, function (index, data) {
                           //propertyidOptions += '<option value="' + data.property_id + '">' + data.property_id + '</option>';
                           //propertyidTawtheeqOptions += '<option value="' + data.Property_ID_Tawtheeq + '">' + data.Property_ID_Tawtheeq + '</option>';
                           // propertyNameOptions += '<option value="' + data.Property_ID_Tawtheeq + '">' + data.Property_Name + '</option>';

                           unitidOptions += '<option value="' + data.Ref_Unit_Property_ID + '">' + data.Unit_ID_Tawtheeq + '</option>';
                           unitnameOptions += '<option value="' + data.Unit_ID_Tawtheeq + '">' + data.Unit_Property_Name + '</option>';

                       });
                       //$('#TcaPropertyIDTawtheeq').append(propertyidTawtheeqOptions);
                       //$('#TcaPropertyName').append(propertyNameOptions);
                       $('#AgreementUnit #Unit_ID_Tawtheeq').append(unitidOptions);
                       $('#AgreementUnit #Unit_Property_Name').append(unitnameOptions);
                   },
                   error: function (jqXhr, textStatus, errorThrown) {
                       alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                   },
                   complete: function () {
                       // $("#").addClass("hide");
                   }

               });
    }

</script>