@*@model IEnumerable<LeaMaPortal.Models.AgreementFormViewModel>*@
@using MvcPaging
@model IPagedList<LeaMaPortal.Models.AgreementFormViewModel>
@{
    Layout = null;
}


<div class="col-md-12">
    <div class="col-md-12 leama-fieldset ">
        <div class="col-md-2 pull-left">
            @Html.Label("Search", htmlAttributes: new { @class = "leama-field-name" })
        </div>
        <div class="col-md-4">
            <input type="text" id="Search" name="Search" value="@ViewData["Search"]" class="leama-field form-control" />
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-info leama-search-btn col-md-4" id="go">Go</button>
        </div>
    </div>

    <div class="col-md-12 leama-fieldset ">
        &nbsp;
    </div>

    <div class="divTable leama-fieldset col-md-12">


        <div class="divTableBody divFontBodyTable">
            <div class="divTableHeading">
                <div class="divTableCell" style="display:none">PropertyType</div>
                <div class="divTableCell" style="display:none">PropertyID</div>
                <div class="divTableCell">Agreement No</div>
                <div class="divTableCell">Tenant Name</div>
                <div class="divTableCell">Property Name</div>
                <div class="divTableCell">Unit Name</div>
                <div class="divTableCell">Action</div>

            </div>
            @foreach (var item in Model)
            {
                <div class="divTableRow">
                    <div class="divTableCell" style="display:none">@item.Single_Multiple_Flag</div>
                    <div class="divTableCell" style="display:none">@item.property_id</div>
                    <div class="divTableCell">@item.Agreement_No</div>
                    <div class="divTableCell">@item.Ag_Tenant_Name</div>
                    <div class="divTableCell">@item.Properties_Name</div>
                    <div class="divTableCell">@item.Unit_Property_Name</div>

                    <div class="divTableCell">
                        @if (@ViewBag.IsRenewalVisible && item.Approval_Flag==1 && item.Status != "Renewed")
                        {
                            <span>
                                @Html.ActionLink(" ", "Renewal", null, new { @class = "glyphicon glyphicon-open agreement-renewal", title = "Renewal", @data_agreementno = @item.Agreement_No, @id = "#menu-home-tca-renewal" })  |
                            </span>
                        }
                        @if (@ViewBag.IsClosureVisible && item.Approval_Flag == 1 && item.Status != "Closed")
                        {
                            <span>
                                @Html.ActionLink(" ", "Closue", null, new { @class = "glyphicon glyphicon-save agreement-closure", title = "Closure", @data_toggle = "modal", @data_target = "#closureModal", @data_agreementno = @item.Agreement_No, @id = "#menu-home-tca-closure" })  |
                            </span>
                        }
                        @if (@ViewBag.IsAgreementStatusVisible && item.Approval_Flag == 1)
                        {
                            <span>
                                @Html.ActionLink(" ", "Edit", null, new { @class = "glyphicon glyphicon-stats agreement-stats", title = "Status", @data_toggle = "modal", @data_target = "#statusModal", @data_agreementno = @item.Agreement_No, @id = "#menu-home-tca-status" })  |
                            </span>
                        }
                        @if (@ViewBag.IsEditable == 1 && item.Approval_Flag !=1)
                        {
                            <span>
                                @Html.ActionLink(" ", "Edit", null, new { @class = "glyphicon glyphicon-edit agreement-edit", title = "Edit", @data_agreementno = @item.Agreement_No })  |
                            </span>
                        }
                        @if (@ViewBag.IsDeletable == 1)
                        {
                            <span>
                                @Html.ActionLink(" ", "Delete", null, new { @class = "glyphicon glyphicon-trash agreement-delete", @style = "color:red", title = "Delete", @data_agreementno = @item.Agreement_No, @data_singlemultipleflag = @item.Single_Multiple_Flag, @data_propid = @item.property_id }) |
                            </span>
                        }
                        @if (item.Approval_Flag == 1)
                        {
                            @Html.ActionLink(" ", "Print", null, new { @class = "glyphicon glyphicon-print agreement-print", title = "Print", @data_toggle = "modal", @data_target = "#contractModal", @data_agreementno = @item.Agreement_No })
                        }
                        @*@Html.ActionLink(" ", "Print", null, new { @class = "glyphicon glyphicon-print agreement-print", title = "sample Print", @data_toggle = "modal", @data_target = "#contractModal", @data_agreementno = @item.Agreement_No })*@

                        @*<a target="_blank" href="../Tca/PrintAgreement?AgreementNo=@item.Agreement_No" class="glyphicon glyphicon-print"></a>*@
                    </div>
                </div>
            }
        </div>
        @*, @data_toggle = "modal", @data_target = "#renewalModal"*@
    </div>
    <div class="col-sm-12">

        <br />
        @Html.HiddenFor(m => m.PageNumber)
        <div class="col-md-2">
            @Html.DropDownList("defaultPageSize", null, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-lg-10 text-right">
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                if (i == Model.PageNumber)
                {
                    <input type="button" data-id="@i" value="@i" class="pagination-btn" />
                }
                else
                {
                    <input type="button" data-id="@i" value="@i" class="Page" />
                }

            }
        </div>

        <script type="text/javascript">
            //GetMenuRights();
            function GetMenuRights() {

                 
                $("#menu-home-tca-renewal").hide();
                $("#menu-home-tca-closure").hide();
                $("#menu-home-tca-status").hide();
                var user = $.cookie("CurrentUser");
                var currentUser = JSON.parse(user);
                menus = currentUser.MenuConfig.split(",");
                jQuery.each(menus, function (index, item) {
                     
                    if (item == 22) {
                        $("#menu-home-tca-renewal").show();
                    } if (item == 23) {
                        $("#menu-home-tca-closure").show();
                    } if (item == 21) {
                        $("#menu-home-tca-status").show();
                    }
                });

            }
            //IsAddAllow();
            //function IsAddAllow() {
            //    var isAllow = $("#IsAllowAdd").val();
            //    if (isAllow == 1)
            //        $("#ContainerAddOrUpdate").show();
            //    else
            //        $("#ContainerAddOrUpdate").hide();
            //}
            $(".Page").click(function (e) {
                var page = parseInt($(this).data("id"));
                var defaultPageSize = $("#defaultPageSize").val();
                var search = $("#Search").val();
                //alert(page);
                getAgreementList(search, page, defaultPageSize)
            });
            $("#defaultPageSize").change(function () {
                var search = $("#Search").val();
                var defaultPageSize = $("#defaultPageSize").val();
                getAgreementList(search, 1, defaultPageSize)
            });
            $("#btn-search").click(function (e) {
                var search = $("#Search").val();
                var defaultPageSize = $("#defaultPageSize").val();
                getAgreementList(search, 1, defaultPageSize)
            });

            function getAgreementList(search, page, defaultPageSize) {
                $.ajax(
                   {
                       url: "../Tca/List",
                       type: "Get",
                       data: { Search: search, page: page, defaultPageSize: defaultPageSize },
                       success: function (html) {
                           $("#agreementList").html(html);
                       },
                       error: function (jqXhr, textStatus, errorThrown) {
                           $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                           $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                           $(".result-title").text("Failure");
                           $(".result-modal-body span").text("Could not retrive records!");
                           $('#masterResultModal').modal('show');
                           //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                       },
                       complete: function () {
                           //   $("#VerifyIdDetailsLoader").addClass("hide");
                       }
                   });
            }
            function beginPaging(args) {
                // Animate
                $('#grid-list').fadeOut('normal');
            }

            function successPaging() {
                // Animate
                $('#grid-list').fadeIn('normal');
                $('a').tooltip();
            }

            function failurePaging() {
                $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                $(".result-title").text("Failure");
                $(".result-modal-body span").text("Could not retrive records!");
                $('#masterResultModal').modal('show');
                //alert("Could not retrieve list.");
            }

        </script>
    </div>
</div>
<script>

    $(".agreement-closure").on("click", function (e) {
        e.preventDefault();
        var id = $(this).data("agreementno");
        $.ajax(
            {
                url: "../Tca/Closure",
                type: "Get",
                data: { AgreementNo: id },
                success: function (result) {
                     
                    //var data=jQuery.parseJSON(result);
                    if (result.Errors == undefined || result.Errors == "") {
                        $("#closureContainer").empty();
                        $("#closureContainer").html(result);
                        $("#closureModal").modal('show');
                        //alert(result.Agreement_No);
                        //$("#Agreement_No").val(result.Agreement_No);
                        //$("#CountryId").val(result.Id);
                        //$("#CountryName").val(result.Country);
                    }
                    else {
                        $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                        $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                        $(".result-title").text("Failure");
                        $(".result-modal-body span").text(data.Errors);
                        $('#masterResultModal').modal('show');
                        //alert(data.Errors);
                    }
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                    $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                    $(".result-title").text("Failure");
                    $(".result-modal-body span").text("Could not able to process your requests");
                    $('#masterResultModal').modal('show');
                    //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                },
                complete: function () {
                    var AgreementNo = id;
                    AgreementClosurePdc(AgreementNo);
                    AgreementFacility(AgreementNo);
                    //AgreementDocument(AgreementNo);
                    AgreementUtility(AgreementNo);
                    //AgreementUnit(AgreementNo);
                    AgreementCheckList(AgreementNo);
                    $("body").scrollTop(0);
                }
            });
    });
    //Edit get

    $(".agreement-renewal").click(function (e) {
        // $("#img-loader").removeClass("hide");
        e.preventDefault();
        var id = $(this).data("agreementno");
        $.ajax(
            {
                url: "../Tca/Renewal",
                type: "Get",
                data: { AgreementNo: id },
                success: function (result) {
                     
                    //var data=jQuery.parseJSON(result);
                    if (result.Errors == undefined || result.Errors == "") {
                        $("#renewalAddOrUpdateContainer").empty();
                        $("#renewalAddOrUpdateContainer").html(result);
                        $("#renewalModal").modal('show');
                        //$("#CountryId").val(result.Id);
                        //$("#CountryName").val(result.Country);
                    }
                    else {
                        $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                        $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                        $(".result-title").text("Failure");
                        $(".result-modal-body span").text(result.Errors);
                        $('#masterResultModal').modal('show');
                        //alert(data.Errors);
                    }
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                    $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                    $(".result-title").text("Failure");
                    $(".result-modal-body span").text("Could not able to process your requests");
                    $('#masterResultModal').modal('show');
                    //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                },
                complete: function () {
                    var AgreementNo = id;
                    AgreementPdc(AgreementNo);
                    AgreementFacility(AgreementNo);
                    AgreementDocument(AgreementNo);
                    AgreementUtility(AgreementNo);
                    AgreementUnit(AgreementNo);
                    AgreementCheckList(AgreementNo);
                    $("body").scrollTop(0);
                }
            });
    });


    $(".agreement-edit").click(function (e) {
        // $("#img-loader").removeClass("hide");
        //alert("jhb");
        e.preventDefault();
        var id = $(this).data("agreementno");
        $.ajax(
            {
                url: "../Tca/Edit",
                type: "Get",
                data: { AgreementNo: id },
                success: function (result) {
                     
                    //var data=jQuery.parseJSON(result);
                    if (result.Errors == undefined || result.Errors == "") {
                        $("#renewalAddOrUpdateContainer").empty();
                        $("#renewalAddOrUpdateContainer").html(result);
                        $("#renewalModal").modal('show');
                        //$("#CountryId").val(result.Id);
                        //$("#CountryName").val(result.Country);
                    }
                    else {
                        $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                        $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                        $(".result-title").text("Failure");
                        $(".result-modal-body span").text(result.Errors);
                        $('#masterResultModal').modal('show');
                        //alert(data.Errors);
                    }
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                    $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                    $(".result-title").text("Failure");
                    $(".result-modal-body span").text("Could not able to process your requests");
                    $('#masterResultModal').modal('show');
                    //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                },
                complete: function () {
                    var AgreementNo = id;
                    AgreementPdc(AgreementNo);
                    AgreementFacility(AgreementNo);
                    AgreementDocument(AgreementNo);
                    AgreementUtility(AgreementNo);
                    AgreementUnit(AgreementNo);
                    AgreementCheckList(AgreementNo);
                    $("body").scrollTop(0);
                }
            });
    });


    $(".agreement-stats").click(function (e) {
        // $("#img-loader").removeClass("hide");
        e.preventDefault();
        var id = $(this).data("agreementno");
        $.ajax(
            {
                url: "../Tca/Status",
                type: "Get",
                data: { AgreementNo: id },
                success: function (result) {
                     
                    //var data=jQuery.parseJSON(result);
                    if (result.Errors == undefined || result.Errors == "") {
                        $("#StatusContainer").empty();
                        $("#StatusContainer").html(result);
                        $("#statusModal").modal('show');

                    }
                    else {
                        $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                        $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                        $(".result-title").text("Failure");
                        $(".result-modal-body span").text(result.Errors);
                        $('#masterResultModal').modal('show');
                        //alert(data.Errors);
                    }
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                    $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                    $(".result-title").text("Failure");
                    $(".result-modal-body span").text("Could not able to process your requests");
                    $('#masterResultModal').modal('show');
                    //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                },
                complete: function () {
                    // $("body").scrollTop(0);
                }
            });
    });
    //Add or update
    $("form#Status").off("submit").on("submit", function (e) {
        e.preventDefault();

        try {
            //var form = $("form#Status");
            var search = $("Search").val();
            alert($("Search").val());
            alert("search");
            $.ajax(
           {
               url: "../Tca/List",
               type: "Get",
               data: { Search: search, page: page, defaultPageSize: defaultPageSize },
               success: function (html) {
                   $("#agreementList").empty();
                   $("#agreementList").html(html);
               },
               error: function (jqXhr, textStatus, errorThrown) {
                   //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                   $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                   $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                   $(".result-title").text("Failure");
                   $(".result-modal-body span").text("Could not able to process your requests");
                   $('#masterResultModal').modal('show');
               },
               complete: function () {
                   //   $("#VerifyIdDetailsLoader").addClass("hide");
               }
           });
            // var form = $('"form#VerifyId')[0]; // You need to use standart javascript object here
            //var formData = new FormData(form);

            //$.ajax(
            //    {
            //        url: "../Tca/Status",
            //        // dataType: "jsonp",
            //        method: "POST",
            //        data: JSON.stringify($(form).serializeObject()), //FormData(form.get(0)),
            //        contentType: "application/json",
            //        processData: false,
            //        success: function (response) {
            //            $("#statusModal").modal('hide');
            //            $(".result-title").text("Success");
            //            $(".result-modal-body span").text("Status saved successfully.");
            //        },
            //        error: function (jqXhr, textStatus, errorThrown) {
            //            //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");

            //            $(".result-title").text("Failure");
            //            $(".result-modal-body span").text(masterResultError);
            //        },
            //        complete: function () {
            //            // $("#").addClass("hide");
            //            $('#masterResultModal').modal('show');
            //        }

            //    });

              

        }
        catch (ex) {
            alert(ex);
        }

    });
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };


    function AgreementClosurePdc(AgreementNo) {
         
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementClosurePdc",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            // contentType: "application/json",
            // processData: false,
            success: function (html) {
                $("#TcaRenewal #AgreementPdcR").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                $(".result-title").text("Failure");
                $(".result-modal-body span").text("Could not able to process your requests");
                $('#masterResultModal').modal('show');
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function AgreementPdc(AgreementNo) {
         
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementPdc",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            // contentType: "application/json",
            // processData: false,
            success: function (html) {
                $("#TcaRenewal #AgreementPdcR").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                $(".result-title").text("Failure");
                $(".result-modal-body span").text("Could not able to process your requests");
                $('#masterResultModal').modal('show');
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function AgreementFacility(AgreementNo) {
         
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementFacility",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            //contentType: "application/json",
            //processData: false,
            success: function (html) {
                $("#TcaRenewal #AgreementFacilityR").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                $(".result-title").text("Failure");
                $(".result-modal-body span").text("Could not able to process your requests");
                $('#masterResultModal').modal('show');
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function AgreementDocument(AgreementNo) {
         
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementDocument",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            //contentType: "application/json",
            //processData: false,
            success: function (html) {
                $("#TcaRenewal #AgreementDocumentR").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                $(".result-title").text("Failure");
                $(".result-modal-body span").text("Could not able to process your requests");
                $('#masterResultModal').modal('show');
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function AgreementUtility(AgreementNo) {
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementUtility",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            //contentType: "application/json",
            //processData: false,
            success: function (html) {
                $("#TcaRenewal #AgreementUtilityR").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                $(".result-title").text("Failure");
                $(".result-modal-body span").text("Could not able to process your requests");
                $('#masterResultModal').modal('show');
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function AgreementUnit(AgreementNo) {
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementUnit",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            //contentType: "application/json",
            //processData: false,
            success: function (html) {
                $("#TcaRenewal #AgreementUnitR").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                $(".result-title").text("Failure");
                $(".result-modal-body span").text("Could not able to process your requests");
                $('#masterResultModal').modal('show');
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function AgreementCheckList(AgreementNo) {
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementCheckList",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            //contentType: "application/json",
            //processData: false,
            success: function (html) {
                $("#TcaRenewal #AgreementCheckListR").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                $(".result-title").text("Failure");
                $(".result-modal-body span").text("Could not able to process your requests");
                $('#masterResultModal').modal('show');
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function getAgreementList(search, page, defaultPageSize) {
        var search ;
        var page;
        var defaultPageSize;
        $.ajax(
           {
               url: "../Tca/List",
               type: "Get",
               data: { Search: search, page: page, defaultPageSize: defaultPageSize },
               success: function (html) {
                   $("#agreementList").empty();
                   $("#agreementList").html(html);
               },
               error: function (jqXhr, textStatus, errorThrown) {
                   //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                   $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                   $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                   $(".result-title").text("Failure");
                   $(".result-modal-body span").text("Could not able to process your requests");
                   $('#masterResultModal').modal('show');
               },
               complete: function () {
                   //   $("#VerifyIdDetailsLoader").addClass("hide");
               }
           });
    }
    $(".agreement-delete").click(function (e) {
        e.preventDefault();
        var id = $(this).data("agreementno");
        var single_multiple_flg = $(this).data("singlemultipleflag");
        var propertyid = $(this).data("propid");
        //alert(single_multiple_flg);
        var r = confirm("Are you sure want to delete?");
        if (r == false) {
            return;
        }
        else {
            $.ajax(
                {
                    url: "../Tca/Delete",
                    type: "Get",

                    data: { AgreementNo: id, SingleMultipleFlag: single_multiple_flg, PropertyID: propertyid },

                    success: function (response) {

                        getAgreementList("","","");
                    },
                    error: function (jqXhr, textStatus, errorThrown) {

                        //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                        $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                        $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                        $(".result-title").text("Failure");
                        $(".result-modal-body span").text("Could not able to process your requests");
                        $('#masterResultModal').modal('show');
                    },
                    complete: function () {
                        //GetCountry();
                        // $("#").addClass("hide");
                    }
                });
        }
    });

    $(".agreement-print").click(function (e) {
        // $("#img-loader").removeClass("hide");
        e.preventDefault();
        var id = $(this).data("agreementno");
        $.ajax(
            {
                url: "../Tca/Print",
                type: "Get",
                data: { AgreementNo: id },
                success: function (result) {
                    //var data=jQuery.parseJSON(result);
                    if (result.Errors == undefined || result.Errors == "") {
                        $("#PrintContainer").empty();
                        $("#PrintContainer").html(result);
                        $("#contractModal").modal('show');

                    }
                    else {
                        //alert(data.Errors);
                        $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                        $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                        $(".result-title").text("Failure");
                        $(".result-modal-body span").text(result.Errors);
                        $('#masterResultModal').modal('show');
                    }
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                    $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                    $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                    $(".result-title").text("Failure");
                    $(".result-modal-body span").text("Could not able to process your requests");
                    $('#masterResultModal').modal('show');
                },
                complete: function () {
                    // $("body").scrollTop(0);
                }
            });
    });

    $("#go").click(function (e) {
        e.preventDefault();

        try {
            //var form = $("form#Status");
            var search = $("#Search").val();
            var page;
            var defaultPageSize;
            //alert($("#Search").val());
            //alert(search);
            $.ajax(
           {
               url: "../Tca/List",
               type: "Get",
               data: { Search: search, page: page, defaultPageSize: defaultPageSize },
               success: function (html) {
                   $("#agreementList").empty();
                   $("#agreementList").html(html);
               },
               error: function (jqXhr, textStatus, errorThrown) {
                   //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                   $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                   $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                   $(".result-title").text("Failure");
                   $(".result-modal-body span").text("Could not able to process your requests");
                   $('#masterResultModal').modal('show');
               },
               complete: function () {
                   //   $("#VerifyIdDetailsLoader").addClass("hide");
               }
           });
            // var form = $('"form#VerifyId')[0]; // You need to use standart javascript object here
            //var formData = new FormData(form);

            //$.ajax(
            //    {
            //        url: "../Tca/Status",
            //        // dataType: "jsonp",
            //        method: "POST",
            //        data: JSON.stringify($(form).serializeObject()), //FormData(form.get(0)),
            //        contentType: "application/json",
            //        processData: false,
            //        success: function (response) {
            //            $("#statusModal").modal('hide');
            //            $(".result-title").text("Success");
            //            $(".result-modal-body span").text("Status saved successfully.");
            //        },
            //        error: function (jqXhr, textStatus, errorThrown) {
            //            //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");

            //            $(".result-title").text("Failure");
            //            $(".result-modal-body span").text(masterResultError);
            //        },
            //        complete: function () {
            //            // $("#").addClass("hide");
            //            $('#masterResultModal').modal('show');
            //        }

            //    });



        }
        catch (ex) {
            alert(ex);
        }
    });
</script>