<!--
  File Name      : PropertyProfiling.cshtml
  Description    : Property profiling page
  Created Date   : 24-Mar-2017
  Notes          : <Notes>
-->


@{
    ViewBag.Title = "Property Profiling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-block p-t-5-p">
    <div class="blank">
        <div id="AgreementForm">
        </div>
        <div id="AgreementPdc">
        </div>
        <div id="AgreementDocument">
        </div>
        <div id="AgreementUtility">
        </div>
        <div id="AgreementUnit">
        </div>
        <div id="AgreementCheckList">
        </div>
        @*@Html.Partial("Agreement/_AgreementForm")*@

        <!-- Begin Grid view -->
        <div class="row">
            &nbsp;
        </div>
        <div class="row leama-fieldset leama-header-top" style="background-color:white;">
            <div class="col-md-12">
                <div class="col-md-12 leama-fieldset ">
                    <div class="col-md-2 pull-left">
                        @Html.Label("Search", htmlAttributes: new { @class = "leama-field-name" })
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="leama-field form-control" />
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-info leama-search-btn col-md-4">Go</button>
                    </div>
                </div>

                <div class="col-md-12 leama-fieldset ">
                    &nbsp;
                </div>

                <div class="divTable leama-fieldset col-md-12">


                    <div class="divTableBody divFontBodyTable">
                        <div class="divTableHeading">
                            <div class="divTableCell">Agreement No</div>
                            <div class="divTableCell">Property Name</div>
                            <div class="divTableCell">Tenant Name</div>
                            <div class="divTableCell">Unit Name</div>
                            <div class="divTableCell">Action</div>

                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">1562154</div>
                            <div class="divTableCell">Agri land</div>
                            <div class="divTableCell">Michele</div>
                            <div class="divTableCell">Qwerty 123</div>
                            <div class="divTableCell">
                                @Html.ActionLink(" ", "Edit", null, new { @class = "glyphicon glyphicon-open", title = "Renewal", @data_toggle = "modal", @data_target = "#renewalModal" })  |
                                @Html.ActionLink(" ", "Edit", null, new { @class = "glyphicon glyphicon-save", title = "Closure", @data_toggle = "modal", @data_target = "#closureModal" })  |
                                @Html.ActionLink(" ", "Edit", null, new { @class = "glyphicon glyphicon-stats", title = "Status", @data_toggle = "modal", @data_target = "#statusModal" })  |
                                @Html.ActionLink(" ", "Edit", null, new { @class = "glyphicon glyphicon-edit", title = "Edit" })  |
                                @Html.ActionLink(" ", "Details", null, new { @class = "glyphicon glyphicon-trash", @style = "color:red", title = "Delete" })
                            </div>
                        </div>
                        <div class="divTableRow divFontBodyTable">
                            <div class="divTableCell">21485421</div>
                            <div class="divTableCell">Empty land</div>
                            <div class="divTableCell">Stephen</div>
                            <div class="divTableCell">unit1245</div>
                            <div class="divTableCell">
                                @Html.ActionLink(" ", "Edit", null, new { @class = "glyphicon glyphicon-open", title = "Renewal", @data_toggle = "modal", @data_target = "#renewalModal" })  |
                                @Html.ActionLink(" ", "Edit", null, new { @class = "glyphicon glyphicon-save", title = "Closure", @data_toggle = "modal", @data_target = "#closureModal" })  |
                                @Html.ActionLink(" ", "Edit", null, new { @class = "glyphicon glyphicon-stats", title = "Status", @data_toggle = "modal", @data_target = "#statusModal" })  |
                                @Html.ActionLink(" ", "Edit", null, new { @class = "glyphicon glyphicon-edit", title = "Edit" })  |
                                @Html.ActionLink(" ", "Details", null, new { @class = "glyphicon glyphicon-trash", @style = "color:red", title = "Delete" })
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                        <ul class="pagination pull-right">
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Grid view -->
        <!-- Trigger the modal with a button -->
        @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#closureModal">Closure Modal</button>

            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#renewalModal">Renewal Modal</button>

            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#statusModal">Status Modal</button>*@

        <!-- Modal -->
      s
    </div>
</div>

<script>
    $("#test-modal").click(function (e) {
        $('#myModal').modal('hide');
    });

</script>


<!-- including css & jQuery Dialog UI here-->
@*<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

    <div class="inner-block p-t-5-p">
        <div class="blank">

            <div class="main">
                <div id="dialog" title="Dialog Form">
                    <form action="" method="post">
                        <label>Name:</label><br />
                        <input type="text" id="name" name="name"><br />

                        <label>Email:</label><br />
                        <input type="text" id="email" name="email"><br />

                        <input type="submit" id="submit" value="Submit" />
                    </form>
                </div>
                <h2>jQuery Dialog Form Example</h2><hr />
                <p>Click below button to see jQuery dialog form.</p>
                <input type="button" id="button" value="Open Dialog Form" />
            </div>

        </div>
    </div>

    <script>

        $(document).ready(function () {

            $(function () {
                $("#dialog").dialog({
                    autoOpen: false
                });
                $("#button").on("click", function () {
                    $("#dialog").dialog("open");
                });
            });

            //validating Form Fields.....
            $("#submit").click(function (e) {

                var email = $("#email").val();
                var name = $("#name").val();


                if (email === '' || name === '') {
                    alert("Please fill all fields...!!!!!!");
                    e.preventDefault();
                }
                //else if (!(email).match(emailReg)) {
                //    alert("Invalid Email...!!!!!!");
                //    e.preventDefault();
                //}
                else {
                    alert("Form Submitted Successfully......");
                }

            });

        });


    </script>*@

<script>
    CreateAgreement();
    //AgreementPdc();
    //AgreementDocument();
    //AgreementUtility();
    //AgreementUnit();
    //AgreementCheckList();
    function CreateAgreement() {
        debugger;
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AddOrUpdate",
            type: "Get",
            data: {},
            contentType: "application/json",
            processData: false,
            success: function (html) {
                $("#AgreementForm").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                debugger;
                $("#img-loader").addClass("hide");
                var AgreementNo = $("#Agreement_No").val();
                alert(AgreementNo);
                AgreementPdc(AgreementNo);
                AgreementDocument(AgreementNo);
                AgreementUtility(AgreementNo);
                AgreementUnit(AgreementNo);
                AgreementCheckList(AgreementNo);
            }
        });
    }
    function AgreementPdc(AgreementNo) {
        debugger;
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementPdc",
            type: "Get",
            data: { AgreementNo: AgreementNo },
           // contentType: "application/json",
           // processData: false,
            success: function (html) {
                $("#AgreementPdc").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function AgreementDocument(AgreementNo) {
        debugger;
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementDocument",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            //contentType: "application/json",
            //processData: false,
            success: function (html) {
                $("#AgreementDocument").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function AgreementUtility(AgreementNo) {
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementUtility",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            //contentType: "application/json",
            //processData: false,
            success: function (html) {
                $("#AgreementUtility").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function AgreementUnit(AgreementNo) {
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementUnit",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            //contentType: "application/json",
            //processData: false,
            success: function (html) {
                $("#AgreementUnit").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }
    function AgreementCheckList(AgreementNo) {
        $("#img-loader").removeClass("hide");
        $.ajax(
        {
            url: "../Tca/AgreementCheckList",
            type: "Get",
            data: { AgreementNo: AgreementNo },
            //contentType: "application/json",
            //processData: false,
            success: function (html) {
                $("#AgreementCheckList").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                $("#img-loader").addClass("hide");
            }
        });
    }

</script>
