

@using MvcPaging
@model IPagedList<LeaMaPortal.Models.SupplierViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<div class="col-md-12 leama-fieldset leama-header-top" style="background-color:white;">
    <div id="master-loader-list" class="fa hide">
    </div>
    <div class="row" id="supplier-list">
        <div class="col-md-12 leama-fieldset ">
            <div class="col-md-2 pull-left">
                @Html.Label("Search", htmlAttributes: new { @class = "leama-field-name" })
            </div>
            <div class="col-md-4">
                <input type="text" class="leama-field form-control" name="Search" id="Search" value="@ViewData["Search"]" />
            </div>
            <div class="col-md-4">
                <button type="button" id="btn-search" class="btn btn-info leama-search-btn col-md-4">Go</button>
            </div>
        </div>

        <div class="col-md-12 leama-fieldset ">
            &nbsp;
        </div>

        <div class="divTable leama-fieldset col-md-12">


            <div class="divTableBody divFontBodyTable">
                <div class="divTableHeading">
                    <div class="divTableCell">Supplier Id</div>
                    <div class="divTableCell">Supplier Name</div>
                    <div class="divTableCell">First Name</div>
                    <div class="divTableCell">Email</div>
                    <div class="divTableCell">Address</div>
                    <div class="divTableCell">Action</div>

                </div>
                @foreach (var item in Model)
                {
                    <div class="divTableRow">
                        <div class="divTableCell">@item.Supplier_Id</div>
                        <div class="divTableCell">@item.Supplier_Name</div>
                        <div class="divTableCell">@item.First_Name</div>
                        <div class="divTableCell">@item.Email</div>
                        <div class="divTableCell">@item.address</div>
                        <div class="divTableCell">
                            @if (@ViewBag.IsEditable == 1)
                            {
                                <span>
                                    @Html.ActionLink(" ", "Edit", null, new { @class = "glyphicon glyphicon-edit supplier-edit", title = "Edit", @data_id = @item.Supplier_Id })
                                </span>
                            }
                            @if (@ViewBag.IsDeletable == 1)
                            {
                                <span>
                                    | @Html.ActionLink(" ", "Delete", null, new { @class = "glyphicon glyphicon-trash supplier-delete", @style = "color:red", @title = "Delete", @data_id = @item.Supplier_Id })
                                </span>
                            }

                            @*| @Html.ActionLink(" ", "Details", null, new { @class = "glyphicon glyphicon-th-list", title = "Details" })*@
                        </div>

                    </div>
                            }


            </div>

        </div>

        <div class="col-md-12">
            @Html.HiddenFor(m => m.PageNumber)
            <div class="col-md-2">
                @Html.DropDownList("defaultPageSize", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-lg-10 text-right">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    if (i == Model.PageNumber)
                    {
                        <input type="button" data-id="@i" value="@i" class="pagination-btn" />
                    }
                    else
                    {
                        <input type="button" data-id="@i" value="@i" class="Page" />
                    }

                }
            </div>
        </div>

        <div class="col-md-12 leama-fieldset ">
            &nbsp;
        </div>

        <script type="text/javascript">
            $(".Page").click(function (e) {
                $("#master-loader-list").removeClass("hide");
                $("#supplier-list").addClass("hide");
                var page = parseInt($(this).data("id"));
                var defaultPageSize = $("#defaultPageSize").val();
                var search = $("#Search").val();
                //alert(page);
                getCountryList(search, page, defaultPageSize)
            });
            $("#defaultPageSize").change(function () {
                $("#master-loader-list").removeClass("hide");
                $("#supplier-list").addClass("hide");
                var search = $("#Search").val();
                var defaultPageSize = $("#defaultPageSize").val();
                getCountryList(search, 1, defaultPageSize)
            });
            $("#btn-search").click(function (e) {
                $("#master-loader-list").removeClass("hide");
                $("#supplier-list").addClass("hide");
                var search = $("#Search").val();
                var defaultPageSize = $("#defaultPageSize").val();
                getCountryList(search, 1, defaultPageSize)
            });

            function getCountryList(search, page, defaultPageSize) {
                $.ajax(
                   {
                       url: "../Supplier/Index",
                       type: "Get",
                       data: { Search: search, page: page, defaultPageSize: defaultPageSize },
                       success: function (html) {
                           $("#ContainerList").html(html);
                       },
                       error: function (jqXhr, textStatus, errorThrown) {
                           alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                       },
                       complete: function () {
                           //   $("#VerifyIdDetailsLoader").addClass("hide");
                           //$("#master-loader-list").addClass("hide");
                           //$("#supplier-list").removeClass("hide");
                       }
                   });
            }
            function beginPaging(args) {
                // Animate
                $('#grid-list').fadeOut('normal');
            }

            function successPaging() {
                // Animate
                $('#grid-list').fadeIn('normal');
                $('a').tooltip();
            }

            function failurePaging() {
                alert("Could not retrieve list.");
            }

        </script>
    </div>


</div>
<script>
    $(".supplier-edit").click(function (e) {
        e.preventDefault();
        $("#master-loader-edit").removeClass("hide");
        $("#ContainerAddOrUpdate").hide();
        var supplierId = $(this).data("id");
        $.ajax(
            {
                url: "../Supplier/Edit",
                type: "Get",
                data: { Supplier_Id: supplierId },
                success: function (html) {
                    $("#ContainerAddOrUpdate").html(html);
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                },
                complete: function () {
                    $("body").scrollTop(0);
                    $("#master-loader-edit").addClass("hide");
                    $("#ContainerAddOrUpdate").show();
                }
            });
    });

    $(".supplier-delete").click(function (e) {
        debugger;
        e.preventDefault();
        var supplierId = $(this).data("id");

        var r = confirm("Are you sure want to delete?");
        if (r == false) {
            return;
        }
        else {
            $.ajax(
                {
                    url: "../Supplier/Delete",
                    type: "Post",
                    data: { Supplier_Id: supplierId },
                    success: function (response) {
                        GetSupplier();
                        if (response.Errors == null) {
                            $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-error");
                            $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-success");
                            $(".result-title").text("Success");
                            $(".result-modal-body span").text(response.Message);
                        }
                        else {
                            $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                            $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                            $(".result-title").text("Failure");
                            $(".result-modal-body span").text(response.Errors);
                        }
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                        $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                        $(".result-title").text("Failure");
                        $(".result-modal-body span").text(masterResultError);
                    },
                    complete: function () {
                        $('#masterResultModal').modal('show');

                    }
                });
        }
    });

</script>