@model LeaMaPortal.Models.VacancyReportModel
@{
    ViewBag.Title = "Vacanacy Report";
    Layout = null;
}

@using (Html.BeginForm("GenerateReport", "VacancyReport", FormMethod.Post))
{
    <div id="Gridview" class="row document-row">
        <div class="col-md-12">
            <div class="col-md-2 form-group">
                @Html.LabelFor(model => model.Group, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("Group", null, "--Select--", new { @class = "form-control master-form-input" })
            </div>
            <div class="col-md-2 form-group">
                @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control master-form-input" } })
            </div>
            <div class="col-md-1 form-group">
                @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control master-form-input" } })
            </div>
            <div class="col-md-1 form-group">
                @Html.LabelFor(model => model.Filterby, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("Filterby", null, "--Select--", new { @class = "form-control master-form-input" })
            </div>
            <div class="col-md-2 form-group">
                @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control master-form-input" } })
            </div>
            <div class="col-md-1 form-group">
                @Html.LabelFor(model => model.AgingFilter, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("AgingFilter", null, "--Select--", new { @class = "form-control master-form-input" })
            </div>
            <div class="col-md-2 form-group">
                @Html.LabelFor(model => model.AgingFrom, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.AgingFrom, new { htmlAttributes = new { @class = "form-control master-form-input" } })
            </div>
            <div class="col-md-2 form-group">
                @Html.LabelFor(model => model.AgingTo, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.AgingTo, new { htmlAttributes = new { @class = "form-control master-form-input" } })
            </div>
            <div class="col-md-1 form-group">
                @Html.LabelFor(model => model.RentalAmountFilter, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("RentalAmountFilter", null, "--Select--", new { @class = "form-control master-form-input" })
            </div>
            <div class="col-md-2 form-group">
                @Html.LabelFor(model => model.RentalAmountFrom, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.RentalAmountFrom, new { htmlAttributes = new { @class = "form-control master-form-input" } })
            </div>
            <div class="col-md-2 form-group">
                @Html.LabelFor(model => model.RentalAmountTo, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.RentalAmountTo, new { htmlAttributes = new { @class = "form-control master-form-input" } })
            </div>
            <div class="col-md-1 btn-group">
                <br />
                <input type="submit" class="document-btn" id="btnsubmit" value="Submit" />
            </div>
        </div>

    </div>
}
@if (ViewBag.SelectedGroup == "Property" && ViewBag.ShowFrame)
{
    <iframe src="~/ReportASPX/VacancyReport/VacancyReportView.aspx" width="100%" height="450px"></iframe>
}
else if (ViewBag.SelectedGroup == "Region" && ViewBag.ShowFrame)
{

}
else if (ViewBag.SelectedGroup == "Caretaker" && ViewBag.ShowFrame)
{

}
