
@model LeaMaPortal.Models.PaymentDetailsViewModel


<div class="row">
    <div class="col-md-12 document-row" id="GridView">
        <div class="col-md-1">

        </div>
        <div class="col-md-2">
            @Html.EditorFor(model => model.Invtype, new { htmlAttributes = new { @class = "master-form-input" } })
        </div>
        <div class="col-md-2">
            @Html.EditorFor(model => model.Invno, new { htmlAttributes = new { @class = "master-form-input" } })
        </div>
        <div class="col-md-2">
            @Html.EditorFor(model => model.InvoiceDate, new { htmlAttributes = new { @class = "master-form-input" } })
        </div>
        <div class="col-md-2">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "master-form-input" } })
        </div>
        @*<div class="col-md-1">
                <button class="document-btn">Add</button>
            </div>
            <div class="col-md-1">
                <button class="document-btn">Delete</button>
            </div>*@
    </div>

    <div class="col-md-12 document-row" id="GridView">
        <div class="col-md-1">
            ID
        </div>
        <div class="col-md-2">
            Invoice Amount
        </div>
        <div class="col-md-2">
            Debit Amount
        </div>
        <div class="col-md-2">
            Paid Amount
        </div>
        <div class="col-md-2">
            Balance Amount
        </div>
        @*<div class="col-md-1">
                <button class="document-btn">Add</button>
            </div>
            <div class="col-md-1">
                <button class="document-btn">Delete</button>
            </div>*@
    </div>

</div>
<div class="row ht-5">
    &nbsp;
</div>
<div class="row">
    <div class="col-md-12 document-row" id="GridView">
        <div class="col-md-1">

        </div>
        <div class="col-md-2">
            @Html.EditorFor(model => model.InvoiceAmount, new { htmlAttributes = new { @class = "master-form-input" } })
        </div>
        <div class="col-md-2">
            @Html.EditorFor(model => model.DebitAmount, new { htmlAttributes = new { @class = "master-form-input" } })
        </div>
        <div class="col-md-2">
            @Html.EditorFor(model => model.PaidAmount, new { htmlAttributes = new { @class = "master-form-input" } })
        </div>
        <div class="col-md-2">
            @Html.EditorFor(model => model.Balance, new { htmlAttributes = new { @class = "master-form-input" } })
        </div>
        @*<div class="col-md-1">
                <button class="document-btn">Add</button>
            </div>
            <div class="col-md-1">
                <button class="document-btn">Delete</button>
            </div>*@
    </div>
    <div class="col-md-12 document-row" id="GridView">
        <div class="col-md-1">
            ID
        </div>
        <div class="col-md-2">
            Remarks
        </div>
    </div>

</div>
<div class="row ht-5">
    &nbsp;
</div>
<div class="row">

    <div class="col-md-12 document-row" id="GridView">
        <div class="col-md-1">

        </div>
        <div class="col-md-2">
            @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "master-form-input" } })
        </div>

        <div class="col-md-2 col-md-offset-2">
            <button class="document-btn" onclick="Add()">Add</button>
        </div>
        <div class="col-md-2">
            <button class="document-btn">Delete</button>
        </div>
    </div>
</div>
<script>
    var count = 1;
    function Add() {

        var UtilityId = document.getElementById("UtilityId").value;
        var UtilityName = document.getElementById("UtilityName").value;

        var html = "<div class='col-md-12 document-row' id='GridView"+count+"'>";
        html=html+"<div class='col-md-1'>";
        html = html + count;
        html=html+" </div>";
        html = html + " <div class='col-md-3'> <input id='UtilityId" +count+"'  type='text' value='" +UtilityId+ "' class='master-form-input' /></div>";
        html = html + "<div class='col-md-4'> <input id='UtilityId" +count+ "' type='text'  value='" +UtilityName+ "' class='master-form-input' /></div>";
      //  html=html+ "<div class='col-md-2'><button class='document-btn'>Add</button> </div>";
        html = html + "<div class='col-md-2'>  <button class='document-btn' id='Delete"+count+"' onclick='Delete(this)'>Delete</button></div>";
        html=html+"</div>";
        $('#UtilityForm').append(html);

        document.getElementById("UtilityId").value="";
       document.getElementById("UtilityName").value="";
       count = count + 1;

    }
    function Delete(e) {
        DeleteRow = e.parentNode.parentNode.id;
        $('#' + DeleteRow).remove();
    }
</script>

