
@model LeaMaPortal.Models.AgreementUnitViewModel

<div class="row p-b-25 text-uppercase">
    <span> <strong> Agreement unit - only for multiple units </strong> </span>
</div>

<div class="row" id="AgreementUnit-Renewal">
    <div class="col-md-12 document-row">
        <div class="col-md-2">
            @Html.LabelFor(model => model.Property_ID, htmlAttributes: new { @class = "label-default-remove" })
        </div>
        <div class="col-md-3">
            @Html.LabelFor(model => model.Properties_Name, htmlAttributes: new { @class = "label-default-remove" })
        </div>
        <div class="col-md-2">
            @Html.LabelFor(model => model.Property_ID_Tawtheeq, htmlAttributes: new { @class = "label-default-remove" })
        </div>
        <div class="col-md-2">
            @Html.LabelFor(model => model.Unit_ID_Tawtheeq, htmlAttributes: new { @class = "label-default-remove" })
        </div>
        <div class="col-md-2">
            @Html.LabelFor(model => model.Unit_Property_Name, htmlAttributes: new { @class = "label-default-remove" })
        </div>        
    </div>
    <div class="col-md-12 document-row">
        <div class="col-md-2">
            @Html.DropDownList("Property_ID", null, "--Select--", new { @class = "form-control master-form-input AgreementPdMonth" })
        </div>
        <div class="col-md-3">
          @Html.DropDownList("Properties_Name", null, "--Select--", new { @class = "form-control master-form-input AgreementPdMonth" })
        </div>
        <div class="col-md-2">
           @Html.DropDownList("Property_ID_Tawtheeq", null, "--Select--", new { @class = "form-control master-form-input AgreementPdMonth" })
        </div>
        <div class="col-md-2">
            @Html.DropDownList("Unit_ID_Tawtheeq", null, "--Select--", new { @class = "form-control master-form-input AgreementPdMonth" })
        </div>
        <div class="col-md-2">
           @Html.DropDownList("Unit_Property_Name", null, "--Select--", new { @class = "form-control master-form-input AgreementPdMonth" })
        </div>
        <div class="col-md-1">
            <button class="document-btn" onclick="addAgreementUnitListRenewal(event);">Add</button>
        </div>
    </div>
</div>
<div class="row ht-5">
    &nbsp;
</div>

@*@Html.Partial("_AgreementUnitDetails",Model)*@
<input type="hidden"  value="@Model.AgreementUnitList.Count" id="AgreementUnitListCount-Renewal" />
<div class="row">

    <table id="AgreementUnitList-Renewal" class="col-md-12 document-row">

        @for (int i = 0; i < Model.AgreementUnitList.Count; i++)
            {

            <tr>
                <td>
                    <input type="hidden" name="AgreementUnitList[@i].Property_ID" id="AgreementUnitList[@i].Property_ID" value="@Model.AgreementUnitList[i].Property_ID" data-name="Property_ID" />
                    <input type="hidden" name="AgreementUnitList[@i].Properties_Name" id="AgreementUnitList[@i].Properties_Name" value="@Model.AgreementUnitList[i].Properties_Name" data-name="Properties_Name" />
                    <input type="hidden" name="AgreementUnitList[@i].Property_ID_Tawtheeq" id="AgreementUnitList[@i].Property_ID_Tawtheeq" value="@Model.AgreementUnitList[i].Property_ID_Tawtheeq" data-name="Property_ID_Tawtheeq" />

                    <input type="hidden" name="AgreementUnitList[@i].Unit_ID_Tawtheeq" id="AgreementUnitList[@i].Unit_ID_Tawtheeq" value="@Model.AgreementUnitList[i].Unit_ID_Tawtheeq" data-name="Unit_ID_Tawtheeq" />
                    <input type="hidden" name="AgreementUnitList[@i].Unit_Property_Name" id="AgreementUnitList[@i].Unit_Property_Name" value="@Model.AgreementUnitList[i].Unit_Property_Name" data-name="Unit_Property_Name" />
                    <div class="col-md-12 document-row">
                        <div class="col-md-1 col-md-1 w-md-13">
                            @Model.AgreementUnitList[i].Property_ID
                        </div>
                        <div class="col-md-1 w-md-14">
                            @Model.AgreementUnitList[i].Properties_Name
                            @*@Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "master-form-input" } })*@
                        </div>
                        <div class="col-md-1">
                            @Model.AgreementUnitList[i].Property_ID_Tawtheeq

                        </div>
                        <div class="col-md-1 w-md-15">
                            @Model.AgreementUnitList[i].Unit_ID_Tawtheeq
                            @*@Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "master-form-input" } })*@
                        </div>
                        <div class="col-md-1 w-md-14">
                            @*@Html.EditorFor(model => model.Cheque_No, new { htmlAttributes = new { @class = "master-form-input" } })*@
                            @Model.AgreementUnitList[i].Unit_Property_Name
                        </div>

                        <div class="col-md-1">
                            <button class="btn AgreementUnitList-Renewal-remove">X</button>
                        </div>
                    </div>
                </td>
            </tr>
        }

    </table>

</div>

<div class="row ht-5">
    &nbsp;
</div>



<div class="row ht-5">
    &nbsp;
</div>
<script>
    var AgreementUnitListCount = parseInt($("#AgreementUnitListCount-Renewal").val());

    function addAgreementUnitListRenewal(event) {
        event.preventDefault();
        //Property_ID_Tawtheeq
        var Property_ID = $("#AgreementUnit-Renewal #Property_ID").val();
        var Properties_Name = $("#AgreementUnit-Renewal #Properties_Name option:selected").text();
        var Property_ID_Tawtheeq = $("#AgreementUnit-Renewal #Property_ID_Tawtheeq option:selected").text();
        var Unit_ID_Tawtheeq = $("#AgreementUnit-Renewal #Unit_ID_Tawtheeq option:selected").text();
        var Unit_Property_Name = $("#AgreementUnit-Renewal #Unit_Property_Name option:selected").text();
        if (Unit_ID_Tawtheeq == '' || Property_ID == '') {
            $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
            $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
            $(".result-title").text("Failure");
            $(".result-modal-body span").text("Please select Unit");
            $('#masterResultModal').modal('show');
            //alert("Please select Unit Tawtheeq ID");
            return;
        }
        var isExist = isExistAgreementUnit(Unit_ID_Tawtheeq);
        if (isExist)
        {
            $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
            $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
            $(".result-title").text("Failure");
            $(".result-modal-body span").text("Record already exists!");
            $('#masterResultModal').modal('show');
            //alert("Already exist");
            return;
        }
        var html = "<tr><td>" +
                      "<input type='hidden' name='AgreementUnitList[" + AgreementUnitListCount + "].Property_ID' id='AgreementUnitList[" + AgreementUnitListCount + "].Property_ID' value='" + Property_ID + "' data-name='Property_ID' />" +
                      "<input type='hidden' name='AgreementUnitList[" + AgreementUnitListCount + "].Properties_Name' id='AgreementUnitList[" + AgreementUnitListCount + "].Properties_Name' value='" + Properties_Name + "' data-name='Properties_Name' />" +
                      "<input type='hidden' name='AgreementUnitList[" + AgreementUnitListCount + "].Property_ID_Tawtheeq' id='AgreementUnitList[" + AgreementUnitListCount + "].Property_ID_Tawtheeq' value='" + Property_ID_Tawtheeq + "' data-name='Property_ID_Tawtheeq' />" +
                      "<input type='hidden' name='AgreementUnitList[" + AgreementUnitListCount + "].Unit_ID_Tawtheeq' id='AgreementUnitList[" + AgreementUnitListCount + "].Unit_ID_Tawtheeq' value='" + Unit_ID_Tawtheeq + "' data-name='Unit_ID_Tawtheeq' />" +
                      "<input type='hidden' name='AgreementUnitList[" + AgreementUnitListCount + "].Unit_Property_Name' id='AgreementUnitList[" + AgreementUnitListCount + "].Unit_Property_Name' value='" + Unit_Property_Name + "' data-name='Unit_Property_Name' />" +
                      

                      "<div class='col-md-12 document-row'>" +
                          "<div class='col-md-1 col-md-1 w-md-13'>" + Property_ID + "</div>" +


                          "<div class='col-md-1 w-md-14'>" +

                          Properties_Name +

        "</div>" +
        "<div class='col-md-1'>" +
        Property_ID_Tawtheeq +
        "</div>" +
        "<div class='col-md-1 w-md-15'>" +

        Unit_ID_Tawtheeq +

        "</div>" +
        "<div class='col-md-1 w-md-14'>" +
            Unit_Property_Name +
        "</div>" +
       
        "<div class='col-md-1'>" +
           "<button class='btn AgreementUnitList-Renewal-remove'>X</button>" +
        "</div>" +
    "</div>" +
"</td>" +
"</tr>";

        //alert(html);
        $("#AgreementUnitList-Renewal").append(html);
        AgreementUnitListCount++;
    }

    function isExistAgreementUnit(Unit_ID_Tawtheeq)
    {
        var existfilelist = document.getElementById('AgreementUnitList-Renewal');
        var isExist = false;
        $(existfilelist).find('> tbody > tr').each(function () {

            $(this).find("input").each(function () {
                var dataname = $(this).data("name");
                if(dataname=="Unit_ID_Tawtheeq")
                {
                    if($(this).val().toLowerCase().trim()==Unit_ID_Tawtheeq.toLowerCase().trim())
                    {
                        isExist = true;
                        
                    }
                }
            });
        });
        return isExist;
    }

    $(document).on('click', 'button.AgreementUnitList-Renewal-remove', function () {
        $(this).closest('tr').remove();
        var existfilelist = document.getElementById('AgreementUnitList-Renewal');
        var newindex = 0;
        $(existfilelist).find('> tbody > tr').each(function () {

            $(this).find("input").each(function () {
                var dataname = $(this).data("name");
                //alert(dataname + $(this).val() + '-' + newindex)
                $(this).attr({
                    'id': function (_, id) {
                        return id + newindex
                    },
                    'name': function (_, name) {
                        //return name + iTenantDocument[0].Name
                        return 'AgreementUnitList[' + newindex + '].' + dataname
                    }
                });
            });

            newindex++;

        });
        AgreementUnitListCount = newindex;
    });
    $("#AgreementUnit-Renewal #Property_ID").change(function () {
         
        var propertyid = $("#AgreementUnit-Renewal #Property_ID").val();
        $("#AgreementUnit-Renewal #Properties_Name").val(propertyid);
        $("#AgreementUnit-Renewal #Property_ID_Tawtheeq").val(propertyid);
        $("#AgreementUnit-Renewal #Unit_ID_Tawtheeq").val(propertyid);
        $("#AgreementUnit-Renewal #Unit_Property_Name").val(propertyid);
        return;
    });
    $("#AgreementUnit-Renewal #Properties_Name").change(function () {
        var propertyid = $("#AgreementUnit-Renewal #Properties_Name").val();
        $("#AgreementUnit-Renewal #Property_ID").val(propertyid);
        $("#AgreementUnit-Renewal #Property_ID_Tawtheeq").val(propertyid);
        $("#AgreementUnit-Renewal #Unit_ID_Tawtheeq").val(propertyid);
        $("#AgreementUnit-Renewal #Unit_Property_Name").val(propertyid);
        return;
    });
    $("#AgreementUnit-Renewal #Property_ID_Tawtheeq").change(function () {
        var propertyid = $("#AgreementUnit-Renewal #Property_ID_Tawtheeq").val();
        $("#AgreementUnit-Renewal #Property_ID").val(propertyid);
        $("#AgreementUnit-Renewal #Properties_Name").val(propertyid);
        $("#AgreementUnit-Renewal #Unit_ID_Tawtheeq").val(propertyid);
        $("#AgreementUnit-Renewal #Unit_Property_Name").val(propertyid);
        return;
    });

    $("#AgreementUnit-Renewal #Unit_ID_Tawtheeq").change(function () {
        var propertyid = $("#AgreementUnit-Renewal #Unit_ID_Tawtheeq").val();
        $("#AgreementUnit-Renewal #Property_ID").val(propertyid);
        $("#AgreementUnit-Renewal #Properties_Name").val(propertyid);
        $("#AgreementUnit-Renewal #Property_ID_Tawtheeq").val(propertyid);
        $("#AgreementUnit-Renewal #Unit_Property_Name").val(propertyid);
        return;
    });
    $("#AgreementUnit-Renewal #Unit_Property_Name").change(function () {
        var propertyid = $("#AgreementUnit-Renewal #Unit_Property_Name").val();
        $("#AgreementUnit-Renewal #Property_ID").val(propertyid);
        $("#AgreementUnit-Renewal #Properties_Name").val(propertyid);
        $("#AgreementUnit-Renewal #Unit_ID_Tawtheeq").val(propertyid);
        $("#AgreementUnit-Renewal #Property_ID_Tawtheeq").val(propertyid);
        return;
    });

</script>