
@model LeaMaPortal.Models.CheckListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "CheckList" }))
{
    @Html.HiddenFor(m => m.Id, new { @id = "CheckListId" })
    <div class="col-md-12 leama-fieldset leama-header-top">
        <div class="row">
            <div class="col-md-12 leama-fieldset ">
                <div class="col-md-2 pull-left">
                    @Html.LabelFor(model => model.Checklist_Type, htmlAttributes: new { @class = "leama-field-name" })
                </div>
                <div class="col-sm-4 ">
                    @Html.DropDownList("Checklist_Type", null, htmlAttributes: new { @class = "master-form-input subheader-select", @required = "required", @id = "ChecklistType" })
                </div>
            </div>
            <div class="col-md-12 leama-fieldset ">
                <div class="col-md-2 pull-left">
                    @Html.LabelFor(model => model.Checklist_id, htmlAttributes: new { @class = "leama-field-name" })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Checklist_id, new { htmlAttributes = new { @class = "leama-field form-control", @required = "required", @id = "CheckList_Id", @readonly = "readonly" } })
                </div>
            </div>
            <div class="col-md-12 leama-fieldset ">
                <div class="col-md-2 pull-left">
                    @Html.LabelFor(model => model.Checklist_Name, htmlAttributes: new { @class = "leama-field-name" })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Checklist_Name, new { htmlAttributes = new { @class = "leama-field form-control", @required = "required", @id = "CheckListName" } })
                </div>
            </div>

            @*<div class="col-md-12 leama-fieldset ">
                    <div class="col-md-12 pull-left">
                        <button type="submit" class="col-md-offset-2 leama-btn">Submit</button>
                    </div>
                </div>*@
            <div class="col-md-12 form-input-padding btn-group-justified">
                <div class="col-md-3">

                </div>
                @if (Model.Id == 0)
                {
                    <div class="col-md-3">
                        <button class="btn master-form-btn" id="btnSubmit" type="submit">Submit</button>
                    </div>
                }
                else
                {
                    <div class="col-md-3">
                        <button class="btn master-form-btn" id="btnSubmit" type="submit">Update</button>
                    </div>
                }

                <div class="col-md-3">
                    <button class="btn master-form-btn" id="btnCancel" type="reset" onclick="formReset()">Cancel</button>
                </div>
                <div class="col-md-3">

                </div>

            </div>
        </div>
    </div>
}
<script>

    $(document).ready(function () {
        debugger;
        var id = $("#CheckListId").val();
        //alert(id);
        if (id != 0) {
            document.getElementById("btnSubmit").innerHTML = 'Update';
        }

    });

    function formReset() {
        CheckListAddOrUpdate();
    }

    //Add or update
    $("form#CheckList").off("submit").on("submit", function (e) {
        e.preventDefault();
        try {
            var form = $("form#CheckList");
            $.ajax(
                {
                    url: "../CheckList/AddOrUpdate",
                    // dataType: "jsonp",
                    method: "POST",
                    data: JSON.stringify($(form).serializeObject()),
                    contentType: "application/json",
                    processData: false,
                    success: function (response) {
                        if (response.Errors == undefined || response.Errors == "") {
                            GetCheckList();
                            $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-error");
                            $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-success");
                            $(".result-title").text("Success");
                            $(".result-modal-body span").text(checkListAdded);
                        }
                        else
                        {
                            //alert(response.Errors);
                            $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                            $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                            $(".result-title").text("Failure");
                            $(".result-modal-body span").text(response.Errors);
                        }
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                        $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                        $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                        $(".result-title").text("Failure");
                        $(".result-modal-body span").text(masterResultError);
                    },
                    complete: function () {
                        // $("#").addClass("hide");
                        $('#masterResultModal').modal('show');
                    }

                });

        }
        catch (ex) {
            alert(ex);
        }

    });
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
</script>
