
@model LeaMaPortal.Models.InvoiceViewModel
@{

Layout = null;
}
<link href="~/theme/css/model.css" rel="stylesheet" />
@using (Html.BeginForm("AddOrUpdate", "Invoice", FormMethod.Post, new { @id = "Invoice", @enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Id, new { @id = "Id" })
  
   @*<select id="dropDownId">
        <option value="1">Property Name</option>
        <option value="2">Property Id</option>
        <option value="3">Tenant Id</option>
        <option value="4">Tenant Name</option>
       <option value="5">Unit Id</option>
       <option value="6">Unit Name</option>
    </select>
    <input type="text" name="chkvalue" />
    <button onclick="myFunction()">Search</button>*@
    @*if (ViewBag.AgreementList!=null)
    {
        <script>
         $(function(){
             $("#myModal").modal('show');
         });
        </script>
    }
    if (ViewBag.AgreementList != null)
    {
    <div id="myModal" class="modal">

        <div class="modal-content">
            <span class="close" id="model-close">&times;</span>
            <div class="divTableBody divFontBodyTable">
                <div class="divTableHeading">
                    <div class="divTableCell">Property Id</div>
                    <div class="divTableCell">Property Name</div>
                    <div class="divTableCell">Unit Id</div>
                    <div class="divTableCell">Unit Name</div>
                    <div class="divTableCell">Tenant Id</div>
                    <div class="divTableCell">Tenant Name</div>
                </div>
                @foreach (var item in ViewBag.AgreementList)
                {
                <div class="divTableRow">
                    <div class="divTableCell">@item.Tenant_id</div>
                    <div class="divTableCell">@item.Tenant_Name</div>
                    <div class="divTableCell">@item.Property_ID</div>
                    <div class="divTableCell">@item.Property_Name</div>
                    <div class="divTableCell">@item.Unit_ID</div>
                    <div class="divTableCell">@item.unit_Name</div>
                </div>
                }
            </div>

    </div>
        </div>

    }*@
<div class="inner-block">
    <div class="blank">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.invtype, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownList("invtype", null, "--Select--", htmlAttributes: new { @class = "master-form-input form-control" })
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.invno, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-8">
                        <input type="text" value="@ViewBag.invno" disabled class="form-control master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "master-form-input form-control" } })
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Tenant_id, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-8">
                       @Html.DropDownList("Tenant_id", null, "--Select--", htmlAttributes: new { @class = "master-form-input form-control" })
                    </div>
                </div>

                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Tenant_Name, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownList("Tenant_Name", null, "--Select--", htmlAttributes: new { @class = "master-form-input form-control" })
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Agreement_No, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-8">
                        @*@Html.EditorFor(model => model.Agreement_No, new { htmlAttributes = new { @class = "master-form-input" } })*@
                        @Html.DropDownList("Agreement_No", null, "--Select--", htmlAttributes: new { @class = "master-form-input form-control" })
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Property_ID, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-8">
                        @*@Html.EditorFor(model => model.Property_ID, new { htmlAttributes = new { @class = "master-form-input" } })*@
                        @Html.DropDownList("Property_Id", null, "--Select--", htmlAttributes: new { @class = "master-form-input form-control" })
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Property_Name, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-8">
                        @*@Html.EditorFor(model => model.Property_Name, new { htmlAttributes = new { @class = "master-form-input" } })*@
                        @Html.DropDownList("Property_Name", null, "--Select--", htmlAttributes: new { @class = "master-form-input form-control" })
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Unit_ID, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-8">
                        @*@Html.EditorFor(model => model.Unit_ID, new { htmlAttributes = new { @class = "master-form-input" } })*@
                        @Html.DropDownList("Unit_Id", null, "--Select--", htmlAttributes: new { @class = "master-form-input form-control" })
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.unit_Name, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-8">
                        @*@Html.EditorFor(model => model.unit_Name, new { htmlAttributes = new { @class = "master-form-input" } })*@
                        @Html.DropDownList("unit_Name", null, "--Select--", htmlAttributes: new { @class = "master-form-input form-control" })
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.month, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-8">
                        @*@Html.EditorFor(model => model.month, new { htmlAttributes = new { @class = "master-form-input" } })*@
                        @Html.DropDownList("Month", null, "--Select--", htmlAttributes: new { @class = "master-form-input form-control" })
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.year, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.year, new { htmlAttributes = new { @class = "master-form-input form-control" } })
                    </div>
                </div>

                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.totalamt, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.totalamt, new { htmlAttributes = new { @class = "master-form-input form-control" } })
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.duedate, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.duedate, new { htmlAttributes = new { @class = "master-form-input form-control" } })
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.bank_details, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-8">
                        <input type="text" value="@ViewBag.bank_details" disabled class="form-control master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.remarks, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.remarks, new { htmlAttributes = new { @class = "master-form-input form-control" } })
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                </div>
            </div>

        </div>

        <div class="row" id="invoice">
            @if (Model.InvoiceDetails != null)
            {
                <input type="hidden" id="init-company-contact-det-count" value="@Model.InvoiceDetails.Count" />
            }
            else
            {
                <input type="hidden" id="init-company-contact-det-count" value="0" />
            }

            <div class="p-b-25">
                <h3>Invoice Details</h3>
            </div>
            <div class="" id="invoice-details">
                <div id="Gridview" class="row document-row">
                    <div class="col-md-12">
                        <div class="col-md-2 form-group">
                            <label for="itemtype">Item Type</label>
                            <input type="text" class="form-control master-form-input" id="item" />
                        </div>
                        <div class="col-md-2 form-group">
                            <label for="description">Item Description</label>
                            <input type="text" class="form-control master-form-input" id="description" />
                        </div>
                        <div class="col-md-1 form-group">
                            <label for="quantity">Quantity</label>
                            <input type="text" class="form-control master-form-input" id="qty" />
                        </div>
                        <div class="col-md-1 form-group">
                            <label for="amount">Amount</label>
                            <input id="amount" class="form-control master-form-input" />
                        </div>
                        <div class="col-md-1 btn-group">
                            <br />
                            <input type="button" class="document-btn" id="AddInvoice" value="Add" onclick='add(this);' />
                        </div>
                    </div>

                </div>

            </div>

            @*<div class="row">
                    <div class="col-md-12 document-row">
                        <div class="col-md-1">
                            ID
                        </div>
                        <div class="col-md-2">
                            Item Type
                        </div>
                        <div class="col-md-2">
                            Item Description
                        </div>
                        <div class="col-md-2">
                            Quantity
                        </div>
                        <div class="col-md-2">
                            Amount
                        </div>
                    </div>
                </div>*@
            <div class="row ht-5">
                &nbsp;
            </div>

            <!-- Begin Dynamic row -->
            @*@Html.Partial("_InvoiceDetails")*@
            <!-- End Dynamic row -->

        </div>

        <table class="row m-t-20" id="invoiceDetailsForms">


            @if (Model.InvoiceDetails != null)
            {

                for (int j = 0; j < Model.InvoiceDetails.Count; j++)
                {
                    // <script>
                    var html = "<div class='col-md-12 document-row' id='GridViewCompanyContact" + @j + "'>";

                    //html = html + "<div class='col-md-12'>";
                    html = html + " <div class='col-md-2 form-group'> <label for='item'>Item Type</label><input id='item" + @j + "'  type='text' value='" + @Model.InvoiceDetails[j].item + "' class='form-control master-form-input' name='InvoiceDetails[" + j + "].item' data-name='Item Type' /></div>";
                    html = html + " <div class='col-md-2 form-group'> <label for='branch'>Item Description</label> <input id='description" + @j + "'  type='text' value='" + @Model.InvoiceDetails[j].description + "' class='form-control master-form-input' name='InvoiceDetails[" + j + "].description' data-name='description' /></div>";
                    html = html + " <div class='col-md-1 form-group'> <label for='qty'>Quantity</label><input type='text' id='qty" + @j + "' class='form-control master-form-input' name='InvoiceDetails[" + j + "].qty' data-name='qty' value='" + @Model.InvoiceDetails[j].qty + "'/></div>";
                    html = html + " <div class='col-md-1 form-group'> <label for='amount'>Amount</label><input type='text' id='amount" + @j + "' class='form-control master-form-input' name='InvoiceDetails[" + j + "].amount' data-name='amount' value='" + @Model.InvoiceDetails[j].amount + "'/></div>";
                    html = html + "<div class='col-md-1' form-group></br>  <button class='document-btn removebutton' id='Delete" + @j + "'> Delete </button></div>";
                    //html = html + "</div>";

                    html = html + "</div>";
                    html = html + "<div class='row ht-5'> &nbsp;</div>";

                    <tr>
                        <td>
                            @Html.Raw(html)
                        </td>
                    </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                }
            }
        </table>

        <div class="row ht-5">
            &nbsp;
        </div>
        <div class="col-md-4">
            <button class="btn master-form-btn">Submit</button>
        </div>
    </div>

</div>
}

<script>
    function myFunction() {
        var val = $("#dropDownId option:selected").val();
        alert(val);

        $.ajax(
       {
           url: "../Invoice/AddOrUpdate/?DropDownValue=1",
           type: "Get",
           data: {},
           contentType: "application/json",
           processData: false,
           success: function (html) {
               $("#ContainerAddOrUpdate").html(html);
           },
           error: function (jqXhr, textStatus, errorThrown) {
               alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
           },
           complete: function () {
               $("#img-loader").addClass("hide");
           }
       });

    }
    $('#dropDownId').change(function () {
        var val = $("#dropDownId option:selected").val();
        alert(val);
        
    });
    $('#model-close').click(function () {
        $("#myModal").modal('hide');
    });
    var i = 0;
    function add() {

        var item = document.getElementById("item").value;
        var description = document.getElementById("description").value;
        var qty = document.getElementById("qty").value;
        var amount = document.getElementById("amount").value;


        var html = "<tr><td><div class='col-md-12 document-row' id='GridView" + i + "'>";

        //html = html + "<div class='col-md-12'>";
        html = html + " <div class='col-md-2 form-group'> <label for='item'>Item Type</label><input id='item" + i + "'  type='text' value='" + item + "' class='form-control master-form-input' name='InvoiceDetails[" + i + "].item' data-name='Item Type' /></div>";
        html = html + " <div class='col-md-2 form-group'> <label for='branch'>Item Description</label> <input id='description" +i + "'  type='text' value='" + description + "' class='form-control master-form-input' name='InvoiceDetails[" + i + "].description' data-name='description' /></div>";
        html = html + " <div class='col-md-1 form-group'> <label for='qty'>Quantity</label><input type='text' id='qty" + i + "' class='form-control master-form-input' name='InvoiceDetails[" + i + "].qty' data-name='qty' value='" + qty + "'/></div>";
        html = html + " <div class='col-md-1 form-group'> <label for='amount'>Amount</label><input type='text' id='amount" + i + "' class='form-control master-form-input' name='InvoiceDetails[" + i + "].amount' data-name='amount' value='" + amount + "'/></div>";
        html = html + "<div class='col-md-1' form-group></br>  <button class='document-btn removebutton' id='Delete" + i + "'> Delete </button></div>";
        //html = html + "</div>";

        html = html + "</div>";
        html = html + "<div class='row ht-5'> &nbsp;</div></td></tr><tr><td>&nbsp;</td></tr>"
        $('#invoiceDetailsForms').append(html);
        i++;

        return false;
      //  var html = " <div class='col-md-12 document-row' id='GridView"+count+"'>";
      //  html=html+" <div class='col-md-1'>"+count+"</div>";
      //  html = html + " <div class='col-md-2'> <input id='item-id_" +count+"'  type='text' value='" +item+ "' class='master-form-input' /></div>";
      //  html = html + " <div class='col-md-2'> <input id='description_" + count + "' type='text'  value='" + description + "' class='master-form-input' /></div>";
      //  html = html + " <div class='col-md-2'> <input id='qty_" + count + "'  type='text' value='" + qty + "' class='master-form-input' /></div>";
      //  html = html + " <div class='col-md-2'> <input id='amount_" + count + "' type='text'  value='" + amount + "' class='master-form-input' /></div>";
      ////  html=html+ "<div class='col-md-2'><button class='document-btn'>Add</button> </div>";
      //  html = html + " <div class='col-md-2'>  <button class='document-btn' id='Delete"+count+"' onclick='Delete(this)'>Delete</button></div>";
      //  html=html+" </div>";
      //  $('#invoice-details').append(html);

      //  document.getElementById("item").value = "";
      //  document.getElementById("description").value = "";
      //  document.getElementById("qty").value = "";
      //  document.getElementById("amount").value = ""
      // count = count + 1;

    }
    $(document).on('click', 'button.removebutton', function () {
        $(this).closest('tr').remove();
        var existfilelist = document.getElementById('invoiceDetailsForms');
        var newindex = 0;
        $(existfilelist).find('> tbody > tr').each(function () {

            $(this).find("input").each(function () {
                var dataname = $(this).data("name");
                // alert(dataname + $(this) .val()+ '-' + newindex)
                $(this).attr({
                    'id': function (_, id) {
                        return id + newindex
                    },
                    'name': function (_, name) {
                        //return name + iTenantDocument[0].Name
                        return 'InvoiceDetails[' + newindex + '].' + dataname
                    }
                });
            });

            newindex++;

        });

        i = newindex;
    });

    //function Delete(e) {
    //    DeleteRow = e.parentNode.parentNode.id;
    //    $('#' + DeleteRow).remove();
    //}
</script>

