
@using MvcPaging
@model IPagedList<LeaMaPortal.Models.InvoiceViewModel>
@{
    Layout = null;
}
<link href="~/content/bootstrap.css" rel="stylesheet" />
<link href="~/theme/css/leemastyle.css" rel="stylesheet" />
<link href="~/theme/css/leametablestyle.css" rel="stylesheet" />
<!DOCTYPE html>
<div class="col-md-12 leama-fieldset leama-header-top" style="background-color:white;">
    <div id="master-loader-list" class="fa hide">
    </div>
    <div class="row" id="invoice-list">
        <div class="col-md-12 leama-fieldset ">
            <div class="col-md-2 pull-left">
                @Html.Label("Search", htmlAttributes: new { @class = "leama-field-name" })
            </div>
            <div class="col-md-4">
                <input type="text" class="leama-field form-control" name="Search" id="Search" value="@ViewData["Search"]" />
            </div>
            <div class="col-md-4">
                <button type="button" id="btn-search" class="btn btn-info leama-search-btn col-md-4">Go</button>
            </div>
        </div>

        <div class="col-md-12 leama-fieldset ">
            &nbsp;
        </div>

        <div class="divTable leama-fieldset col-md-12">


            <div class="divTableBody divFontBodyTable">
                <div class="divTableHeading">
                    <div class="divTableCell">Invoice number</div>
                    <div class="divTableCell">Property Name</div>
                    <div class="divTableCell">Unit Name</div>
                    <div class="divTableCell">Tenant Name</div>
                    <div class="divTableCell">Agreement Number</div>
                    <div class="divTableCell">Invoice Type</div>
                    <div class="divTableCell">Total Amount</div>
                    <div class="divTableCell">Action</div>

                </div>
                @foreach (var item in Model)
                {
                    <div class="divTableRow">
                        <div class="divTableCell">@item.invno</div>
                        <div class="divTableCell">@item.Property_Name</div>
                        <div class="divTableCell">@item.unit_Name</div>
                        <div class="divTableCell">@item.Tenant_Name</div>
                        <div class="divTableCell">@item.Agreement_No</div>
                        <div class="divTableCell">@item.invtype</div>
                        <div class="divTableCell">@item.totalamt</div>
                        <div class="divTableCell">
                            @Html.ActionLink(" ", "Edit", null, new { @class = "glyphicon glyphicon-edit invoice-edit", title = "Edit", @data_id = @item.invno })  |
                            @Html.ActionLink(" ", "Delete", null, new { @class = "glyphicon glyphicon-trash invoice-delete", @style = "color:red", @title = "Delete", @data_id = @item.invno })

                        </div>

                    </div>
                }


            </div>

        </div>

        <div class="col-md-12">
            @Html.HiddenFor(m => m.PageNumber)
            <div class="col-md-2">
                @Html.DropDownList("defaultPageSize", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-lg-10 text-right">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    if (i == Model.PageNumber)
                    {
                        <input type="button" data-id="@i" value="@i" class="pagination-btn" />
                    }
                    else
                    {
                        <input type="button" data-id="@i" value="@i" class="Page" />
                    }

                }
            </div>
        </div>

        <div class="col-md-12 leama-fieldset ">
            &nbsp;
        </div>
        </div>
    </div>
<script type="text/javascript">
                $(".Page").click(function(e)
                {
                    $("#master-loader-list").removeClass("hide");
                    $("#invoice-list").addClass("hide");
                    var page = parseInt($(this).data("id"));
                    var defaultPageSize = $("#defaultPageSize").val();
                    var search = $("#Search").val();
                    //alert(page);
                    getInvoiceList(search,page,defaultPageSize)
                });
                $("#defaultPageSize").change(function () {
                    $("#master-loader-list").removeClass("hide");
                    $("#invoice-list").addClass("hide");
                    var search = $("#Search").val();
                    var defaultPageSize = $("#defaultPageSize").val();
                    getInvoiceList(search, 1, defaultPageSize)
                });
                $("#btn-search").click(function (e) {
                    $("#master-loader-list").removeClass("hide");
                    $("#invoice-list").addClass("hide");
                    var search = $("#Search").val();
                    var defaultPageSize = $("#defaultPageSize").val();
                    getInvoiceList(search, 1, defaultPageSize)
                });

                function getInvoiceList(search, page, defaultPageSize)
                {
                    $.ajax(
                       {
                           url: "../Invoice/List",
                           type: "Get",
                           data: { Search: search, page: page, defaultPageSize: defaultPageSize },
                           success: function (html) {
                               $("#ContainerList").html(html);
                           },
                           error: function (jqXhr, textStatus, errorThrown) {
                               alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                           },
                           complete: function () {
                               //   $("#VerifyIdDetailsLoader").addClass("hide");
                               //$("#master-loader-list").addClass("hide");
                               //$("#invoice-list").removeClass("hide");
                           }
                       });
                }
    function beginPaging(args) {
        // Animate
        $('#grid-list').fadeOut('normal');
    }

    function successPaging() {
        // Animate
        $('#grid-list').fadeIn('normal');
        $('a').tooltip();
    }

    function failurePaging() {
        alert("Could not retrieve list.");
    }

    $(".invoice-edit").click(function (e) {
        e.preventDefault();
        $("#master-loader-edit").removeClass("hide");
        $("#ContainerAddOrUpdate").hide();
        var id = $(this).data("id");
        //var param = id.split('`');
        $.ajax(
            {
                url: "../Invoice/Edit",
                type: "Get",
                data: { Invoice_No: id },
                success: function (html) {
                    $("#ContainerAddOrUpdate").html(html);
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                },
                complete: function () {
                    $("body").scrollTop(0);
                    $("#master-loader-edit").addClass("hide");
                    $("#ContainerAddOrUpdate").show();
                }
            });
    });

    // delete
    $(".invoice-delete").click(function (e) {
        e.preventDefault();
        var id = $(this).data("id");
        //var param = id.split('`');
        var r = confirm("Are you sure want to delete?");
        if (r == false) {
            return;
        }
        else {
            $.ajax(
                {
                    url: "../Invoice/Delete",
                    type: "post",
                    data: { Invoice_No: id },
                    success: function (response) {
                        GetInvoice();
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                    },
                    complete: function () {
                    }
                });
        }
    });

</script>