@model LeaMaPortal.Models.CaretakerViewModel

@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@

    @*<div class="row pull-left">
            <div class="col-md-12 leama-fielset leama-field-block ">



            </div>
            <div class="col-md-12 leama-fielset">
                <button type="submit" class="col-md-offset-4 leama-btn">Submit</button>
            </div>
        </div>*@
    <div class="leama-inner-block col-md-12 ">



        <div class="col-md-12 leama-fieldset leama-header-top">
            <div class="row">
                <div class="col-md-12 leama-fieldset ">
                    <div class="col-md-2 pull-left">
                        @Html.LabelFor(model => model.Caretaker_id, htmlAttributes: new { @class = "leama-field-name" })
                    </div>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.Caretaker_id, new { htmlAttributes = new { @class = "leama-field form-control" } })
                    </div>
                    <div class="col-md-2 pull-left">
                        @Html.LabelFor(model => model.Caretaker_Name, htmlAttributes: new { @class = "leama-field-name" })
                    </div>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.Caretaker_Name, new { htmlAttributes = new { @class = "leama-field form-control" } })
                    </div>
                </div>
                <div class="col-md-12 leama-fieldset ">
                    <div class="col-md-2 pull-left">
                        @Html.LabelFor(model => model.Father_Name, htmlAttributes: new { @class = "leama-field-name" })
                    </div>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.Father_Name, new { htmlAttributes = new { @class = "leama-field form-control" } })
                    </div>
                    <div class="col-md-2 pull-left">
                        @Html.LabelFor(model => model.Dob, htmlAttributes: new { @class = "leama-field-name" })
                    </div>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.Dob, new { htmlAttributes = new { @class = "leama-field form-control" } })
                    </div>
                </div>

                <div class="col-md-12 leama-fieldset ">
                    <div class="col-md-2 pull-left">
                        @Html.LabelFor(model => model.Address1, htmlAttributes: new { @class = "leama-field-name" })
                    </div>
                    <div class="col-sm-4">
                        @Html.TextAreaFor(model => model.Address1, new { @class = "form-control", @rows = 4 })
                    </div>
                    <div class="col-md-2 pull-left">
                        @Html.LabelFor(model => model.Address2, htmlAttributes: new { @class = "leama-field-name" })
                    </div>
                    <div class="col-sm-4">
                        @Html.TextAreaFor(model => model.Address2, new { @class = "form-control", @rows = 4 })
                    </div>
                </div>
                <div class="col-md-12 leama-fieldset ">

                        <div class="col-md-2 pull-left">
                            @Html.LabelFor(model => model.Address3, htmlAttributes: new { @class = "leama-field-name" })
                        </div>
                        <div class="col-sm-4">
                            @Html.TextAreaFor(model => model.Address3, new { @class = "form-control", @rows = 4 })
                        </div>
                   
                        <div class="col-md-2 pull-left">
                            @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "leama-field-name" })
                        </div>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "leama-field form-control" } })
                        </div> &nbsp;
                      
           
                   

                        <div class="col-md-2 pull-left">
                            @Html.LabelFor(model => model.Pincode, htmlAttributes: new { @class = "leama-field-name" })
                        </div>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.Pincode, new { htmlAttributes = new { @class = "leama-field form-control" } })
                       
                        </div>



                    </div>

                <div class="col-md-12 leama-fieldset ">
                    <div class="col-md-2 pull-left">
                        @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "leama-field-name" })
                    </div>
                    <div class="col-sm-4">
                  
                        @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "leama-field form-control" } })


                    </div>
                    <div class="col-md-2 pull-left">
                        @Html.LabelFor(model => model.Region_Name, htmlAttributes: new { @class = "leama-field-name" })
                    </div>
                    <div class="col-sm-4">
                     
                        @Html.EditorFor(model => model.Region_Name, new { htmlAttributes = new { @class = "leama-field form-control" } })


                    </div>
                </div>
                <div class="col-md-12 leama-fieldset ">
                    <div class="col-md-2 pull-left">
                        @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "leama-field-name" })
                    </div>
                    <div class="col-sm-4">
                       
                        @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "leama-field form-control" } })


                    </div>
                    <div class="col-md-2 pull-left">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "leama-field-name" })
                    </div>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "leama-field form-control" } })


                       
                    </div>
                </div>
                <div class="col-md-12 leama-fieldset ">
                    <div class="col-md-2 pull-left">
                        @Html.LabelFor(model => model.Phoneno, htmlAttributes: new { @class = "leama-field-name" })
                    </div>
                    <div class="col-sm-4">
                    
                        @Html.EditorFor(model => model.Phoneno, new { htmlAttributes = new { @class = "leama-field form-control" } })



                    </div>
                   
                </div>
                <div class="col-md-12 leama-fieldset ">
                    <div class="col-md-2 pull-left">
                        @Html.LabelFor(model => model.Doj, htmlAttributes: new { @class = "leama-field-name" })
                    </div>
                    <div class="col-sm-4">
                    
                        @Html.EditorFor(model => model.Doj, new { htmlAttributes = new { @class = "leama-field form-control" } })


                    </div>

                </div>
                @*<div class="col-md-12 leama-fieldset ">
                    <div class="col-md-2 pull-left">
                        @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "leama-field-name" })
                    </div>
                    <div class="col-sm-4 ">
                        <select class="col-md-12 leama-field">
                            <option value="Country">Country</option>
                        </select>
                    </div>
                    @*<div class="col-md-4">
                            <button type="submit" class="leama-btn">Submit</button>
                        </div>*@
                </div>
                <div class="col-md-12 leama-fieldset ">
                    <div class="col-md-12 pull-left">
                        <button type="submit" class="col-md-offset-2 leama-btn">Submit</button>
                    </div>
                </div>
            </div>
        
        <div class="col-md-12 leama-fieldset leama-header-top">
            <div class="row">
                <div action="" class="col-md-12 leama-fieldset">
                    <div class="col-md-4 input-group">
                        <input type="Search" placeholder="Search" class="search-btn form-control" />
                        <div class="input-group-btn">
                            <button class="btn btn-info leama-search-button-style">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 leama-fieldset ">
                    &nbsp;
                </div>

                <div class="divTable leama-fieldset col-md-12">


                    <div class="divTableBody divFontBodyTable">
                        <div class="divTableHeading ">
                            <div class="divTableCell ">Region Name</div>
                            <div class="divTableCell">Country Name</div>
                            <div class="divTableCell">Action</div>

                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">Region</div>
                            <div class="divTableCell">Chennai</div>
                            <div class="divTableCell">
                                @Html.ActionLink(" ", "Edit", null, new { @class = "glyphicon glyphicon-edit", title = "Edit" })  |
                                @Html.ActionLink(" ", "Details", null, new { @class = "glyphicon glyphicon-trash", @style = "color:red", title = "Delete" })  |
                                @Html.ActionLink(" ", "Details", null, new { @class = "glyphicon glyphicon-th-list", title = "Details" })
                            </div>

                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">Region</div>
                            <div class="divTableCell">Coimbatore</div>
                            <div class="divTableCell">
                                @Html.ActionLink(" ", "Edit", null, new { @class = "glyphicon glyphicon-edit", title = "Edit" })  |
                                @Html.ActionLink(" ", "Details", null, new { @class = "glyphicon glyphicon-trash", @style = "color:red", title = "Delete" })  |
                                @Html.ActionLink(" ", "Details", null, new { @class = "glyphicon glyphicon-th-list", title = "Details" })

                            </div>

                        </div>

                    </div>

                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                        <ul class="pagination pull-right">
                            <li><a href="#">1</a></li>/
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>