@model LeaMaPortal.Models.TenantIndividualViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Create</h2>*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @*<div class="form-horizontal">*@

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-6">

            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Title:*@
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @*<select class="master-form-input">
                            <option> MR. </option>
                            <option> MRS. </option>
                            <option> MS. </option>
                        </select>*@
                    @{
                        List<SelectListItem> Title = new List<SelectListItem>();
                        Title.Add(new SelectListItem
                        {
                            Text = "MR.",
                            Value = "MR."
                        });
                        Title.Add(new SelectListItem
                        {
                            Text = "MRS.",
                            Value = "MRS.",
                            Selected = true
                        });
                        Title.Add(new SelectListItem
                        {
                            Text = "MS.",
                            Value = "MS."
                        });
                    }

                    @Html.DropDownListFor(model => model.Title, Title, "-- Select --", htmlAttributes: new { @class = "master-form-input" })


                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Middle_Name, htmlAttributes: new { @class = "control-label" })
                    @*Middle Name:*@
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Middle_Name, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.Middle_Name, "", new { @class = "text-danger" })
                    @*<input type="text" class="master-form-input" />*@
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Company Name/ Educational Institute:*@
                    @Html.LabelFor(model => model.Company_Educational, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Company_Educational, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.Company_Educational, "", new { @class = "text-danger" })
                    @*<input type="text" class="master-form-input" />*@
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Marital Status*@
                    @Html.LabelFor(model => model.Marital_Status, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @*<div class="col-md-6" style="margin-left: -20px;">
                            <div class="col-md-1">
                                <input type="checkbox" class="input-checkbox">
                            </div>
                            <div class="col-md-8 m-t-3">
                                <span> Family</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-1">
                                <input type="checkbox" class="input-checkbox">
                            </div>
                            <div class="col-md-8 m-t-3">
                                <span> Single</span>
                            </div>
                        </div>*@
                    @Html.RadioButtonFor(model => model.Marital_Status, "Family") Family
                    @Html.RadioButtonFor(model => model.Marital_Status, "Single") Single
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Address 01:*@
                    @Html.LabelFor(model => model.address1, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.address1, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.address1, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*City:*@
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @{
                        List<SelectListItem> City = new List<SelectListItem>();
                        City.Add(new SelectListItem
                        {
                            Text = "Manly",
                            Value = "Manly"
                        });
                        City.Add(new SelectListItem
                        {
                            Text = "Chennai",
                            Value = "Chennai",
                            Selected = true
                        });
                        City.Add(new SelectListItem
                        {
                            Text = "London",
                            Value = "London"
                        });
                    }

                    @Html.DropDownListFor(model => model.City, City, "-- Select --", htmlAttributes: new { @class = "master-form-input" })


                    @*<select class="master-form-input">
                            <option> Manly</option>
                        </select>*@
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Email:*@
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Landline:*@
                    @Html.LabelFor(model => model.Landline_No, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    <div class="col-md-3" style="margin-left: -15px;">
                        @Html.EditorFor(model => model.Landline_Countrycode, new { htmlAttributes = new { @class = "master-form-input" } })
                        @Html.ValidationMessageFor(model => model.Landline_Countrycode, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3" style="margin-left: -15px;">
                        @Html.EditorFor(model => model.Landline_Areacode, new { htmlAttributes = new { @class = "master-form-input" } })
                        @Html.ValidationMessageFor(model => model.Landline_Areacode, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6" style="margin-left: 32%;
                width: 64%;
                position: absolute;">
                        @Html.EditorFor(model => model.Landline_No, new { htmlAttributes = new { @class = "master-form-input" } })
                        @Html.ValidationMessageFor(model => model.Landline_No, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Nationality:*@
                    @Html.LabelFor(model => model.Nationality, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @{
                        List<SelectListItem> Nationality = new List<SelectListItem>();
                        Nationality.Add(new SelectListItem
                        {
                            Text = "Australia",
                            Value = "Australia"
                        });
                        Nationality.Add(new SelectListItem
                        {
                            Text = "India",
                            Value = "India",
                            Selected = true
                        });
                        Nationality.Add(new SelectListItem
                        {
                            Text = "England",
                            Value = "England"
                        });
                    }

                    @Html.DropDownListFor(model => model.Nationality, Nationality, "-- Select --", htmlAttributes: new { @class = "master-form-input" })

                    @*<select class="master-form-input">
                            <option> Australia</option>
                        </select>*@
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Emirate Issue Date:*@
                    @Html.LabelFor(model => model.Emirate_issuedate, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    <!--Need to change as Datetime field-->
                    @Html.EditorFor(model => model.Emirate_issuedate, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.Emirate_issuedate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Passport Number:*@
                    @Html.LabelFor(model => model.Passportno, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Passportno, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.Passportno, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Passport Issue Date:*@
                    @Html.LabelFor(model => model.Passport_Issuedate, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Passport_Issuedate, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.Passport_Issuedate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Visa Type:*@
                    @Html.LabelFor(model => model.VisaType, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.VisaType, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.VisaType, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Visa Expiry Date:*@
                    @Html.LabelFor(model => model.Visa_ExpiryDate, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Visa_ExpiryDate, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.Visa_ExpiryDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Family Number:*@
                    @Html.LabelFor(model => model.Familyno, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Familyno, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.Familyno, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*ADWEA Resigtration Id:*@
                    @Html.LabelFor(model => model.ADWEA_Regid, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ADWEA_Regid, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.ADWEA_Regid, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Tenant ID:*@
                    @Html.LabelFor(model => model.Tenant_Id, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Tenant_Id, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.Tenant_Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*First Name:*@
                    @Html.LabelFor(model => model.First_Name, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.First_Name, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.First_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Last Name:*@
                    @Html.LabelFor(model => model.Last_Name, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Last_Name, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.Last_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Profession:*@
                    @Html.LabelFor(model => model.Profession, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @*<select class="master-form-input">
                            <option> Farmer </option>
                            <option> Engineer </option>
                            <option> Doctor </option>
                        </select>*@
                    @{
                        List<SelectListItem> Profession = new List<SelectListItem>();
                        Profession.Add(new SelectListItem
                        {
                            Text = "Farmer ",
                            Value = "Farmer "
                        });
                        Profession.Add(new SelectListItem
                        {
                            Text = "Engineer",
                            Value = "Engineer",
                            Selected = true
                        });
                        Profession.Add(new SelectListItem
                        {
                            Text = "Doctor",
                            Value = "Doctor"
                        });
                    }

                    @Html.DropDownListFor(model => model.Profession, Profession, "-- Select --", htmlAttributes: new { @class = "master-form-input" })


                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Address:*@
                    @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.address, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.Last_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Emirate:*@
                    @Html.LabelFor(model => model.Emirate, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    <select class="master-form-input">
                        <option> Default </option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Post Box:*@
                    @Html.LabelFor(model => model.PostboxNo, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PostboxNo, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.PostboxNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Mobile:*@
                    @Html.LabelFor(model => model.Mobile_No, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    <div class="col-md-3" style="margin-left: -15px;">
                        @Html.EditorFor(model => model.Mobile_Countrycode, new { htmlAttributes = new { @class = "master-form-input" } })
                        @Html.ValidationMessageFor(model => model.Mobile_Countrycode, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3" style="margin-left: -15px;">
                        @Html.EditorFor(model => model.Mobile_Areacode, new { htmlAttributes = new { @class = "master-form-input" } })
                        @Html.ValidationMessageFor(model => model.Mobile_Areacode, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6" style="margin-left: 32%;
                width: 64%;
                position: absolute;">
                        @Html.EditorFor(model => model.Mobile_No, new { htmlAttributes = new { @class = "master-form-input" } })
                        @Html.ValidationMessageFor(model => model.Mobile_No, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Fax:*@
                    @Html.LabelFor(model => model.Fax_No, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    <div class="col-md-3" style="margin-left: -15px;">
                        @Html.EditorFor(model => model.Fax_Countrycode, new { htmlAttributes = new { @class = "master-form-input" } })
                        @Html.ValidationMessageFor(model => model.Fax_Countrycode, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3" style="margin-left: -15px;">
                        @Html.EditorFor(model => model.Fax_Areacode, new { htmlAttributes = new { @class = "master-form-input" } })
                        @Html.ValidationMessageFor(model => model.Fax_Areacode, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6" style="margin-left: 32%;
                width: 64%;
                position: absolute;">
                        @Html.EditorFor(model => model.Fax_No, new { htmlAttributes = new { @class = "master-form-input" } })
                        @Html.ValidationMessageFor(model => model.Fax_No, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Emirates ID:*@
                    @Html.LabelFor(model => model.Emiratesid, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Emiratesid, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.Emiratesid, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Emirates Expiry Date:*@
                    @Html.LabelFor(model => model.Emirate_expirydate, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Emirate_expirydate, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.Emirate_expirydate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Place of Insurance:*@
                    @Html.LabelFor(model => model.Placeofissuance, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Placeofissuance, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.Placeofissuance, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Passport Expiry Date:*@
                    @Html.LabelFor(model => model.Passport_Expirydate, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Passport_Expirydate, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.Passport_Expirydate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Visa Issue Date:*@
                    @Html.LabelFor(model => model.Visa_IssueDate, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Visa_IssueDate, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.Visa_IssueDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Date of Birth:*@
                    @Html.LabelFor(model => model.Dob, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Dob, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 form-input-padding">
                <div class="col-md-4">
                    @*Family Book City:*@
                    @Html.LabelFor(model => model.Familybookcity, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Familybookcity, new { htmlAttributes = new { @class = "master-form-input" } })
                    @Html.ValidationMessageFor(model => model.Familybookcity, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>
        <div class="col-md-10 document-row" id="GridView">
            @*<table>
                <tr>
                    <td>
                        <input type="text" id="DocumentName" name="DocumentName">
                    </td>
                    <td> </td>
                    <td>
                        <input type="text" id="DocumentDet" name="DocumentDet">
                    </td>
                    <td></td>
                    <td><input id="addbutton" type="button" value="Add Row" /></td>
                    
                </tr>
            </table>
            <table id="DocumentTable">
                <tbody>

                </tbody>
            </table>*@
            <div class="col-md-12">
                <div class="col-md-4 text-left">Content Name</div>
                <div class="col-md-4 text-left">Content Det</div>
                <div class="col-md-4 text-left"><input type="button" id="addbutton" value="Add" /></div>

                
            </div>
            <div class="clearfix"><br /><br /></div>
            <table id="tblcontent" class="col-md-12">
                <tr>
                   
                    <td class="col-md-4">
                        <input type="text" id="txtTitle" name="txtTitle">
                    </td>
                    <td class="col-md-4">
                        <input type="text" id="txtLink" name="txtLink">
                    </td>
                    <td class="col-md-4">
                        <button type="button" class="removebutton" title="Remove this row">X</button>
                    </td>
                </tr>
                
            </table>
           
        </div>

        <div class="col-md-12 form-input-padding">
            <div class="col-md-4">
                &nbsp;
            </div>
            <div class="col-md-4">
                <button class="btn master-form-btn" type="submit">Submit</button>
            </div>
        </div>
        
    </div>
                        }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    var i = 1;
    
    $("#addbutton").click(function () {
        $("table tr:first").clone().find("input").each(function () {
            $(this).val('').attr({
                'id': function (_, id) {
                    return id + i
                },
                'name': function (_, name) {
                    return name + i
                },
                'value': ''
            });
        }).end().appendTo("table");
        i++;
    });

    $(document).on('click', 'button.removebutton', function () {
        $(this).closest('tr').remove();
        return false;
    });

    //$("#addbutton").click(function () {
    //    var DocumentName = $("#DocumentName").val();
    //    var DocumentDet = $("#DocumentDet").val();
    //    alert(DocumentName + DocumentDet);
    //    $("#DocumentTable > tbody:last-child").append("<tr> <td>" + DocumentName + "</td> <td>" + DocumentDet +
    //        "</td> <td><input type='button' value='X' onclick='myfunc(event);' class='removebutton' /></td></tr>");
       
    //});
    //function myfunc(e)
    //{
    //    alert(1);
    //    $(this).closest('tr').remove();
    //}
    //$(".removebutton").click(function () { alert(1); $(this).closest('tr').remove(); });
    //$(document).on('click', 'button.removebutton', function () {
    //    alert("aa");
    //    $(this).closest('tr').remove();
    //    return false;
    //});
</script>