
@*@model LeaMaPortal.Models.UtilityViewModel*@
@using MvcPaging
@model IPagedList<LeaMaPortal.Models.UtilityViewModel>
@{
    Layout = null;
}
<link href="~/content/bootstrap.css" rel="stylesheet" />
<link href="~/theme/css/leemastyle.css" rel="stylesheet" />
<link href="~/theme/css/leametablestyle.css" rel="stylesheet" />
<!DOCTYPE html>

<div class="col-md-12 leama-fieldset leama-header-top" style="background-color:white;">
    <div class="row" id="utility-list">
        <div class="col-md-12 leama-fieldset ">
            <div class="col-md-2 pull-left">
                @Html.Label("Search", htmlAttributes: new { @class = "leama-field-name" })
            </div>
            <div class="col-md-4">
                <input type="text" class="leama-field form-control" name="Search" id="Search" value="@ViewData["Search"]" />
            </div>
            <div class="col-md-4">
                <button type="button" id="btn-search" class="btn btn-info leama-search-btn col-md-4">Go</button>
            </div>
        </div>

        <div class="col-md-12 leama-fieldset ">
            &nbsp;
        </div>

        <div class="divTable leama-fieldset col-md-12">


            <div class="divTableBody divFontBodyTable">
                <div class="divTableHeading">
                    <div class="divTableCell ">Utility Id</div>
                    <div class="divTableCell">Utility Name</div>
                    <div class="divTableCell">Action</div>

                </div>
                @foreach (var item in Model)
                {
                    <div class="divTableRow">
                        <div class="divTableCell">@item.Utility_id</div>
                        <div class="divTableCell">@item.Utility_Name</div>
                        <div class="divTableCell">
                            @Html.ActionLink(" ", "Edit", null, new { @class = "glyphicon glyphicon-edit utility-edit", title = "Edit", @data_id =  @item.Utility_id + '`' + @item.Utility_Name + '`' + @item.Id })  |
                            @Html.ActionLink(" ", "Delete", null, new { @class = "glyphicon glyphicon-trash utility-delete", @style = "color:red", @title = "Delete", @data_id = @item.Utility_id + '`' + @item.Utility_Name + '`' + @item.Id })
                            @*| @Html.ActionLink(" ", "Details", null, new { @class = "glyphicon glyphicon-th-list", title = "Details" })*@
                        </div>
                    </div>
                }

            </div>
        </div>
            <div class="col-md-12">
                <br />
                @Html.HiddenFor(m => m.PageNumber)
                <div class="col-md-2">
                    @Html.DropDownList("defaultPageSize", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-lg-10 text-right">
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        if (i == Model.PageNumber)
                        {
                            <input type="button" data-id="@i" value="@i" class="pagination-btn" />
                        }
                        else
                        {
                            <input type="button" data-id="@i" value="@i" class="Page" />
                        }
                    }
                </div>
            </div>
        

        <script type="text/javascript">
                $(".Page").click(function(e)
                {
                    $("#master-loader-list").removeClass("hide");
                    $("#utility-list").addClass("hide");
                    var page = parseInt($(this).data("id"));
                    var defaultPageSize = $("#defaultPageSize").val();
                    var search = $("#Search").val();
                    //alert(page);
                    getUtilityList(search,page,defaultPageSize)
                });
                $("#defaultPageSize").change(function () {
                    $("#master-loader-list").removeClass("hide");
                    $("#utility-list").addClass("hide");
                    var search = $("#Search").val();
                    var defaultPageSize = $("#defaultPageSize").val();
                    getUtilityList(search, 1, defaultPageSize)
                });
                $("#btn-search").click(function (e) {
                    $("#master-loader-list").removeClass("hide");
                    $("#utility-list").addClass("hide");
                    var search = $("#Search").val();
                    var defaultPageSize = $("#defaultPageSize").val();
                    getUtilityList(search, 1, defaultPageSize)
                });

                function getUtilityList(search, page, defaultPageSize)
                {
                    $.ajax(
                       {
                           url: "../Utility/Index",
                           type: "Get",
                           data: { Search: search, page: page, defaultPageSize: defaultPageSize },
                           success: function (html) {
                               $("#ContainerList").html(html);
                           },
                           error: function (jqXhr, textStatus, errorThrown) {
                               alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                           },
                           complete: function () {
                               //   $("#VerifyIdDetailsLoader").addClass("hide");
                               //$("#master-loader-list").addClass("hide");
                               //$("#utility-list").removeClass("hide");
                           }
                       });
                }
    function beginPaging(args) {
        // Animate
        $('#grid-list').fadeOut('normal');
    }

    function successPaging() {
        // Animate
        $('#grid-list').fadeIn('normal');
        $('a').tooltip();
    }

    function failurePaging() {
        alert("Could not retrieve list.");
    }

        </script>
        <div class="col-md-12 leama-fieldset ">
            &nbsp;
        </div>
    </div>


</div>

<script>
    //Edit get

    $(".utility-edit").click(function (e) {
        e.preventDefault();
        $("#master-loader-edit").removeClass("hide");
        $("#ContainerAddOrUpdate").hide();
        var id = $(this).data("id");
        var param = id.split('`');
        $.ajax(
            {
                url: "../Utility/Edit",
                type: "Get",
                data: { Id : param[2], UtilityId: param[0], UtilityName : param[1] },
                success: function (result) {
                    if (result.Errors == undefined || result.Errors == "") {
                        $("#UtilityId").val(result.Id);
                        $("#Utility_Id").val(result.Utility_id);
                        $("#UtilityName").val(result.Utility_Name);
                        //$("#Utility_IdKey").val(result.Utility_id);
                        //$("#UtilityNameKey").val(result.Utility_Name);
                    }
                    else {
                        alert(data.Errors);
                    }
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                },
                complete: function () {
                    $("body").scrollTop(0);
                    $("#master-loader-edit").addClass("hide");
                    $("#ContainerAddOrUpdate").show();
                }
            });
    });

    // delete
    $(".utility-delete").click(function (e) {
        e.preventDefault();
        var id = $(this).data("id");
        var param = id.split('`');
        var r = confirm("Are you sure want to delete?");
        if (r == false) {
            return;
        }
        else {
            $.ajax(
                {
                    url: "../Utility/Delete",
                    type: "Get",
                    data: { UtilityId: param[0], UtilityName: param[1] },
                    success: function (response) {
                        GetUtility();
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                    },
                    complete: function () {
                    }
                });
        }
    });

</script>
