<!--
  File Name      : _ClosureDetails.cshtml
  Description    : Closure Details partial view
  Created Date   : 24-Mar-2017
  Notes          : <Notes>
-->

@model LeaMaPortal.Models.AgreementClosureViewModel

<div class="modal-content">
    @*<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>*@
    <div class="modal-body font-smaller">
        <button type="button" class="close font-40" data-dismiss="modal">&times;</button>
        <div class="text-uppercase popup-heading">
            Contract Tenancy Agreement - Closure 
        </div>
        <div class="p-t-5-p"> &nbsp; </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12 p-b-7">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Agreement_No, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Agreement_No, new { htmlAttributes = new { @class = "master-form-input" } })
                    </div>
                </div>
                <div class="col-md-12 p-b-7">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Agreement_Date, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Agreement_Date, new { htmlAttributes = new { @class = "master-form-input" } })
                    </div>
                </div>
                <div class="col-md-12 p-b-7">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Tenant_Type, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Tenant_Type, new { htmlAttributes = new { @class = "master-form-input" } })
                    </div>
                </div>
                <div class="col-md-12 p-b-7">
                    <div class="col-md-6">
                       @Html.LabelFor(model => model.Ag_Tenant_id, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Ag_Tenant_id, new { htmlAttributes = new { @class = "master-form-input" } })
                    </div>
                </div>
                <div class="col-md-12 p-b-7">
                    <div class="col-md-6">
                       @Html.LabelFor(model => model.Ag_Tenant_Name, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Ag_Tenant_Name, new { htmlAttributes = new { @class = "master-form-input" } })
                    </div>
                </div>
                <div class="col-md-12 p-b-7">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.property_id, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.property_id, new { htmlAttributes = new { @class = "master-form-input" } })
                    </div>
                </div>
                <div class="col-md-12 p-b-7">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Property_ID_Tawtheeq, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-6">
                       @Html.EditorFor(model => model.Property_ID_Tawtheeq, new { htmlAttributes = new { @class = "master-form-input" } })
                    </div>
                </div>
                <div class="col-md-12 p-b-7">
                    <div class="col-md-6">
                      @Html.LabelFor(model => model.Properties_Name, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Properties_Name, new { htmlAttributes = new { @class = "master-form-input" } })
                    </div>
                </div>
                <div class="col-md-12 p-b-7">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Unit_ID_Tawtheeq, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-6">
                      @Html.EditorFor(model => model.Unit_ID_Tawtheeq, new { htmlAttributes = new { @class = "master-form-input" } })
                    </div>
                </div>
                <div class="col-md-12 p-b-7">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Unit_Property_Name, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-6">
                       @Html.EditorFor(model => model.Unit_Property_Name, new { htmlAttributes = new { @class = "master-form-input" } })
                    </div>
                </div>
            </div>



            <div class="col-md-6">
                <div class="col-md-12 p-b-7">
                    <div class="col-md-6">
                    @Html.LabelFor(model => model.Agreement_Start_Date, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Agreement_Start_Date, new { htmlAttributes = new { @class = "master-form-input" } })
                    </div>
                </div>
                <div class="col-md-12 p-b-7">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Agreement_End_Date, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Agreement_End_Date, new { htmlAttributes = new { @class = "master-form-input" } })
                    </div>
                </div>
                <div class="col-md-12 p-b-7">
                    <div class="col-md-6">
                      @Html.LabelFor(model => model.Total_Contract_Amount, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Total_Contract_Amount, new { htmlAttributes = new { @class = "master-form-input" } })
                    </div>
                </div>
                <div class="col-md-12 p-b-7">
                    <div class="col-md-6">
                       @Html.LabelFor(model => model.Total_Amount_Paid, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Total_Amount_Paid, new { htmlAttributes = new { @class = "master-form-input" } })
                    </div>
                </div>
                <div class="col-md-12 p-b-7">
                    <div class="col-md-6">
                       @Html.LabelFor(model => model.Advance_pending, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-6">
                       @Html.EditorFor(model => model.Advance_pending, new { htmlAttributes = new { @class = "master-form-input" } })
                    </div>
                </div>
                <div class="col-md-12 p-b-7">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Advance_Security_Amount_Paid, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Advance_Security_Amount_Paid, new { htmlAttributes = new { @class = "master-form-input" } })
                    </div>
                </div>
                <div class="col-md-12 p-b-7">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Less_any_damanges, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-6">
                        <select class="master-form-input form-control">
                            <option> Damage 1 </option>
                            <option> Damage 2 </option>
                            <option> Damage 3 </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 p-b-7">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Amount_to_be_refunded, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Amount_to_be_refunded, new { htmlAttributes = new { @class = "master-form-input" } })
                    </div>
                </div>
                <div class="col-md-12 p-b-7">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "label-default-remove" })
                    </div>
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @rows = 4 })
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-6">
                        &nbsp;
                    </div>
                    <div class="col-md-4">
                        <input type="button" class="btn master-form-btn" value="Submit" />
                    </div>
                </div>
            </div>
        </div>
        <div class="p-b-10-p">
            &nbsp;
        </div>
        <!-- BEGIN AGREEMENT PDC -->
        <div class="p-lr-20">
            @Html.Partial("_AgreementPdc")
        </div>
        <!-- END AGREEMENT PDC -->
        <div class="row ht-5">
            &nbsp;
        </div>
        <!-- BEGIN AGREEMENT DOCUMENT -->
        <div class="p-lr-20">
            @Html.Partial("_AgreementDocument")
        </div>
        <!-- END AGREEMENT DOCUMENT -->
        <div class="row ht-5">
            &nbsp;
        </div>
        <!-- BEGIN AGREEMENT UTILITY -->
        <div class="p-lr-20">
            @Html.Partial("_AgreementUtility")
        </div>
        <!-- END AGREEMENT UTILITY -->
        <div class="row ht-5">
            &nbsp;
        </div>
        <!-- BEGIN AGREEMENT UNIT -->
        <div class="p-lr-20">
            @Html.Partial("_AgreementUnit")
        </div>
        <!-- END AGREEMENT UNIT -->
        <div class="row ht-5">
            &nbsp;
        </div>
        <!-- BEGIN AGREEMENT UNIT -->
        <div class="p-lr-20">
            @Html.Partial("_AgreementCheckList")
        </div>
        <!-- END AGREEMENT UNIT -->
        <div class="p-b-10-p">
            &nbsp;
        </div>
    </div>
    @*<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" id="test-modal">Test</button>
    </div>*@
</div>

