@model LeamaSystems.Web.Models.DBContext.tbl_country

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>tbl_country</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Accyear)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Accyear)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Createddatetime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Createddatetime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Createduser)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Createduser)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Delmark)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Delmark)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Country_name }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
