
@model LeaMaPortal.Models.TcaPrintModel
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" style="margin-top: -17px;margin-right: -26px;font-size: 10px; color:black;background-color:white">×</button>
    <div id="PrintelementID">
        <div class="modal-body" style="padding:5%;padding-top:2.75cm;padding-bottom:2cm;">
            <div>
                <div style="font-size:10px;text-transform:uppercase;">
                    @*<div style="float:left;width:25%;">
                        Agreement for @Model.Tenant_Type
                    </div>*@
                    <div style="float:right;width:25%;">
                        /@**<div style="float:right;">
                            <img src="~/Images/Logo-Bitmap.png">
                        </div>*/*@
                    </div>
                    <div style="font-size:20px;color:#973132;font-weight:bold;text-align:center;@*margin:auto*@;width:50%;float:right;">
                        <div> <span lang="ar" style="font-weight:bold">عقد الايجار</span> </div>
                        <div @*style="margin:auto;"*@> Tenancy Contract </div>
                    </div>
                </div>

                @*<div class="row" style="padding-top:8%;">
                <div style="float:left;width:100%;">
                    <span> Contract ID </span>
                </div>
            </div>
            <div class="row">
                <div style="float:left;width:16.66666667%">
                    <span style="font-size:x-large;">AH155833B</span>
                </div>
                <div style="float:left;width:66.66666667%; text-align:center;">
                    <span style="font-size:x-large;"></span>
                </div>
                <div style="float:left;width:16.66666667%">
                </div>
            </div>*@

                

                <div style="padding-top:10px;clear:both;font-size:15px;">
                    <div style="float:left;width:50%;">
                        <span> <strong> Contract Number </strong> </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="color:#066CBE; font-weight:bold;"> @Model.Agreement_No </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span lang="ar" style="font-weight:bold"> <strong> رقم التعاقد </strong> </span>
                        <span id="reginam" style="display:none">@Model.Region_Name</span>
                    </div>
                    <div style="float:left;width:50%;">
                        <div style="float:right; text-align:right;">
                            <span> <strong> Issue Date </strong> </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span style="color:#066CBE; font-weight:bold;"> @Model.IssueDate </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span lang="ar" style="font-weight:bold"> <strong> تاريخ الاصدار</strong> </span>
                        </div>
                    </div>
                </div>

                <div style="font-weight: bold;padding-top:10px;font-size:14px; clear:both;">
                    <div style="float:left;width:50%;">
                        A: LANDLORD AND TENANT DETAILS:
                    </div>
                    <div style="float:left;width:50%;">
                        <div style="float:right; text-align:right;">
                            @*<span lang="ar" style="font-weight:bold">:تاريخ الاصدار:</span>*@
                            <span lang="ar" style="font-weight:bold">:  بيانات المالك </span>
                        </div>
                    </div>
                </div>

                <div style="padding-top:10px;clear:both;">
                    <div style="float:left;width:33.33333333%;font-size:13px;">
                        Landlord:
                    </div>
                    <div style="float:left;width:33.33333333%; color:#066CBE; font-weight:bold;text-align:center;font-size:13px;">
                        Hameem Investment LLC
                    </div>
                    <div style="float:left;width:33.33333333%;float:right; text-align:right;font-size:13px;">
                        <span lang="ar">:المالك</span>
                    </div>
                </div>

                <div style="padding-top:10px;clear:both;">
                    <div style="float:left;width:33.33333333%;font-size:13px;">
                        Management Address:
                    </div>
                    <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold;text-align:center;font-size:13px;">
                        Po Box:60885 Abu Dhabi-UAE
                    </div>
                    <div style="float:left;width:33.33333333%;float:right; text-align:right;font-size:13px;">
                        <span lang="ar`">:إدارة العنوان</span>
                    </div>
                </div>

                <div style="padding-top:10px;clear:both;">
                    <div style="float:left;width:41.66666667%;font-size:13px;">
                        <div style="float:right; text-align:right;">
                            Tel: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:#066CBE; font-weight:bold;"> 03 7375 474 </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span lang="ar">:هاتف</span>
                        </div>
                    </div>
                    <div style="float:left;width:8.33333333%"> &nbsp; </div>
                    <div style="float:left;width:41.66666667%;font-size:13px;">
                        Fax: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:#066CBE; font-weight:bold;"> @Model.CompanyFax </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span lang="ar">:فاكس</span>
                    </div>
                </div>

                <div style="padding-top:10px;clear:both; text-align:center;font-size:13px;">
                    Mobile No:<span style="color:#066CBE; font-weight:bold;"> 050 6633003 or 050 3326562</span>
                </div>

                <div style="padding-top:10px;clear:both;font-size:13px;">
                    <div style="float:left;width:33.33333333%;">
                        Tenant Name:
                    </div>
                    <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold;text-align:center;">
                        @Model.Ag_Tenant_Name
                    </div>
                    <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                        <span lang="ar">:اسم المستأجر</span>
                    </div>
                </div>

                <div style="padding-top:10px;clear:both;font-size:13px;">
                    <div style="float:left;width:33.33333333%;">
                        Tenant Address:
                    </div>
                    <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold;text-align:center;">
                        PO Box: @Model.Ag_Tenant_Address
                    </div>
                    <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                        <span lang="ar">:مستأجر العنوان</span>
                    </div>
                </div>

                <div style="padding-top:10px;clear:both;font-size:13px;">
                    <div style="float:left;width:41.66666667%">
                        <div style="float:right; text-align:right;">
                            Tel: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:#066CBE; font-weight:bold;"> @Model.Ag_Tenant_Telephone </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span lang="ar">:هاتف</span>
                        </div>
                    </div>
                    <div style="float:left;width:8.33333333%"> &nbsp; </div>
                    <div style="float:left;width:41.66666667%">
                        Fax: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:#066CBE; font-weight:bold;"> @Model.Ag_Tenant_Faxno </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span lang="ar">:فاكس</span>
                    </div>
                </div>

                <div style="padding-top:10px;clear:both;font-size:13px;">
                    <div style="float:left;width:33.33333333%;">
                        Occupied By:
                    </div>
                    <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold;text-align:center;">
                        @Model.Ag_Tenant_Name
                    </div>
                    <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                        <span lang="ar">:يحتلها</span>
                    </div>
                </div>

                <div style="font-weight: bold; padding-top:10px;font-size:medium;clear:both;font-size:15px;">
                    <div style="float:left;width:50%;">
                        B: PROPERTY AND UNIT DETAILS:
                    </div>
                    <div style="float:left;width:50%;">
                        <div style="float:right; text-align:right;">
                            <span lang="ar" style="font-weight:bold">:الممتلكات ووحدة تفاصيل</span>
                        </div>
                    </div>
                </div>

                <div style="padding-top:10px;clear:both;font-size:13px;">
                    <div style="float:left;width:33.33333333%;">
                        Property Details:
                    </div>
                    <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold;text-align:center;">
                        @Model.Properties_Name;
                    </div>
                    <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                        <span lang="ar">:تفاصيل اوضح </span>
                    </div>
                </div>

                <div style="padding-top:10px;clear:both;font-size:13px;">
                    <div style="float:left;width:33.33333333%;">
                        Unit Number:
                    </div>
                    <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold; text-align:center;">
                        @Model.Unit_ID_Tawtheeq
                    </div>
                    <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                        <span lang="ar">:رقم الوحدة</span>
                    </div>
                </div>

                <div style="padding-top:10px;clear:both;font-size:13px;">
                    <div style="float:left;width:33.33333333%;">
                        Unit Description:
                    </div>
                    <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold; text-align:center;">
                        @Model.Unit_Property_Name
                    </div>
                    <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                        <span lang="ar">:وصف الوحدة</span>
                    </div>
                </div>

                <div style="font-weight: bold;padding-top:10px;font-size:medium;clear:both;font-size:15px;">
                    <div style="float:left;width:70%;">
                        C: LEASE PERIOD AND PAYMENT DETAILS:
                    </div>
                    <div style="float:left;width:30%;">
                        <div style="float:right; text-align:right;">
                            <span lang="ar" style="font-weight:bold">:فترة الإيجار وتفاصيل الدفع</span>
                        </div>
                    </div>
                </div>

                <div style="padding-top:10px;clear:both;font-size:13px;">
                    <div style="float:left;width:33.33333333%;">
                        Contract Period:
                    </div>
                    <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold; text-align:center;">
                        @Model.Agreement_Start_Date to @Model.Agreement_End_Date
                    </div>
                    <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                        <span lang="ar">:مدة العقد</span>
                    </div>
                </div>

                <div style="padding-top:10px;clear:both;font-size:13px;">
                    <div style="float:left;width:33.33333333%;">
                        Duration:
                    </div>
                    <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold; text-align:center;">
                        @Model.ContractYearsAndMonths
                    </div>
                    <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                        <span lang="ar">:المدة الزمنية</span>
                    </div>
                </div>

                <div style="padding-top:10px;clear:both;font-size:13px;">
                    <div style="float:left;width:16.66666667%;">
                        Amount:
                    </div>
                    <div style="float:left;width:66.66666667%;color:#066CBE; font-weight:bold; text-align:center;">
                        AED.@Model.Total_Rental_amount /- (AED. @Model.TotalAmountInWords only)
                    </div>
                    <div style="float:left;width:16.66666667%;float:right; text-align:right;">
                        <span lang="ar">:كمية</span>
                    </div>
                </div>

                <div style="padding-top:10px;clear:both;font-size:13px;">
                    <div style="float:left;width:33.33333333%;">
                        Payment Terms:
                    </div>
                    <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold; text-align:left;">
                       @Model.PaymentMode
                    </div>
                    <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                        <span lang="ar">:شروط الدفع</span>
                    </div>
                </div>

                <div style="padding-top:10px;clear:both;font-size:13px;">
                    <div style="float:left;width:33.33333333%;">
                        Security Deposit:
                    </div>
                    <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold;text-align:center;">
                        @ViewBag.sd
                        @*@if(ViewBag.sd == 0)
                        {
                            "Nil";
                        }
                        @Model.SecurityDeposit*@
                    </div>
                    <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                        <span lang="ar">:مبلغ التأمين</span>
                    </div>
                </div>
                <div style="font-weight: bold; padding-top:10px;font-size:medium;clear:both;font-size:15px;">
                    <div style="float:left;width:50%;">
                        D: LANDLORD BANK DETAILS:
                    </div>
                    <div style="float:left;width:50%;">
                        <div style="float:right; text-align:right;">
                            <span lang="ar" style="font-weight:bold">:بيانات المالك </span>
                        </div>
                    </div>
                </div>
   

          <div id="Abudabi" style="display:block">

              <div style="padding-top:10px;clear:both;font-size:13px;">
                  <div style="float:left;width:33.33333333%;">
                      Account Name:
                  </div>
                  <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold; text-align:center;">
                      Hameem Investment LLC
                  </div>
                  <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                      @*<span lang="ar"> تفاصيل الحساب</span>*@
                      <span lang="ar">:اسم الحساب</span>


                  </div>
              </div>

              <div style="padding-top:10px;clear:both;font-size:13px;">
                  <div style="float:left;width:33.33333333%;">
                      Account Number:
                  </div>
                  <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold;text-align:center;">
                      651537030001
                  </div>
                  <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                      @*<span lang="ar">التفاصيل المصرفية</span>*@
                      <span lang="ar">:رقم الحساب</span>

                  </div>
              </div>

              <div style="padding-top:10px;clear:both;font-size:13px;">
                  <div style="float:left;width:33.33333333%;">
                      Bank:
                  </div>
                  <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold;text-align:center;">
                      Invest Bank
                  </div>
                  <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                      @*<span lang="ar"> رقم حساب</span>*@
                      <span lang="ar">:بنك</span>

                  </div>
                  <div style="padding-top:10px;clear:both;font-size:13px;">
                      <div style="float:left;width:33.33333333%;">
                          IBAN:
                      </div>
                      <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold;text-align:center;">
                          AE300300000651537030001
                      </div>
                      <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                          @*<span lang="ar"> رقم حساب</span>*@
                          <span lang="ar">:أيبان </span>

                      </div>
                      <div style="padding-top:10px;clear:both;font-size:13px;">
                          <div style="float:left;width:33.33333333%;">
                              Branch :
                          </div>
                          <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold;text-align:center;">
                              Defense Road, Abu Dhabi
                          </div>
                          <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                              @*<span lang="ar"> رقم حساب</span>*@
                              <span lang="ar">:فرع</span>

                          </div>

                      </div>

                      <div style="font-weight: bold;padding-top:10px;font-size:medium;clear:both;font-size:15px;">
                          <div style="float:left;width:50%;">
                              E: ADDITIONAL TERMS:
                          </div>
                          <div style="float:left;width:50%;">
                              <div style="float:right; text-align:right;">
                                  @*<span lang="ar" style="font-weight:bold"> شروط إضافية</span>*@
                                  <span lang="ar" style="font-weight:bold">:رابعا : شروط اضافية</span>
                              </div>
                          </div>
                      </div>

                      <div style="padding-top:10px;clear:both;font-size:13px;">
                          <div style="float:left;width:50%;">
                              The terms and conditions attached to this Tenancy Contract are an integral part of this contract
                          </div>
                          <div style="float:left;width:50%;">
                              <div style="float:right; text-align:right;">
                                  @*<span lang="ar">إن الشروط والأحكام المرتبطة بعقد الإيجار هذا جزء لا يتجزأ من هذا العقد.</span>*@
                                  <span lang="ar">:تشكل الشروط و الاحكام المرفقة جزئا لا يتجزا من عقد الايجار الماثل</span>
                              </div>
                          </div>
                      </div>

                      <div style="font-weight: bold;padding-top:100px;clear:both;">
                          <div style="float:left;width:8.33333333%"> &nbsp; </div>
                          <div style="float:left;width:33.33333333%;">
                              <div style="border-bottom:2px solid;"></div>
                              <div style="float:left;width:41.66666667%"> Landlord </div>
                              <div style="float:left;width:8.33333333%"> &nbsp; </div>
                              <div style="float:left;width:41.66666667%;float:right; text-align:right;"> <span lang="ar" style="font-weight:bold"> المالك</span> </div>
                          </div>
                          <div style="float:left;width:16.66666667%"> &nbsp; </div>
                          <div style="float:left;width:33.33333333%;">
                              <div class="">
                                  <div style="border-bottom:2px solid;"></div>
                                  <div style="float:left;width:41.66666667%"> Tenant </div>
                                  <div style="float:left;width:8.33333333%"> &nbsp; </div>
                                  <div style="float:left;width:41.66666667%;float:right; text-align:right;"> <span lang="ar" style="font-weight:bold"> مستأجر</span> </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div title="Terms and Conditions" style="page-break-before: always;">
                      <div style="text-align:center;font-weight: bold;padding-top:25px;font-size:medium;">
                          TENANCY CONTRACT - TERMS AND CONDITIONS
                      </div>
                      <div class="row" style="font-weight:bold;padding-top:20px;padding-bottom:2%;">
                          <div style="width:50%;float:left;">
                              Contract Number : @Model.Agreement_No
                          </div>
                          <div style="width:50%;float:right;text-align: right;">
                              Issue Date : @Model.IssueDate
                          </div>
                      </div>
                      @if (Model.Property_Usage == "Commercial")
                      {
                          @Html.Partial("Contract/_TermsCommercial")
                      }
                      else
                      {
                          @Html.Partial("Contract/_TermsResidential")
                      }
                      <div style="font-size:8px;">
                          <p style="font-size:8px;">@Model.OtherTerms</p>
                      </div>
                      <div class="row" style="font-weight: bold;padding-top:3%;font-size:medium;">
                          <div style="width:50%;float:left;">
                              Landlord..............
                          </div>
                          <div style="width:50%;float:right;text-align: right;">
                              Tenant.................
                          </div>
                      </div>
                  </div>

              </div>

          </div>

          <div id="ALAIN" style="display:none">

              <div style="padding-top:10px;clear:both;font-size:13px;">
                  <div style="float:left;width:33.33333333%;">
                      Account Name:
                  </div>
                  <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold; text-align:center;">
                      Tala International General Maintenance LLC
                  </div>
                  <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                      @*<span lang="ar"> تفاصيل الحساب</span>*@
                      <span lang="ar">:اسم الحساب</span>


                  </div>
              </div>

              <div style="padding-top:10px;clear:both;font-size:13px;">
                  <div style="float:left;width:33.33333333%;">
                      Account Number:
                  </div>
                  <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold;text-align:center;">
                      105-100-1060654-01-6
                  </div>
                  <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                      @*<span lang="ar">التفاصيل المصرفية</span>*@
                      <span lang="ar">:رقم الحساب</span>

                  </div>
              </div>

              <div style="padding-top:10px;clear:both;font-size:13px;">
                  <div style="float:left;width:33.33333333%;">
                      Bank:
                  </div>
                  <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold;text-align:center;">
                      First Abu Dhabi Bank
                  </div>
                  <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                      @*<span lang="ar"> رقم حساب</span>*@
                      <span lang="ar">:بنك</span>

                  </div>
                  <div style="padding-top:10px;clear:both;font-size:13px;">
                      <div style="float:left;width:33.33333333%;">
                          IBAN:
                      </div>
                      <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold;text-align:center;">
                          AE-28-027-105-100-1060654-01-6
                      </div>
                      <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                          @*<span lang="ar"> رقم حساب</span>*@
                          <span lang="ar">:أيبان </span>

                      </div>
                      <div style="padding-top:10px;clear:both;font-size:13px;">
                          <div style="float:left;width:33.33333333%;">
                              Branch :
                          </div>
                          <div style="float:left;width:33.33333333%;color:#066CBE; font-weight:bold;text-align:center;">
                              Oud Al Touba AlAin
                          </div>
                          <div style="float:left;width:33.33333333%;float:right; text-align:right;">
                              @*<span lang="ar"> رقم حساب</span>*@
                              <span lang="ar">:فرع</span>
                          </div>
                      </div>

                      <div style="font-weight: bold;padding-top:10px;font-size:medium;clear:both;font-size:15px;">
                          <div style="float:left;width:50%;">
                              E: ADDITIONAL TERMS:
                          </div>
                          <div style="float:left;width:50%;">
                              <div style="float:right; text-align:right;">
                                  @*<span lang="ar" style="font-weight:bold"> شروط إضافية</span>*@
                                  <span lang="ar" style="font-weight:bold">:رابعا : شروط اضافية</span>
                              </div>
                          </div>
                      </div>

                      <div style="padding-top:10px;clear:both;font-size:13px;">
                          <div style="float:left;width:50%;">
                              The terms and conditions attached to this Tenancy Contract are an integral part of this contract
                          </div>
                          <div style="float:left;width:50%;">
                              <div style="float:right; text-align:right;">
                                  @*<span lang="ar">إن الشروط والأحكام المرتبطة بعقد الإيجار هذا جزء لا يتجزأ من هذا العقد.</span>*@
                                  <span lang="ar">:تشكل الشروط و الاحكام المرفقة جزئا لا يتجزا من عقد الايجار الماثل</span>
                              </div>
                          </div>
                      </div>

                      <div style="font-weight: bold;padding-top:100px;clear:both;">
                          <div style="float:left;width:8.33333333%"> &nbsp; </div>
                          <div style="float:left;width:33.33333333%;">
                              <div style="border-bottom:2px solid;"></div>
                              <div style="float:left;width:41.66666667%"> Landlord </div>
                              <div style="float:left;width:8.33333333%"> &nbsp; </div>
                              <div style="float:left;width:41.66666667%;float:right; text-align:right;"> <span lang="ar" style="font-weight:bold"> المالك</span> </div>
                          </div>
                          <div style="float:left;width:16.66666667%"> &nbsp; </div>
                          <div style="float:left;width:33.33333333%;">
                              <div class="">
                                  <div style="border-bottom:2px solid;"></div>
                                  <div style="float:left;width:41.66666667%"> Tenant </div>
                                  <div style="float:left;width:8.33333333%"> &nbsp; </div>
                                  <div style="float:left;width:41.66666667%;float:right; text-align:right;"> <span lang="ar" style="font-weight:bold"> مستأجر</span> </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div title="Terms and Conditions" style="page-break-before: always;">
                      <div style="text-align:center;font-weight: bold;padding-top:25px;font-size:medium;">
                          TENANCY CONTRACT - TERMS AND CONDITIONS
                      </div>
                      <div class="row" style="font-weight:bold;padding-top:20px;padding-bottom:2%;">
                          <div style="width:50%;float:left;">
                              Contract Number : @Model.Agreement_No
                          </div>
                          <div style="width:50%;float:right;text-align: right;">
                              Issue Date : @Model.IssueDate
                          </div>
                      </div>
                      @if (Model.Property_Usage == "Commercial")
                      {
                          @Html.Partial("Contract/_TermsCommercial")
                      }
                      else
                      {
                          @Html.Partial("Contract/_TermsResidential")
                      }
                      <div style="font-size:8px;">
                          <p style="font-size:8px;">@Model.OtherTerms</p>
                      </div>
                      <div class="row" style="font-weight: bold;padding-top:3%;font-size:medium;">
                          <div style="width:50%;float:left;">
                              Landlord..............
                          </div>
                          <div style="width:50%;float:right;text-align: right;">
                              Tenant.................
                          </div>
                      </div>
                  </div>

              </div>

          </div>

              
    </div>
</div>
   </div>
</div>
<hr />
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <textarea rows="5" class="form-control" id="otherTerms" placeholder="other terms"></textarea>
    </div>
    <div class="col-md-2">

    </div>
    

</div>
<div class="row" style="padding-top:8%; text-align:center;">
    <input type="button" style="background-color: #554289;
    color: white;
    border-radius: 15px !important;
    width: 200px;
    padding: 10px !important;" value="Print" id="btnPrint" />

    <input type="button" class="agreement-print-update" style="background-color: #554289;
    color: white;
    border-radius: 15px !important;
    width: 200px;
    padding: 10px !important;" value="Update Other Terms" data-agreementno ="@Model.Agreement_No" target = "#contractModal" />
    @*@Html.ActionLink(" ", "Print", null, new { @class = "glyphicon glyphicon-print  agreement-print-update", title = "Update other terms", @data_toggle = "modal", @data_target = "#contractModal", @data_agreementno = Model.Agreement_No })*@
</div>
<script type="text/javascript">

    $(".agreement-print-update").click(function (e) {
        // $("#img-loader").removeClass("hide");
        e.preventDefault();
        var id = $(this).data("agreementno");
        //alert(id);
        //alert($("#otherTerms").val());
        $.ajax(
            {
                url: "../Tca/Print",
                type: "POST",
                data: { AgreementNo: id, otherTerms:$("#otherTerms").val() },
                success: function (result) {
                    //var data=jQuery.parseJSON(result);
                    if (result.Errors == undefined || result.Errors == "") {
                        $("#PrintContainer").empty();
                        $("#PrintContainer").html(result);
                        $("#contractModal").modal('show');

                    }
                    else {
                        $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                        $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                        $(".result-title").text("Failure");
                        $(".result-modal-body span").text(data.Errors);
                        $('#masterResultModal').modal('show');
                        //alert(data.Errors);
                    }
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                },
                complete: function () {
                    // $("body").scrollTop(0);
                }
            });
    });
    function printData() {
        //alert(1);
        var divToPrint = document.getElementById("PrintelementID");
        newWin = window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
        //$("#contractModal").modal('hide');
    }
    //printData();
        $(document).ready()
        {

         //btnPrint button id
            $('#btnPrint').on('click', function () {
                               printData();
            })


            $(function () {
                //debugger;
                var reg = $("#reginam").text();
                if(reg == "AL AIN")
                {
                    $("#ALAIN").show();
                    $("#Abudabi").hide();
                }
                else
                {
                    $("#ALAIN").hide();
                    $("#Abudabi").show();
                }
            });
        }
</script>
