@model LeaMaPortal.Models.RegionViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "Region" }))
{
    @Html.HiddenFor(m => m.Id, new { @id = "RegionId" })
    @Html.HiddenFor(m => m.Region_Name_PK, new { @id = "RegionNamePK" })
    @Html.HiddenFor(m => m.Country_PK, new { @id = "CountryPK" })
    <div class="col-md-12 leama-fieldset leama-header-top">
        <div class="row">
            <div class="col-md-12 leama-fieldset ">
                <div class="col-md-2 pull-left">
                    @Html.LabelFor(model => model.Region_Name, htmlAttributes: new { @class = "leama-field-name" })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Region_Name, new { htmlAttributes = new { @class = "leama-field form-control", @required = "required", @id = "RegionName", @pattern = "[a-zA-Z0-9\\s]+", title="Alphanumeric only" } })
                </div>
            </div>
            <div class="col-md-12 leama-fieldset ">
                <div class="col-md-2 pull-left">
                    @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "leama-field-name" })
                </div>
                <div class="col-sm-4 ">
                    @Html.DropDownList("Country", null,"--Select--", htmlAttributes: new { @class = "master-form-input subheader-select", @required = "required", @id = "Country", @pattern = "[a-zA-Z0-9\\s]+", title = "Alphanumeric only" })
                </div>
            </div>
            <div class="col-md-12 leama-fieldset ">
                <div class="col-md-12 pull-left">
                    <button type="submit" class="col-md-offset-2 leama-btn">Submit</button>&nbsp;&nbsp;
<button class="btn master-form-btn" id="btnCancel" type="button" onclick="formReset()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function formReset() {
        GetRegionAddOrUpdate();
    }
    //Add or update
    $("form#Region").off("submit").on("submit", function (e) {
        e.preventDefault();
        // $("#icon-success").addClass("hide");
        //$("#VerifyIdDetailsLoader").removeClass("hide");
        try {
            var form = $("form#Region");

            // var form = $('"form#VerifyId')[0]; // You need to use standart javascript object here
            //var formData = new FormData(form);
            $.ajax(
                {
                    url: "../Region/AddOrUpdate",
                    // dataType: "jsonp",
                    method: "POST",
                    data: JSON.stringify($(form).serializeObject()), //FormData(form.get(0)),
                    contentType: "application/json",
                    processData: false,
                    success: function (response) {
                        GetRegion();
                        if (response != null && response.Errors == null) {
                            $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-error");
                            $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-success");
                            $(".result-title").text("Success");
                            $(".result-modal-body span").text(response.Message);
                        }
                        else
                        {
                            $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                            $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                            $(".result-title").text("Failure");
                            $(".result-modal-body span").text(response.Errors);
                        }
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                        $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                        $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                        $(".result-title").text("Failure");
                        $(".result-modal-body span").text(masterResultError);
                    },
                    complete: function () {
                        // $("#").addClass("hide");
                        $('#masterResultModal').modal('show');
                    }

                });

        }
        catch (ex) {
            alert(ex);
        }

    });
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
    $(document).ready(function () {
        var id = $("#RegionId").val();
        if (id != 0) {
            document.getElementById("btnSubmit").innerHTML = 'Update';
        }
    });
</script>