
@using MvcPaging
@model IPagedList<LeaMaPortal.DBContext.tbl_tenant_individual>
@{
    Layout = null;
}

<hr />

<div class="col-md-12 leama-fieldset leama-header-top" style="background-color:white;">
    <div id="master-loader-list" class="fa hide">
    </div>
    <div class="row" id="individual-list">

        <div class="col-md-12 leama-fieldset ">
            <div class="col-md-2 pull-left">
                @Html.Label("Search", htmlAttributes: new { @class = "leama-field-name" })
            </div>
            <div class="col-md-4">
                <input type="text" class="leama-field form-control" name="Search" id="Search" value="@ViewData["Search"]" />
            </div>
            <div class="col-md-4">
                <button type="button" id="btn-search" class="btn btn-info leama-search-btn col-md-4">Go</button>
            </div>
        </div>

        <div class="col-md-12 leama-fieldset ">
            &nbsp;
        </div>

        <div class="divTable leama-fieldset col-md-12">
            <div class="divTableBody divFontBodyTable">
                <div class="divTableHeading">
                    <div class="divTableCell">Tenant ID</div>
                    <div class="divTableCell">Title</div>
                    <div class="divTableCell">Name</div>
                    <div class="divTableCell">Company Name</div>
                    <div class="divTableCell">Profession</div>
                    <div class="divTableCell">Address</div>
                    <div class="divTableCell">City</div>
                    <div class="divTableCell">Action</div>
                </div>

                @foreach (var item in Model)
                {
                    <div class="divTableRow">
                        <div class="divTableCell">@item.Id</div>
                        <div class="divTableCell">@item.Title</div>
                        <div class="divTableCell">@item.First_Name  @item.Last_Name</div>
                        <div class="divTableCell">@item.Company_Educational</div>
                        <div class="divTableCell">@item.Profession</div>
                        <div class="divTableCell">@item.address</div>
                        <div class="divTableCell">@item.City</div>
                        <div class="divTableCell">
                            @if (@ViewBag.IsEditable == 1)
                {
                                <span>
                                    @Html.ActionLink(" ", "Edit", null, new { @class = "glyphicon glyphicon-edit tenant-individual-edit", title = "Edit", @data_id = @item.Tenant_Id, @data_type = @item.Type })
                                </span>
                            }
                            @if (@ViewBag.IsDeletable == 1)
                {
                                <span>
                                    | @Html.ActionLink(" ", "Delete", null, new { @class = "glyphicon glyphicon-trash tenant-individual-delete", @style = "color:red", @title = "Delete", @data_id = @item.Tenant_Id, @data_type = @item.Type })
                                </span>
                            }

                        </div>

                    </div>
                }
            </div>
        </div>


        <div class="col-md-12">
            <br />
            @Html.HiddenFor(m => m.PageNumber)
            <div class="col-md-2">
                @Html.DropDownList("defaultPageSize", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-lg-10 text-right">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    if (i == Model.PageNumber)
                    {
                        <input type="button" data-id="@i" value="@i" class="pagination-btn" />
                    }
                    else
                    {
                        <input type="button" data-id="@i" value="@i" class="Page" />
                    }

                }
            </div>
        </div>
        <script type="text/javascript">
            $(".Page").click(function (e) {
                $("#master-loader-list").removeClass("hide");
                $("#individual-list").addClass("hide");
                var page = parseInt($(this).data("id"));
                var defaultPageSize = $("#defaultPageSize").val();
                var search = $("#Search").val();
                //alert(page);
                getTenantIndividualList(search, page, defaultPageSize)
            });
            $("#defaultPageSize").change(function () {
                $("#master-loader-list").removeClass("hide");
                $("#individual-list").addClass("hide");
                var search = $("#Search").val();
                var defaultPageSize = $("#defaultPageSize").val();
                getTenantIndividualList(search, 1, defaultPageSize)
            });
            $("#btn-search").click(function (e) {
                $("#master-loader-list").removeClass("hide");
                $("#individual-list").addClass("hide");
                var search = $("#Search").val();
                var defaultPageSize = $("#defaultPageSize").val();
                getTenantIndividualList(search, 1, defaultPageSize)
            });

            function getTenantIndividualList(search, page, defaultPageSize) {
                $.ajax(
                   {
                       url: "../MasterIndividual/Index",
                       type: "Get",
                       data: { Search: search, page: page, defaultPageSize: defaultPageSize },
                       success: function (html) {
                           $("#ContainerList").html(html);
                       },
                       error: function (jqXhr, textStatus, errorThrown) {
                           alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                       },
                       complete: function () {
                           //   $("#VerifyIdDetailsLoader").addClass("hide");
                           //$("#master-loader-list").addClass("hide");
                           //$("#individual-list").removeClass("hide");
                       }
                   });
            }
            function beginPaging(args) {
                // Animate
                $('#grid-list').fadeOut('normal');
            }

            function successPaging() {
                // Animate
                $('#grid-list').fadeIn('normal');
                $('a').tooltip();
            }

            function failurePaging() {
                alert("Could not retrieve list.");
            }

        </script>


    </div>
</div>

<script>
    $(".tenant-individual-edit").click(function (e) {
        e.preventDefault();
        $("#master-loader-edit").removeClass("hide");
        $("#ContainerAddOrUpdate").hide();
        var tenantId = $(this).data("id");
        var type = $(this).data("type");
        //alert(tenantId + "-" + type);
        $.ajax(
            {
                url: "../MasterIndividual/Edit",
                type: "Get",
                data: { tenantId: tenantId, type: type },
                success: function (html) {
                    $("#ContainerAddOrUpdate").html(html);
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                },
                complete: function () {
                    $("body").scrollTop(0);
                    $("#master-loader-edit").addClass("hide");
                    $("#ContainerAddOrUpdate").show();
                }
            });
    });

    $(".tenant-individual-delete").click(function (e) {
        e.preventDefault();
        var tenantId = $(this).data("id");
        var type = $(this).data("type");
        var r = confirm("Are you sure want to delete?");
        if (r == false) {
            return;
        }
        else {
            $.ajax(
                {
                    url: "../MasterIndividual/Delete",
                    type: "Get",
                    data: { tenantId: tenantId, type: type },
                    success: function (response) {
                        GetTenantIndividual(); if (response.Errors == null) {
                            $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-error");
                            $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-success");
                            $(".result-title").text("Success");
                            $(".result-modal-body span").text(response.Message);
                        }
                        else {
                            $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                            $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                            $(".result-title").text("Failure");
                            $(".result-modal-body span").text(response.Errors);
                        }
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                        $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                        $(".result-title").text("Failure");
                        $(".result-modal-body span").text(masterResultError);
                    },
                    complete: function () {
                        $('#masterResultModal').modal('show');
                    }
                });
        }
    });

</script>