
@using MvcPaging
@model IPagedList<LeaMaPortal.Models.ReceiptViewModel>
@{
    Layout = null;
}
<link href="~/content/bootstrap.css" rel="stylesheet" />
<link href="~/theme/css/leemastyle.css" rel="stylesheet" />
<link href="~/theme/css/leametablestyle.css" rel="stylesheet" />
<!DOCTYPE html>
<div class="col-md-12 leama-fieldset leama-header-top" style="background-color:white;">
    <div id="master-loader-list" class="fa hide">
    </div>
    <div class="row" id="receipts-list">
        <div class="col-md-12 leama-fieldset ">
            <div class="col-md-2 pull-left">
                @Html.Label("Search", htmlAttributes: new { @class = "leama-field-name" })
            </div>
            <div class="col-md-4">
                <input type="text" class="leama-field form-control" name="Search" id="Search" value="@ViewData["Search"]" />
            </div>
            <div class="col-md-4">
                <button type="button" id="btn-search" class="btn btn-info leama-search-btn col-md-4">Go</button>
            </div>
        </div>

        <div class="col-md-12 leama-fieldset ">
            &nbsp;
        </div>

        <div class="divTable leama-fieldset col-md-12">


            <div class="divTableBody divFontBodyTable">
                <div class="divTableHeading">
                    <div class="divTableCell">Receipt number</div>
                    <div class="divTableCell">Property Name</div>
                    <div class="divTableCell">Unit Name</div>
                    <div class="divTableCell">Tenant Name</div>
                    <div class="divTableCell">Agreement Number</div>
                    <div class="divTableCell">Receipt Type</div>
                    <div class="divTableCell">Total Amount</div>
                    <div class="divTableCell">Action</div>

                </div>
                @foreach (var item in Model)
                {
                    <div class="divTableRow">
                        <div class="divTableCell">@item.ReceiptNo</div>
                        <div class="divTableCell">@item.Property_Name</div>
                        <div class="divTableCell">@item.unit_Name</div>
                        <div class="divTableCell">@item.Tenant_Name</div>
                        <div class="divTableCell">@item.agreement_no</div>
                        <div class="divTableCell">@item.RecpType</div>
                        <div class="divTableCell">@item.TotalAmount</div>
                        <div class="divTableCell">
                            @if (@ViewBag.IsEditable == 1)
                            {
                                <span>
                                    @Html.ActionLink(" ", "Edit", null, new { @class = "glyphicon glyphicon-edit receipt-edit", title = "Edit", @data_id = @item.Id })
                                </span>
                            }
                            @if (@ViewBag.IsDeletable == 1)
                            {
                                <span>
                                    | @Html.ActionLink(" ", "Delete", null, new { @class = "glyphicon glyphicon-trash receipt-delete", @style = "color:red", @title = "Delete", @data_id = @item.Id })
                                </span>
                            }
</div>
                    </div>
                }
            </div>
        </div>

        <div class="col-md-12">
            @Html.HiddenFor(m => m.PageNumber)
            <div class="col-md-2">
                @Html.DropDownList("defaultPageSize", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-lg-10 text-right">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    if (i == Model.PageNumber)
                    {
                        <input type="button" data-id="@i" value="@i" class="pagination-btn" />
                    }
                    else
                    {
                        <input type="button" data-id="@i" value="@i" class="Page" />
                    }

                }
            </div>
        </div>

        <script type="text/javascript">
                $(".Page").click(function(e)
                {
                    $("#master-loader-list").removeClass("hide");
                    $("#receipts-list").addClass("hide");
                    var page = parseInt($(this).data("id"));
                    var defaultPageSize = $("#defaultPageSize").val();
                    var search = $("#Search").val();
                    //alert(page);
                    getReceiptList(search,page,defaultPageSize)
                });
                $("#defaultPageSize").change(function () {
                    $("#master-loader-list").removeClass("hide");
                    $("#receipts-list").addClass("hide");
                    var search = $("#Search").val();
                    var defaultPageSize = $("#defaultPageSize").val();
                    getReceiptList(search, 1, defaultPageSize)
                });
                $("#btn-search").click(function (e) {
                    $("#master-loader-list").removeClass("hide");
                    $("#receipts-list").addClass("hide");
                    var search = $("#Search").val();
                    var defaultPageSize = $("#defaultPageSize").val();
                    getReceiptList(search, 1, defaultPageSize)
                });

                function getReceiptList(search, page, defaultPageSize)
                {
                    $.ajax(
                       {
                           url: "../Receipts/List",
                           type: "Get",
                           data: { Search: search, page: page, defaultPageSize: defaultPageSize },
                           success: function (html) {
                               $("#ContainerList").html(html);
                           },
                           error: function (jqXhr, textStatus, errorThrown) {
                               //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                               $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                               $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                               $(".result-title").text("Failure");
                               $(".result-modal-body span").text(masterResultError);
                               $('#masterResultModal').modal('show');
                           },
                           complete: function () {
                               //$("#master-loader-list").addClass("hide");
                               //$("#receipts-list").removeClass("hide");
                           }
                       });
                }
    function beginPaging(args) {
        // Animate
        $('#grid-list').fadeOut('normal');
    }

    function successPaging() {
        // Animate
        $('#grid-list').fadeIn('normal');
        $('a').tooltip();
    }

    function failurePaging() {
        alert("Could not retrieve list.");
    }

    </script>

        <div class="col-md-12 leama-fieldset ">
            &nbsp;
        </div>
    </div>
</div>

<script>
    $(".receipt-edit").click(function (e) {
        e.preventDefault();
        $("#master-loader-edit").removeClass("hide");
        $("#ContainerAddOrUpdate").hide();
        var id = $(this).data("id");
        //var param = id.split('`');
        $.ajax(
            {
                url: "../Receipts/Edit",
                type: "GET",
                data: { id: id },
                success: function (html) {
                    $("#ContainerAddOrUpdate").html(html);
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                    $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                    $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                    $(".result-title").text("Failure");
                    $(".result-modal-body span").text(masterResultError);
                    $('#masterResultModal').modal('show');
                },
                complete: function () {
                    $("body").scrollTop(0);
                    $("#master-loader-edit").addClass("hide");
                    $("#ContainerAddOrUpdate").show();
                }
            });
    });

    // delete
    $(".receipt-delete").click(function (e) {
        e.preventDefault();
        var id = $(this).data("id");
        var r = confirm("Are you sure want to delete?");
        if (r == false) {
            return;
        }
        else {
            $.ajax(
                {
                    url: "../Receipts/Delete",
                    type: "post",
                    data: { id: id },
                    success: function (response) {
                        getReceipt();
                        $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-error");
                        $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-success");
                        $(".result-title").text("Success");
                        $(".result-modal-body span").text(response.Message);
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                        $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                        $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                        $(".result-title").text("Failure");
                        $(".result-modal-body span").text(masterResultError);
                    },
                    complete: function () {
                        $('#masterResultModal').modal('show');
                    }
                });
        }
    });

</script>
