@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #master-loader {
        background: url("../Images/loader.gif") no-repeat scroll center center #FFF;
        position: absolute;
        height: 30%;
        width: 85%;
    }
</style>
<div id="master-loader" class="fa hide">
</div>

<div class="inner-block">
    <div class="blank">
        <div id="ContainerAddOrUpdate"></div>
        <div id="ContainerList"></div>

        @*<div class="row">
                <div class="col-md-6">
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.ReceiptNo, htmlAttributes: new { @class = "label-default-remove" })
                        </div>
                        <div class="col-md-8">

                            @Html.EditorFor(model => model.ReceiptNo, new { htmlAttributes = new { @class = "master-form-input" } })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.ReceiptDate, htmlAttributes: new { @class = "label-default-remove" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ReceiptDate, new { htmlAttributes = new { @class = "master-form-input" } })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Reccategory, htmlAttributes: new { @class = "label-default-remove" })
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.Reccategory, new SelectList(ViewBag.ReceiptType, "Value", "Text"), htmlAttributes: new { @class = "master-form-input" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.RecpType, htmlAttributes: new { @class = "label-default-remove" })
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.RecpType, new SelectList(ViewBag.ReceiptMode, "Value", "Text"), htmlAttributes: new { @class = "master-form-input" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.AdvAcCode, htmlAttributes: new { @class = "label-default-remove" })
                        </div>
                        <div class="col-md-8">
                            <select class="col-md-12 leama-field">
                                <option value="Advance Receipt Number">Advance Receipt Number</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.agreement_no, htmlAttributes: new { @class = "label-default-remove" })
                        </div>
                        <div class="col-md-8">
                            <select class="col-md-12 leama-field">
                                <option value="Agreement_No">Agreement No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.ContracAgreementDate, htmlAttributes: new { @class = "label-default-remove" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ContracAgreementDate, new { htmlAttributes = new { @class = "master-form-input" } })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Tenant_id, htmlAttributes: new { @class = "label-default-remove" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Tenant_id, new { htmlAttributes = new { @class = "master-form-input" } })
                            <select class="col-md-12 leama-field">
                                <option value="Tenant_id">Tenant No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Tenant_Name, htmlAttributes: new { @class = "label-default-remove" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Property_Name, new { htmlAttributes = new { @class = "master-form-input" } })
                            <select class="col-md-12 leama-field">
                                <option value="Tenant_Name">Tenant Name</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Property_id, htmlAttributes: new { @class = "label-default-remove" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Property_id, new { htmlAttributes = new { @class = "master-form-input" } })
                            <select class="col-md-12 leama-field">
                                <option value="Property_ID">Property No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Property_Name, htmlAttributes: new { @class = "label-default-remove" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Property_Name, new { htmlAttributes = new { @class = "master-form-input" } })
                            <select class="col-md-12 leama-field">
                                <option value="Property_Name">Property Name</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Unit_ID, htmlAttributes: new { @class = "label-default-remove" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Unit_ID, new { htmlAttributes = new { @class = "master-form-input" } })
                            <select class="col-md-12 leama-field">
                                <option value="Unit_ID">Unit ID</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.unit_Name, htmlAttributes: new { @class = "label-default-remove" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.unit_Name, new { htmlAttributes = new { @class = "master-form-input" } })
                            <select class="col-md-12 leama-field">
                                <option value="unit_Name">Unit Name</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.TotalAmount, htmlAttributes: new { @class = "label-default-remove" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "master-form-input" } })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.AmtInWords, htmlAttributes: new { @class = "label-default-remove" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AmtInWords, new { htmlAttributes = new { @class = "master-form-input" } })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.PDCstatus, htmlAttributes: new { @class = "label-default-remove" })
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.PDCstatus, new SelectList(ViewBag.PDCStatus, "Value", "Text"), htmlAttributes: new { @class = "master-form-input" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.DDChequeNo, htmlAttributes: new { @class = "label-default-remove" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DDChequeNo, new { htmlAttributes = new { @class = "master-form-input" } })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.DDChequeDate, htmlAttributes: new { @class = "label-default-remove" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DDChequeDate, new { htmlAttributes = new { @class = "master-form-input" } })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.BankAcCode, htmlAttributes: new { @class = "label-default-remove" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.BankAcCode, new { htmlAttributes = new { @class = "master-form-input" } })
                            <select class="col-md-12 leama-field">
                                <option value="BankAcCode">Bank Account Code</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.BankAcName, htmlAttributes: new { @class = "label-default-remove" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.BankAcName, new { htmlAttributes = new { @class = "master-form-input" } })
                            <select class="col-md-12 leama-field">
                                <option value="Bank Account Name">Bank Account Name</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Narration, htmlAttributes: new { @class = "label-default-remove" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Narration, new { htmlAttributes = new { @class = "master-form-input" } })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                        <div class="col-md-4">
                            <button class="btn master-form-btn">Submit</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 document-row">
                    <div class="col-md-1">
                        ID
                    </div>
                    <div class="col-md-2">
                        Invoice Type
                    </div>
                    <div class="col-md-2">
                        Invoice Number
                    </div>
                    <div class="col-md-2">
                        Invoice Date
                    </div>
                    <div class="col-md-2">
                        Invoice Description
                    </div>
                </div>
            </div>
            <div class="row ht-5">
                &nbsp;
            </div>*@

        <!-- Begin Dynamic row -->
        @*@Html.Partial("_ReceiptDetails")*@
        <!-- End Dynamic row -->



    </div>
</div>

<script>
    AddOrUpdate();
    function AddOrUpdate() {
        debugger;
        //$("#img-loader").removeClass("hide");
        $("#master-loader").removeClass("hide");
        $("#ContainerAddOrUpdate").empty();
        //$("#ContainerList").empty();
        $.ajax(
        {
            url: "../Receipts/AddOrUpdate",
            type: "Get",
            data: {},
            //contentType: "application/json",
            //processData: false,
            success: function (html) {
                $("#ContainerAddOrUpdate").html(html);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
            },
            complete: function () {
                //$("#img-loader").addClass("hide");
                $("#master-loader").addClass("hide");
            }
        });
    };
</script>

