


@model LeaMaPortal.Models.SlabViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "Slab" }))
{
    @Html.HiddenFor(m => m.Id, new { @id = "SlabId" })
    <div class="col-md-12 leama-fieldset leama-header-top">
        <div class="row">
            <div class="col-md-12 leama-fieldset ">
                <div class="col-md-2 pull-left">
                    @Html.LabelFor(model => model.SlabId, htmlAttributes: new { @class = "leama-field-name" })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.SlabId, new { htmlAttributes = new { @class = "leama-field form-control", @required = "required", @id = "SlabId", @readonly = "readonly" } })
                </div>
            </div>
            <div class="col-md-12 leama-fieldset ">
                <div class="col-md-2 pull-left">
                    @Html.LabelFor(model => model.Utility_id, htmlAttributes: new { @class = "leama-field-name" })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Utility_id, new { htmlAttributes = new { @class = "leama-field form-control", @required = "required", @id = "Utility_id", @readonly = "readonly" } })
                </div>
            </div>
            <div class="col-md-12 leama-fieldset ">
                <div class="col-md-2 pull-left">
                    @Html.LabelFor(model => model.Utility_Name, htmlAttributes: new { @class = "leama-field-name" })
                </div>
                <div class="col-sm-4 ">
                    @Html.DropDownList("Utility_Name", null, htmlAttributes: new { @class = "master-form-input subheader-select", @required = "required", @id = "Utility_Name" })
                </div>
            </div>
            <div class="col-md-12 leama-fieldset ">
                <div class="col-md-2 pull-left">
                    @Html.LabelFor(model => model.Unit_From, htmlAttributes: new { @class = "leama-field-name" })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Unit_From, new { htmlAttributes = new { @class = "leama-field form-control", @required = "required", @id = "Unit_From" } })
                </div>
            </div>
            <div class="col-md-12 leama-fieldset ">
                <div class="col-md-2 pull-left">
                    @Html.LabelFor(model => model.Unit_to, htmlAttributes: new { @class = "leama-field-name" })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Unit_to, new { htmlAttributes = new { @class = "leama-field form-control", @required = "required", @id = "Unit_to" } })
                </div>
            </div>
            <div class="col-md-12 leama-fieldset ">
                <div class="col-md-2 pull-left">
                    @Html.LabelFor(model => model.rate, htmlAttributes: new { @class = "leama-field-name" })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.rate, new { htmlAttributes = new { @class = "leama-field form-control", @required = "required", @id = "rate" } })
                </div>
            </div>
            <div class="col-md-12 leama-fieldset ">
                <div class="col-md-2 pull-left">
                    @Html.LabelFor(model => model.Colour, htmlAttributes: new { @class = "leama-field-name" })
                </div>
                <div class="col-sm-4 ">
                    @Html.DropDownList("Colour", null, htmlAttributes: new { @class = "master-form-input subheader-select", @required = "required", @id = "Colour" })
                </div>
            </div>
            <div class="col-md-12 leama-fieldset ">
                <div class="col-md-2 pull-left">
                    @Html.LabelFor(model => model.Residence_type, htmlAttributes: new { @class = "leama-field-name" })
                </div>
                <div class="col-sm-4 ">
                    @Html.DropDownList("Residence_type", null, htmlAttributes: new { @class = "master-form-input subheader-select", @required = "required", @id = "Residence_type" })
                </div>
            </div>
            <div class="col-md-12 leama-fieldset ">
                <div class="col-md-12 pull-left">
                    <button type="submit" class="col-md-offset-2 leama-btn">Submit</button>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function getUtilityId()
    {
        var UtilityName = $("#Utility_Name").val();
        $.ajax(
                {
                    url: "../Meter/GetUtilityId",
                    method: "GET",
                    async : false,
                    data: { UtilityName: UtilityName },
                    success: function (response) {
                        $("#Utility_id").val(response);
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                    },
                    complete: function () {
                    }

                });
    }
    $("#Utility_Name").change(getUtilityId());
    getUtilityId();
    //Add or update
    $("form#Slab").off("submit").on("submit", function (e) {
        e.preventDefault();
        try {
            var form = $("form#Slab");
            $.ajax(
                {
                    url: "../Slab/AddOrUpdate",
                    method: "POST",
                    data: JSON.stringify($(form).serializeObject()),
                    contentType: "application/json",
                    processData: false,
                    success: function (response) {
                        GetMeter();
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                    },
                    complete: function () {
                    }

                });

        }
        catch (ex) {
            alert(ex);
        }

    });
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
</script>
