
@*@model LeaMaPortal.Models.SlabViewModel*@
@using MvcPaging
@model IPagedList<LeaMaPortal.Models.SlabViewModel>
@{
    Layout = null;
}
<link href="~/content/bootstrap.css" rel="stylesheet" />
<link href="~/theme/css/leemastyle.css" rel="stylesheet" />
<link href="~/theme/css/leametablestyle.css" rel="stylesheet" />
<!DOCTYPE html>

<div class="col-md-12 leama-fieldset leama-header-top" style="background-color:white; box-shadow: 7px 7px 7px #c5c2c7;">
    <div class="row">
        <div class="col-md-12 leama-fieldset ">
            <div class="col-md-2 pull-left">
                @Html.Label("Search", htmlAttributes: new { @class = "leama-field-name" })
            </div>
            <div class="col-md-4">
                <input type="text" class="leama-field form-control" name="Search" id="Search" value="@ViewData["Search"]" />
            </div>
            <div class="col-md-4">
                <button type="button" id="btn-search" class="btn btn-info leama-search-btn col-md-4">Go</button>
            </div>
        </div>

        <div class="col-md-12 leama-fieldset ">
            &nbsp;
        </div>

        <div class="divTable leama-fieldset col-md-12">


            <div class="divTableBody divFontBodyTable">
                <div class="divTableHeading">
                    <div class="divTableCell ">Slab Id</div>
                    <div class="divTableCell">Utility Name</div>
                    <div class="divTableCell ">Colour</div>                    
                    <div class="divTableCell ">Rate</div>
                    <div class="divTableCell ">Residence Type</div>
                    <div class="divTableCell">Action</div>

                </div>
                @foreach (var item in Model)
                {
                    <div class="divTableRow">
                        <div class="divTableCell">@item.SlabId</div>
                        <div class="divTableCell">@item.Utility_Name</div>
                        <div class="divTableCell">@item.Colour</div>
                        <div class="divTableCell">@item.rate</div>
                        <div class="divTableCell">@item.Residence_type</div>
                        <div class="divTableCell">
                            @Html.ActionLink(" ", "Edit", null, new { @class = "glyphicon glyphicon-edit slab-edit", title = "Edit", @data_id = @item.Id })  |
                            @Html.ActionLink(" ", "Delete", null, new { @class = "glyphicon glyphicon-trash slab-delete", @style = "color:red", @title = "Delete", @data_id = @item.Id })
                            @*| @Html.ActionLink(" ", "Details", null, new { @class = "glyphicon glyphicon-th-list", title = "Details" })*@
                        </div>
                    </div>
                }

            </div>
            <div class="col-md-12">
                <br />
                @Html.HiddenFor(m => m.PageNumber)
                <div class="col-md-2">
                    @Html.DropDownList("defaultPageSize", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-lg-10 text-right">
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        if (i == Model.PageNumber)
                        {
                            <input type="button" style="background:green" data-id="@i" value="@i" class="" />
                        }
                        else
                        {
                            <input type="button" data-id="@i" value="@i" class="Page" />
                        }
                    }
                </div>
            </div>
        </div>

        <script type="text/javascript">
                $(".Page").click(function(e)
                {
                    var page = parseInt($(this).data("id"));
                    var defaultPageSize = $("#defaultPageSize").val();
                    var search = $("#Search").val();
                    //alert(page);
                    getCheckListList(search,page,defaultPageSize)
                });
                $("#defaultPageSize").change(function () {
                    var search = $("#Search").val();
                    var defaultPageSize = $("#defaultPageSize").val();
                    getCheckListList(search, 1, defaultPageSize)
                });
                $("#btn-search").click(function (e) {
                    var search = $("#Search").val();
                    var defaultPageSize = $("#defaultPageSize").val();
                    getCheckListList(search, 1, defaultPageSize)
                });

                function getCheckListList(search, page, defaultPageSize)
                {
                    $.ajax(
                       {
                           url: "../CheckList/Index",
                           type: "Get",
                           data: { Search: search, page: page, defaultPageSize: defaultPageSize },
                           success: function (html) {
                               $("#ContainerList").html(html);
                           },
                           error: function (jqXhr, textStatus, errorThrown) {
                               alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                           },
                           complete: function () {
                               //   $("#VerifyIdDetailsLoader").addClass("hide");
                           }
                       });
                }
    function beginPaging(args) {
        // Animate
        $('#grid-list').fadeOut('normal');
    }

    function successPaging() {
        // Animate
        $('#grid-list').fadeIn('normal');
        $('a').tooltip();
    }

    function failurePaging() {
        alert("Could not retrieve list.");
    }

        </script>
    </div>


</div>

<script>
    //Edit get

    $(".slab-edit").click(function (e) {
        e.preventDefault();
        var id = $(this).data("id");
        $.ajax(
            {
                url: "../Slab/Edit",
                type: "Get",
                data: { Id : id },
                success: function (result) {
                    if (result.Errors == undefined || result.Errors == "") {
                        $("#MeterId").val(result.Id);
                        $("#Meter_no").val(result.Meter_no);
                        $("#Utility_id").val(result.Utility_id);
                        $("#Utility_Name").val(result.Utility_Name);
                        $("#Accno").val(result.Accno);
                        //$("#unit_id").val(result.unit_id);
                        $("#Property_id").val(result.Property_id);
                        $("#Dueday").val(result.Dueday);
                    }
                    else {
                        alert(data.Errors);
                    }
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                },
                complete: function () {
                }
            });
    });

    // delete
    $(".slab-delete").click(function (e) {
        e.preventDefault();
        var id = $(this).data("id");
        var r = confirm("Are you sure want to delete?");
        if (r == false) {
            return;
        }
        else {
            $.ajax(
                {
                    url: "../Slab/Delete",
                    type: "Get",
                    data: { Id: id },
                    success: function (response) {
                        GetSlab();
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                    },
                    complete: function () {
                    }
                });
        }
    });

</script>
