

@model LeaMaPortal.Models.EmailTemplateViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "EmailTemplate" }))
{
    @Html.HiddenFor(m => m.Id, new { @id = "EmailTemplateId" })
    <div class="col-md-12 leama-fieldset leama-header-top">
        <div class="row">
            <div class="col-md-12 leama-fieldset ">
                <div class="col-md-2 pull-left">
                    @Html.LabelFor(model => model.TemplateID, htmlAttributes: new { @class = "leama-field-name" })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.TemplateID, new { htmlAttributes = new { @class = "leama-field form-control", @id = "TemplateID" } })
                </div>
            </div>
            <div class="col-md-12 leama-fieldset ">
                <div class="col-md-2 pull-left">
                    @Html.LabelFor(model => model.TemplateName, htmlAttributes: new { @class = "leama-field-name" })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.TemplateName, new { htmlAttributes = new { @class = "leama-field form-control", @id = "TemplateName" } })
                </div>
            </div>
            <div class="col-md-12 leama-fieldset ">
                <div class="col-md-2 pull-left">
                    @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "leama-field-name" })
                </div>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "leama-field form-control", @id = "Subject" } })
                </div>
            </div>
            <div class="col-md-12 leama-fieldset ">
                <div class="col-md-2 pull-left">
                    @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "leama-field-name" })
                </div>
                <div class="col-sm-8">
                    @Html.TextAreaFor(model => model.Body, new { @class = "form-control", @rows = 4, @id = "Body" })
                </div>
            </div>
            <div class="col-md-12 leama-fieldset ">
                <div class="col-md-2 pull-left">
                    @Html.LabelFor(model => model.BodyText, htmlAttributes: new { @class = "leama-field-name" })
                </div>
                <div class="col-sm-4">
                    @Html.TextAreaFor(model => model.BodyText, new { @class = "form-control", @rows = 4, @id = "BodyText" })
                </div>
            </div>
            <div class="col-md-12 leama-fieldset ">
                <div class="col-md-2 pull-left">
                    @Html.LabelFor(model => model.SubjectParameter, htmlAttributes: new { @class = "leama-field-name" })
                </div>
                <div class="col-sm-4">
                    @Html.TextAreaFor(model => model.SubjectParameter, new { @class = "form-control", @rows = 4, @id = "SubjectParameter" })
                </div>
            </div>
            <div class="col-md-12 leama-fieldset ">
                <div class="col-md-12 pull-left">
                    <button type="submit" class="col-md-offset-2 leama-btn">Submit</button>
                </div>
            </div>
        </div>
    </div>
}
<script>
    //Add or update
    $("form#EmailTemplate").off("submit").on("submit", function (e) {
        e.preventDefault();
        try {
            var form = $("form#EmailTemplate");
            $.ajax(
                {
                    url: "../EmailTemplate/AddOrUpdate",
                    method: "POST",
                    data: JSON.stringify($(form).serializeObject()), 
                    contentType: "application/json",
                    processData: false,
                    success: function (response) {
                        GetEmailTemplate();
                        $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-error");
                        $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-success");
                        $(".result-title").text("Success");
                        $(".result-modal-body span").text(emailTemplateAdded);
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        //alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                        $("#masterResultModal").contents().find(".modal-header").removeClass("result-modal-success");
                        $("#masterResultModal").contents().find(".modal-header").addClass("result-modal-error");
                        $(".result-title").text("Failure");
                        $(".result-modal-body span").text(masterResultError);
                    },
                    complete: function () {
                        // $("#").addClass("hide");
                        $('#masterResultModal').modal('show');
                    }

                });

        }
        catch (ex) {
            alert(ex);
        }

    });
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
</script>
