
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Leama Systems</title>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Layout Files -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/recipt.css")
    @Styles.Render("~/Content/abel-font")
    @Styles.Render("~/Content/LeamaStyles.css")
    @Styles.Render("~/Content/custom.css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Custom Theme css -->
    @Styles.Render("~/theme/css/bootstrap.css")
    @Styles.Render("~/theme/css/style.css")
    <!--icons-css-->

    <script src="~/theme/js/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>

    @Styles.Render("~/theme/css/font-awesome.css")
    <!--Google Fonts-->
    @*<link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>*@

    <!-- Page styles -->
    <link href="~/theme/css/leemastyle.css" rel="stylesheet" />
    <link href="~/theme/css/leametablestyle.css" rel="stylesheet" />
</head>
<body class="font-type-abel">
    <div class="page-container">
        <div class="left-content">
            <div class="mother-grid-inner">
                @Html.Partial("_TopNavBar")
                @*@Html.Partial("_SubHeaderMenu")*@
                <!-- script-for sticky-nav -->
                <script>
                    $(document).ready(function () {
                        var navoffeset = $(".header-main").offset().top;
                        $(window).scroll(function () {
                            var scrollpos = $(window).scrollTop();
                            if (scrollpos >= navoffeset) {
                                $(".header-main").addClass("fixed");
                            } else {
                                $(".header-main").removeClass("fixed");
                            }
                        });

                    });
                </script>
                <!-- /script-for sticky-nav -->
                <!--inner block start here-->
                @*<div class="inner-block">
                    <div class="blank">*@
                @RenderBody()
                @*</div>
                    </div>*@
                <!--inner block end here-->
                <!--copy rights start here-->
                @Html.Partial("_Footer")
                <!--COPY rights end here-->
            </div>
        </div>
        <!--slider menu-->
        @Html.Partial("_SideNavBar")
    </div>
    <!--slide bar menu end here-->
    <!-- Modal -->
    <div id="masterResultModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->

            <div class="modal-content text-center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title result-title"></h4>
                </div>
                <div class="modal-body result-modal-body">
                    <span></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <script>
        var toggle = true;

        $(".sidebar-icon").click(function () {
            if (toggle) {
                $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                $("#menu span").css({ "position": "absolute" });
            }
            else {
                $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                setTimeout(function () {
                    $("#menu span").css({ "position": "relative" });
                }, 400);
            }
            toggle = !toggle;
        });


        //Global Variables
        //Common Error message
        window.masterResultError = "Oops some bits or bytes wrong. Please try some other time";
        //Master form success message
        window.userRightsAdded = "User rights added successfully";
        window.userApprovalAdded = "User approval added successfully";
        window.countryAdded = "Country master added successfully";
        window.regionAdded = "Region master added successfully";
        window.caretakerAdded = "Caretaker master added successfully";
        window.propTypeAdded = "Property type master added successfully";
        window.propMasterAdded = "Property master added successfully";
        window.compAdded = "Tenant master company added successfully";
        window.individualAdded = "Tenant master individual added successfully";
        window.checkListAdded = "Check list master added successfully";
        window.facilityAdded = "Facility added successfully";
        window.utilityAdded = "Utility added successfully";
        window.supplierAdded = "Supplier master added successfully";
        window.slabAdded = "Slab master added successfully";
        window.meterAdded = "Meter master added successfully";
        window.emailTemplateAdded = "Email template added successfully";
        window.tallyreport = "Tally Report";
        //Invoice
        window.invoiceAdded = "Invoice master added successfully";
        //Payment
        window.paymentAdded = "Payment master added successfully";
        //Receipts
        window.receiptsAdded = "Receipts master added successfully";

    </script>
    <!--scrolling js-->
    <script src="~/theme/js/jquery.nicescroll.js"></script>
    <script src="~/theme/js/scripts.js"></script>
    <!--//scrolling js-->
    <script src="~/theme/js/bootstrap.js"> </script>
    <script src="~/Scripts/inputvalidations.js"></script>
    <!-- mother grid end here-->

    <script>
    //session end
    var sessionTimeoutWarning = @Session.Timeout- 1;

    var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
    setTimeout('SessionEnd()', sTimeout);

    function SessionEnd() {
        window.location = "/LeaMaPortal/Authentication/Login";
    }
    </script>
</body>
@RenderSection("scripts", required: false)
</html>