<!--
  File Name      : _TopNavBar.cshtml
  Description    : Top bar navigation menu
  Created Date   : 03-Mar-2017
  Notes          : <Notes>
-->
<!--header start here-->

@{
    var user = LeaMaPortal.Helpers.AuthenticationHelper.GetLoggedinUserDetails(HttpContext.Current).GetAwaiter().GetResult();
}

<!-- Include Bootstrap Datepicker -->

<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
@*<script type="text/javascript" src="Scripts/jquery-ui-1.10.2.js"></script>*@


<style>
    .regionDropBtn, .propDropBtn {
        /*background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;*/
        cursor: pointer;
    }

    /*.regionDropBtn:hover, .regionDropBtn:focus {
            background-color: #3e8e41;
        }*/

    #regionInput, #propInput {
        border-box: box-sizing;
        background-image: url('searchicon.png');
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 14px 20px 12px 45px;
        border: none;
    }

    .regionDropdown, .propDropdown {
        position: relative;
        display: inline-block;
    }

    .region-dropdown-content, .prop-dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .region-dropdown-content a, .prop-dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .regionDropdown a:hover, .propDropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }
</style>

<div class="header-main">
    <div class="header-left m-t-15">
        <img src="~/Images/Logo.png" />
        <div class="clearfix"> </div>
    </div>
    <div class="header-right">
        <div class="profile_details">
            <img src="~/Images/Logo-Bitmap.png" />
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>

<div class="sub-header-main">
    <div class="col-md-6 pull-left" style="padding: 35px;" id="TopNavBarFilter">
        @*<span> 
        <img src="~/Images/settings.png" class="image-rotate-270" />
            &nbsp;&nbsp;&nbsp;
            <span style="border-right :1px solid #eee; color:#554289;">
                FILTER PERFORMANCE BY
                &nbsp;&nbsp;
            </span>    
        </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*@


        @*<span class="filter-span">
            By Month
            <span class="input-group input-append date" id="datePicker" style="width: 1px;
    position: absolute;
    margin-top: -23px;
    margin-left: 44%;">
                <input type="hidden" class="form-control" name="date" />
                <span class="input-group-addon add-on" style="background: transparent;
    border: none;"><span class="fa fa-calendar"></span></span>
            </span>
        </span>*@

        @*<span class="regionDropdown filter-span" style="width: 80px;">
            By Month 
            <span class="input-group input-append date" id="datePicker" style="top: -20px;left: 70px;">
                <input type="hidden" class="form-control" name="date" />
                    <i class="fa fa-calendar regionDropBtn"></i>
            </span>
        </span>*@

        @*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="regionDropdown filter-span" style="margin-right: 10px;">
            By Region <i class="fa fa-angle-down regionDropBtn" onclick="showRegionList()"></i>

            <span id="dropDownRegion" class="region-dropdown-content">
                <input type="text" placeholder="Search.." id="regionInput" onkeyup="filterRegion()">
                <a href="#about">About</a>
                <a href="#base">Base</a>
                <a href="#blog">Blog</a>
                <a href="#contact">Contact</a>
                <a href="#custom">Custom</a>
                <a href="#support">Support</a>
                <a href="#tools">Tools</a>
            </span>

        </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="propDropdown filter-span">
            By Property <i class="fa fa-angle-down propDropBtn" onclick="showPropList()"></i>

            <span id="dropDownProp" class="prop-dropdown-content">
                <input type="text" placeholder="Search.." id="propInput" onkeyup="filterProp()">
                <a href="#about">Prop 1</a>
                <a href="#base">Prop 2</a>
                <a href="#blog">Blog</a>
                <a href="#contact">Contact</a>
                <a href="#custom">Custom</a>
                <a href="#support">Support</a>
                <a href="#tools">Tools</a>
            </span>

        </span>*@

        <div class="clearfix"> </div>
    </div>
    <div class="col-md-1 pull-left"><br /><br /> <img src="~/Images/loader.gif" class="fa hide" id="img-loader" /></div>
    <div id="rgdiv" class="col-md-1 pull-left text-right" style="font-size: 13px; padding-top: 9px; display:block;font-weight: bold"> @**@
      @*@Html.DropDownList("Region_Name", null, "-- Select --", new { @class = "master-form-input form-control", @Name = "Region_Name", })*@   
       
           <a>Change Region</a>
           <iframe id="if" src="~/ReportASPX/Region/GetRegions.aspx" style="border:none;display:none; height:64px"></iframe>
           
      
    </div>
    <div class="col-md-4 pull-right" style="padding:18px 12px;">
        <div class="profile_details" style="font-size: 16px;">            
            <ul>
                <li class="dropdown profile_details_drop">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <div class="user-name">
                            <p>Logged in as:</p>
                        </div>
                        <div class="user-name">
                            <p class="logName">@user.Name</p>
                            <span id="usrcat">@user.Category</span>&nbsp;&nbsp;- <span ><span id="inireg">@Session["Region"].ToString()</span>@Html.Label("", htmlAttributes: new { @id = "lblregion" })</span>                            
                            <label class="width-35 logged-arrow">
                                <i class="fa fa-angle-down"></i>
                                <i class="fa fa-angle-up"></i>
                            </label>
                        </div>
                    </a>
                    <ul class="dropdown-menu drp-mnu">
                        @*<li> <a href="#"><i class="fa fa-cog"></i> Change Password</a> </li>*@
                        <li> <a href="@Url.Action("Logout", "Authentication")"><i class="fa fa-sign-out"></i> Logout</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!--heder end here-->

<script type="text/javascript">

    $(document).ready(function () {
        $('#datePicker')
            .datepicker({
                format: 'mm/dd/yyyy'
            });

        var usrcat = $("#usrcat").text();
        //alert(usrcat);
        if (usrcat != "Management") {
            $("#rgdiv").hide();
        }
        else {
            $("#rgdiv").show();
        }

        @*$("#inireg").text() = @Session["Region"].ToString();*@ 
           

            @*var usrcat = "" + @Session["Region"].ToString() + "";
            alert(usrcat);*@
       

      

        $.ajax(
               {
                   url: "../Authentication/GetRegions",
                   // dataType: "jsonp",
                   method: "GET",
                   data: {  }, //FormData(form.get(0)),
                   contentType: "application/json",

                   success: function (response) {
                       //var reg;
                       //var rgdiv = document.getElementById("regdiv");
                       ////var rgdiv = '<option value="" selected>--Select--</option>';
                       ////$("#selreg").empty();
                       ////reg = "<select id='selreg'>"
                       //var region = '<option value="" selected>--Select--</option>';
                       //$("#Region_Name").empty();
                       $.each(response, function (index,data) {
                           //reg = "<input type='radio' name='radreg' value =" + data.Region_Name + " />" + data.Region_Name + "</br>"; //" + data.Region_Name + "
                           //rgdiv.innerHTML += reg;
                           //region += "<options value='" + data.Region_Name + "'>" + data.Region_Name + "</options>"
                       });
                       //$('#Region_Name').append(region);
                   },

                   error: function (jqXhr, textStatus, errorThrown) {
                       alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                   },
                   complete: function () {
                       // $("#").addClass("hide");
                   }

               }
            );

        //debugger;
        //$('input:radio[name=radreg]').change(function () {
        //    alert("Hi");
        //    var reg1 = $('input:radio[name=radreg]:checked').val();
        //    var reg2 = $('input[type=radio][name=radreg]:checked').val();
        //    alert(reg1);
        //    alert(reg2);
        //});

        //$("#regform #radreg").change(function () {

        //    //var val = "3";
        //    //loadOrders(val);
        //    alert("Hi");
        //    $("#radreg")[0].checked = false;
        //    $("#radreg")[0].checked = false;
        //});

        //$('input[type=radio][name=radreg]').change(function () {
        //    //alert("Hi");
        //    var reg1 = $('input:radio[name=radreg]:checked').val();
        //    var reg2 = $('input[type=radio][name=radreg]:checked').val();
        //    alert(reg1);
        //    alert(reg2);
        //});

        $("#rgdiv").click(function () {
            $("#if").show();
        })

        //$("#rgdiv").mouseover(function () {

        //        $("#img-loader").removeClass("hide");
        //        //$("#ReportArea").empty();
        //        $.ajax(
        //        {
        //            url: "../Report/Region",
        //            type: "Get",
        //            data: {},
        //            contentType: "application/json",
        //            processData: false,
        //            success: function (html) {
        //                $("#GetReg").html('');
        //                $("#GetReg").html(html);
        //            },
        //            error: function (jqXhr, textStatus, errorThrown) {
        //                alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
        //            },
        //            complete: function () {
        //                $("#img-loader").addClass("hide");
        //            }
        //        });

        //})

    });

    //debugger;


    function showRegionList() {
        document.getElementById("dropDownRegion").classList.toggle("show");
    }

    function filterRegion() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("regionInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("dropDownRegion");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }

    function showPropList() {
        document.getElementById("dropDownProp").classList.toggle("show");
    }

    function filterProp() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("propInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("dropDownProp");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }




    //$("#input[name='radreg']").change(function (e) {
    //    $('input[type=radio][name=radreg]').change(function () {
    //    alert("Hi");
    //    var reg1 = $('input:radio[name=radreg]:checked').val();
    //    var reg2 = $('input[type=radio][name=radreg]:checked').val();
    //    alert(reg1);
    //    alert(reg2);
    //});

    //window.onclick = function (event) {
    //    if (!event.target.matches('.regiondropbtn')) {

    //        var dropdowns = document.getelementsbyclassname("region-dropdown-content");
    //        var i;
    //        for (i = 0; i < dropdowns.length; i++) {
    //            var opendropdown = dropdowns[i];
    //            if (opendropdown.classlist.contains('show')) {
    //                opendropdown.classlist.remove('show');
    //            }
    //        }
    //    }
    //    if (!event.target.matches('.propdropbtn')) {

    //        var dropdowns = document.getelementsbyclassname("prop-dropdown-content");
    //        var i;
    //        for (i = 0; i < dropdowns.length; i++) {
    //            var opendropdown = dropdowns[i];
    //            if (opendropdown.classlist.contains('show')) {
    //                opendropdown.classlist.remove('show');
    //            }
    //        }
    //    }
    //}
</script>