@model LeaMaPortal.Models.PropertyViewModel

@{
    ViewBag.Title = "Create";
    Layout = null;
}

@using (Html.BeginForm("Create","PropertyMaster",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="inner-block">
        <div class="blank">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Property Type:
                            @*@Html.LabelFor(model => model.Property_Flag, htmlAttributes: new { @class = "control-label" })*@
                        </div>
                        <div class="col-md-8">
                            @*<div class="col-md-6">
                                    <div class="col-md-1">
                                        <input type="radio" class="input-checkbox">
                                    </div>
                                    <div class="col-md-8 m-t-3">
                                        <span> Property </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-1">
                                        <input type="radio" class="input-checkbox">
                                    </div>
                                    <div class="col-md-8 m-t-3">
                                        <span> Unit </span>
                                    </div>
                                </div>*@
                            @Html.RadioButtonFor(model => model.Property_Flag, "Property") Property
                            @Html.RadioButtonFor(model => model.Property_Flag, "Unit") Unit
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Property ID:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Property_Id, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Property_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Property Thwtheeq ID:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Property_ID_Tawtheeq, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Property_ID_Tawtheeq, "", new { @class = "text-danger" })
                            @*<input type="text" class="master-form-input" />*@
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Property Name:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Property_Name, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Property_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Compound:
                        </div>
                        <div class="col-md-8">
                            @{
                                List<SelectListItem> Compound = new List<SelectListItem>();
                                Compound.Add(new SelectListItem
                                {
                                    Text = "Manly",
                                    Value = "Manly"
                                });
                                Compound.Add(new SelectListItem
                                {
                                    Text = "Chennai",
                                    Value = "Chennai",
                                    Selected = true
                                });
                                Compound.Add(new SelectListItem
                                {
                                    Text = "London",
                                    Value = "London"
                                });
                            }

                            @Html.DropDownListFor(model => model.Compound, Compound, "-- Select --", htmlAttributes: new { @class = "master-form-input" })


                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Zone:
                        </div>
                        <div class="col-md-8">
                            @*<select class="master-form-input">
                                    <option> Zone 1 </option>
                                    <option> Zone 2 </option>
                                    <option> Zone 3 </option>
                                </select>*@
                            @{
                                List<SelectListItem> Zone = new List<SelectListItem>();
                                Zone.Add(new SelectListItem
                                {
                                    Text = "Zone 1 ",
                                    Value = "Zone 1 "
                                });
                                Zone.Add(new SelectListItem
                                {
                                    Text = "Zone 2",
                                    Value = "Zone 2",
                                    Selected = true
                                });
                                Zone.Add(new SelectListItem
                                {
                                    Text = "Zone 3",
                                    Value = "Zone 3"
                                });
                            }

                            @Html.DropDownListFor(model => model.Zone, Zone, "-- Select --", htmlAttributes: new { @class = "master-form-input" })


                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Sector:
                        </div>
                        <div class="col-md-8">
                            @*<select class="master-form-input">
                                    <option> Sector 1 </option>
                                    <option> Sector 2 </option>
                                    <option> Sector 3 </option>
                                </select>*@
                            @{
                                List<SelectListItem> Sector = new List<SelectListItem>();
                                Sector.Add(new SelectListItem
                                {
                                    Text = "Sector 1",
                                    Value = "Sector 1"
                                });
                                Sector.Add(new SelectListItem
                                {
                                    Text = "Sector 2",
                                    Value = "Sector 2",
                                });
                                Sector.Add(new SelectListItem
                                {
                                    Text = "Sector 3",
                                    Value = "Sector 3"
                                });
                            }

                            @Html.DropDownListFor(model => model.sector, Sector, "-- Select --", htmlAttributes: new { @class = "master-form-input" })


                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Plot Number:
                        </div>
                        <div class="col-md-8">
                            @*<input type="text" class="master-form-input" />*@
                            @Html.EditorFor(model => model.plotno, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.plotno, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Owned by Registrant:
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-6" style="margin-left: -20px;">
                                <div class="col-md-1">
                                    <input type="checkbox" class="input-checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Property Usage:
                        </div>
                        <div class="col-md-8">
                            @*<select class="master-form-input">
                                    <option> New </option>
                                    <option> 1 Year old </option>
                                    <option> More than 1 year </option>
                                </select>*@
                            @{
                                List<SelectListItem> PropertyUsage = new List<SelectListItem>();
                                PropertyUsage.Add(new SelectListItem
                                {
                                    Text = "Manly",
                                    Value = "Manly"
                                });
                                PropertyUsage.Add(new SelectListItem
                                {
                                    Text = "Chennai",
                                    Value = "Chennai",
                                    Selected = true
                                });
                                PropertyUsage.Add(new SelectListItem
                                {
                                    Text = "London",
                                    Value = "London"
                                });
                            }

                            @Html.DropDownListFor(model => model.Property_Usage, PropertyUsage, "-- Select --", htmlAttributes: new { @class = "master-form-input" })


                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Property Category:
                        </div>
                        <div class="col-md-8">
                            @*<select class="master-form-input">
                                    <option> Category 1 </option>
                                    <option> Category 2 </option>
                                    <option> Category 3 </option>
                                </select>*@
                            @{
                                List<SelectListItem> PropertyCategory = new List<SelectListItem>();
                                PropertyCategory.Add(new SelectListItem
                                {
                                    Text = "Manly",
                                    Value = "Manly"
                                });
                                PropertyCategory.Add(new SelectListItem
                                {
                                    Text = "Chennai",
                                    Value = "Chennai",
                                    Selected = true
                                });
                                PropertyCategory.Add(new SelectListItem
                                {
                                    Text = "London",
                                    Value = "London"
                                });
                            }

                            @Html.DropDownListFor(model => model.Property_Type, PropertyCategory, "-- Select --", htmlAttributes: new { @class = "master-form-input" })


                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Commercial Villa:
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-6" style="margin-left: -20px;">
                                <div class="col-md-1">
                                    <input type="checkbox" class="input-checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Street Name:
                        </div>
                        <div class="col-md-8">
                            @*<input type="text" class="master-form-input" />*@
                            @Html.EditorFor(model => model.Street_Name, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Street_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Address 1:
                        </div>
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.Address1, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Address 2:
                        </div>
                        <div class="col-md-8">
                            @*<textarea class="master-form-input"></textarea>*@
                            @Html.TextAreaFor(model => model.Address2, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Address 3:
                        </div>
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.Address3, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Address3, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Region:
                        </div>
                        <div class="col-md-8">
                            @*<select class="master-form-input">
                                    <option> Region 1 </option>
                                    <option> Region 2 </option>
                                    <option> Region 3 </option>
                                </select>*@
                            @{
                                List<SelectListItem> Region = new List<SelectListItem>();
                                Region.Add(new SelectListItem
                                {
                                    Text = "Manly",
                                    Value = "Manly"
                                });
                                Region.Add(new SelectListItem
                                {
                                    Text = "Chennai",
                                    Value = "Chennai",
                                    Selected = true
                                });
                                Region.Add(new SelectListItem
                                {
                                    Text = "London",
                                    Value = "London"
                                });
                            }

                            @Html.DropDownListFor(model => model.Region_Name, Region, "-- Select --", htmlAttributes: new { @class = "master-form-input" })


                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Country:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            City:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            State:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            External ref no:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Externalrefno, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Externalrefno, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Number of Floors:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Noofoffloors, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Noofoffloors, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Number of Units:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Noofunits, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Noofunits, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Built Area:
                        </div>
                        <div class="col-md-8">
                            @*<input type="text" class="master-form-input" />*@
                            @Html.EditorFor(model => model.Builtarea, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Builtarea, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Plot Area:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Plotarea, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Plotarea, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Leasable Area:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Leasablearea, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Leasablearea, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Common Area:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.commonarea, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.commonarea, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Completion Date:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.completion_Date, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.completion_Date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Property Value (in AED):
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AEDvalue, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.AEDvalue, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Purchased Date:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Purchased_date, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Purchased_date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Property Valued Date:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Valued_Date, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Valued_Date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Available From:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Vacant_Start_Date, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Vacant_Start_Date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Min.Rental Rate/Month (in AED):
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Rental_Rate_Month, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Rental_Rate_Month, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Comments:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Main Property Tawtheeq ID:
                        </div>
                        <div class="col-md-8">
                            @*<select class="master-form-input">
                                    <option> ID 1 </option>
                                    <option> ID 2 </option>
                                    <option> ID 3 </option>
                                </select>*@
                            @{
                                List<SelectListItem> Taqtheeq = new List<SelectListItem>();
                                Taqtheeq.Add(new SelectListItem
                                {
                                    Text = "ID 1",
                                    Value = "ID 1"
                                });
                                Taqtheeq.Add(new SelectListItem
                                {
                                    Text = "ID 2",
                                    Value = "ID 2",
                                });
                                Taqtheeq.Add(new SelectListItem
                                {
                                    Text = "ID 3",
                                    Value = "ID 3"
                                });
                            }

                            @Html.DropDownListFor(model => model.Ref_unit_Property_ID_Tawtheeq, Taqtheeq, "-- Select --", htmlAttributes: new { @class = "master-form-input" })


                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Main Property ID:
                        </div>
                        <div class="col-md-8">
                            @*<select class="master-form-input">
                                    <option> ID 1 </option>
                                    <option> ID 2 </option>
                                    <option> ID 3 </option>
                                </select>*@
                            @{
                                List<SelectListItem> MainProperty = new List<SelectListItem>();
                                MainProperty.Add(new SelectListItem
                                {
                                    Text = "ID 1",
                                    Value = "ID 1"
                                });
                                MainProperty.Add(new SelectListItem
                                {
                                    Text = "ID 2",
                                    Value = "ID 2",
                                });
                                MainProperty.Add(new SelectListItem
                                {
                                    Text = "ID 3",
                                    Value = "ID 3"
                                });
                            }

                            @Html.DropDownListFor(model => model.Ref_Unit_Property_ID, MainProperty, "-- Select --", htmlAttributes: new { @class = "master-form-input" })


                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Main Property Name:
                        </div>
                        <div class="col-md-8">
                            @*<select class="master-form-input">
                                    <option> Villa </option>
                                    <option> Real Estate </option>
                                    <option> Bunglow </option>
                                </select>*@
                            @{
                                List<SelectListItem> MainPropertyName = new List<SelectListItem>();
                                MainPropertyName.Add(new SelectListItem
                                {
                                    Text = "Villa",
                                    Value = "Villa"
                                });
                                MainPropertyName.Add(new SelectListItem
                                {
                                    Text = "Real Estate",
                                    Value = "Real Estate",
                                });
                                MainPropertyName.Add(new SelectListItem
                                {
                                    Text = "Bunglow",
                                    Value = "Bunglow"
                                });
                            }

                            @Html.DropDownListFor(model => model.Ref_Unit_Property_Name, MainPropertyName, "-- Select --", htmlAttributes: new { @class = "master-form-input" })


                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Unit Tawteeq ID:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Unit_ID_Tawtheeq, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Unit_ID_Tawtheeq, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Unit Name:
                        </div>
                        <div class="col-md-8">
                            @*<select class="master-form-input">
                                    <option> ID 1 </option>
                                    <option> ID 2 </option>
                                    <option> ID 3 </option>
                                </select>*@
                            @Html.EditorFor(model => model.Unit_Property_Name, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Unit_Property_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            External Ref No (Unit):
                        </div>
                        <div class="col-md-8">
                            @*<select class="master-form-input">
                                    <option> ID 1 </option>
                                    <option> ID 2 </option>
                                    <option> ID 3 </option>
                                </select>*@
                            @Html.EditorFor(model => model.Externalrefno_unit, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Externalrefno_unit, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Property Value (in AED) (Unit):
                        </div>
                        <div class="col-md-8">
                            @*<select class="master-form-input">
                                    <option> Villa </option>
                                    <option> Real Estate </option>
                                    <option> Bunglow </option>
                                </select>*@
                            @Html.EditorFor(model => model.AEDvalue_unit, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.AEDvalue_unit, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Purchased Date:
                        </div>
                        <div class="col-md-8">
                            @*<input type="text" class="master-form-input" />*@
                            @Html.EditorFor(model => model.Purchased_date, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Purchased_date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Property Valued Date:
                        </div>
                        <div class="col-md-8">
                            @*<input type="text" class="master-form-input" />*@
                            @Html.EditorFor(model => model.Valued_Date, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Valued_Date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Occupancy Status:
                        </div>
                        <div class="col-md-8">
                            @*<input type="text" class="master-form-input" />*@
                            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Available From:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Vacant_Start_Date, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Vacant_Start_Date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Min Rental Rate/Month (in AED) (Unit):
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Rental_Rate_Month, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Rental_Rate_Month, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Floor Number:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Floorno, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Floorno, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            FLoor Level:
                        </div>
                        <div class="col-md-8">
                            @*<input type="text" class="master-form-input" />*@
                            @Html.EditorFor(model => model.Floorlevel, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Floorlevel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Units Usage:
                        </div>
                        <div class="col-md-8">
                            @*<select class="master-form-input">
                                    <option> ID 1 </option>
                                    <option> ID 2 </option>
                                    <option> ID 3 </option>
                                </select>*@
                            @Html.DropDownListFor(model => model.Property_Usage_unit, Model.Property_Usage_unitList, "-- Select --", htmlAttributes: new { @class = "master-form-input" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Property Category (Unit):
                        </div>
                        <div class="col-md-8">
                            @*<select class="master-form-input">
                                    <option> ID 1 </option>
                                    <option> ID 2 </option>
                                    <option> ID 3 </option>
                                </select>*@
                            @Html.DropDownListFor(model => model.Property_Type_unit, Model.Property_Type_unitList, "-- Select --", htmlAttributes: new { @class = "master-form-input" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Total Area:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Total_Area, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Total_Area, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Unit Common Area:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Unit_Common_Area, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Unit_Common_Area, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Common Area:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.commonarea, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.commonarea, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Parking Number:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Parkingno, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Parkingno, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Comments (Unit):
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Unitcomments, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Unitcomments, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Car Taker Name:
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Caretaker_Name, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Caretaker_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Car Taker ID:
                        </div>
                        <div class="col-md-8">
                            @*<select class="master-form-input">
                                    <option> ID 1 </option>
                                    <option> ID 2 </option>
                                    <option> ID 3 </option>
                                </select>*@
                            @Html.DropDownListFor(model => model.Caretaker_ID, Model.Caretaker_IDList, "-- Select --", htmlAttributes: new { @class = "master-form-input" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Occupancy Status (Unit):
                        </div>
                        <div class="col-md-8">
                            @*<input type="text" class="master-form-input" />*@
                            @Html.EditorFor(model => model.Status_unit, new { htmlAttributes = new { @class = "master-form-input" } })
                            @Html.ValidationMessageFor(model => model.Status_unit, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            Using by Hameem and Not For Lease:
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-6" style="margin-left: -20px;">
                                <div class="col-md-1">
                                    <input type="checkbox" class="input-checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-input-padding">
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                        <div class="col-md-4">
                            <button class="btn master-form-btn">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            @*
                <div class="row p-b-25">
                    <span> <strong> Fecility Details </strong> </span>
                </div>

                <div class="row">
                    <div class="col-md-12 document-row">
                        <div class="col-md-1">
                            ID
                        </div>
                        <div class="col-md-2">
                            Fecility ID
                        </div>
                        <div class="col-md-2">
                            Fecility Name
                        </div>
                        <div class="col-md-3">
                            Numbers Available
                        </div>
                    </div>
                </div>
                <div class="row ht-5">
                    &nbsp;
                </div>

                <!-- Begin Dynamic row -->
                @Html.Partial("_FecilityDetails")
                        <!-- End Dynamic row -->

                        <div class="row p-b-25 p-t-17">
                            <span> <strong> Utility Details </strong> </span>
                        </div>

                        <div class="row">
                            <div class="col-md-12 document-row">
                                <div class="col-md-1">
                                    ID
                                </div>
                                <div class="col-md-3">
                                    Utility ID
                                </div>
                                <div class="col-md-4">
                                    Utility Name
                                </div>
                            </div>
                        </div>
                        <div class="row ht-5">
                            &nbsp;
                        </div>

                        <!-- Begin Dynamic row -->
                        @Html.Partial("_UtilityDetails")
                        <!-- End Dynamic row -->
                        <!-- Begin Grid view -->
                        <div class="row">
                            &nbsp;
                        </div>
                        <div class="row leama-fieldset leama-header-top" style="background-color:white;">
                            <div class="col-md-12">
                                <div class="col-md-12 leama-fieldset ">
                                    <div class="col-md-2 pull-left">
                                        @Html.Label("Search", htmlAttributes: new { @class = "leama-field-name" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="leama-field form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-info leama-search-btn col-md-4">Go</button>
                                    </div>
                                </div>

                                <div class="col-md-12 leama-fieldset ">
                                    &nbsp;
                                </div>

                                <div class="divTable leama-fieldset col-md-12">


                                    <div class="divTableBody divFontBodyTable">
                                        <div class="divTableHeading">
                                            <div class="divTableCell">Country Name</div>
                                            <div class="divTableCell">Action</div>

                                        </div>
                                        <div class="divTableRow">
                                            <div class="divTableCell">Chennai</div>
                                            <div class="divTableCell">
                                                @Html.ActionLink(" ", "Edit", null, new { @class = "glyphicon glyphicon-edit", title = "Edit" })  |
                                                @Html.ActionLink(" ", "Details", null, new { @class = "glyphicon glyphicon-trash", @style = "color:red", title = "Delete" })  |
                                                @Html.ActionLink(" ", "Details", null, new { @class = "glyphicon glyphicon-th-list", title = "Details" })
                                            </div>

                                        </div>
                                        <div class="divTableRow divFontBodyTable">
                                            <div class="divTableCell">Coimbatore</div>
                                            <div class="divTableCell">
                                                @Html.ActionLink(" ", "Edit", null, new { @class = "glyphicon glyphicon-edit", title = "Edit" })  |
                                                @Html.ActionLink(" ", "Details", null, new { @class = "glyphicon glyphicon-trash", @style = "color:red", title = "Delete" })  |
                                                @Html.ActionLink(" ", "Details", null, new { @class = "glyphicon glyphicon-th-list", title = "Details" })

                                            </div>

                                        </div>

                                    </div>

                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="pagination pull-right">
                                            <li><a href="#">1</a></li>
                                            <li class="active"><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Grid view -->
            *@
        </div>
    </div>
                                }