<!--
  File Name      : PropertyMaster.cshtml
  Description    : Property master page
  Created Date   : 20-Mar-2017
  Notes          : <Notes>
-->





<div class="inner-block">
    <div class="blank">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Property Type:
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-6">
                            <div class="col-md-1">
                                <input type="radio" class="input-checkbox">
                            </div>
                            <div class="col-md-8 m-t-3">
                                <span> Property </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-1">
                                <input type="radio" class="input-checkbox">
                            </div>
                            <div class="col-md-8 m-t-3">
                                <span> Unit </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Property ID:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Property Thwtheeq ID:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Property Name:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Compound:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Zone:
                    </div>
                    <div class="col-md-8">
                        <select class="master-form-input">
                            <option> Zone 1 </option>
                            <option> Zone 2 </option>
                            <option> Zone 3 </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Sector:
                    </div>
                    <div class="col-md-8">
                        <select class="master-form-input">
                            <option> Sector 1 </option>
                            <option> Sector 2 </option>
                            <option> Sector 3 </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Plot Number:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Owned by Registrant:
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-6" style="margin-left: -20px;">
                            <div class="col-md-1">
                                <input type="checkbox" class="input-checkbox">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Property Usage:
                    </div>
                    <div class="col-md-8">
                        <select class="master-form-input">
                            <option> New </option>
                            <option> 1 Year old </option>
                            <option> More than 1 year </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Property Category:
                    </div>
                    <div class="col-md-8">
                        <select class="master-form-input">
                            <option> Category 1 </option>
                            <option> Category 2 </option>
                            <option> Category 3 </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Commercial Villa:
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-6" style="margin-left: -20px;">
                            <div class="col-md-1">
                                <input type="checkbox" class="input-checkbox">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Street Name:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Address 1:
                    </div>
                    <div class="col-md-8">
                        <textarea class="master-form-input"></textarea>
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Address 2:
                    </div>
                    <div class="col-md-8">
                        <textarea class="master-form-input"></textarea>
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Address 3:
                    </div>
                    <div class="col-md-8">
                        <textarea class="master-form-input"></textarea>
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Region:
                    </div>
                    <div class="col-md-8">
                        <select class="master-form-input">
                            <option> Region 1 </option>
                            <option> Region 2 </option>
                            <option> Region 3 </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Country:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        City:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        State:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        External ref no:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Number of Floors:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Number of Units:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Built Area:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Plot Area:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Leasable Area:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Common Area:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Completion Date:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Property Value (in AED):
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Purchased Date:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Property Valued Date:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Available From:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Min.Rental Rate/Month (in AED):
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Comments:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Main Property Tawtheeq ID:
                    </div>
                    <div class="col-md-8">
                        <select class="master-form-input">
                            <option> ID 1 </option>
                            <option> ID 2 </option>
                            <option> ID 3 </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Main Property ID:
                    </div>
                    <div class="col-md-8">
                        <select class="master-form-input">
                            <option> ID 1 </option>
                            <option> ID 2 </option>
                            <option> ID 3 </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Main Property Name:
                    </div>
                    <div class="col-md-8">
                        <select class="master-form-input">
                            <option> Villa </option>
                            <option> Real Estate </option>
                            <option> Bunglow </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Unit Tawteeq ID:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Units Name:
                    </div>
                    <div class="col-md-8">
                        <select class="master-form-input">
                            <option> ID 1 </option>
                            <option> ID 2 </option>
                            <option> ID 3 </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        External Ref No:
                    </div>
                    <div class="col-md-8">
                        <select class="master-form-input">
                            <option> ID 1 </option>
                            <option> ID 2 </option>
                            <option> ID 3 </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Property Value (in AED):
                    </div>
                    <div class="col-md-8">
                        <select class="master-form-input">
                            <option> Villa </option>
                            <option> Real Estate </option>
                            <option> Bunglow </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Purchased Date:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Property Value Date:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Occupancy Status:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Available From:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Min Rental Rate/Month (in AED):
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Floor Number:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        FLoor Level:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Units Usage:
                    </div>
                    <div class="col-md-8">
                        <select class="master-form-input">
                            <option> ID 1 </option>
                            <option> ID 2 </option>
                            <option> ID 3 </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Property Category:
                    </div>
                    <div class="col-md-8">
                        <select class="master-form-input">
                            <option> ID 1 </option>
                            <option> ID 2 </option>
                            <option> ID 3 </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Total Area:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Unit Common Area:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Common Area:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Parking Number:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Car Taker Name:
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="master-form-input" />
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Car Taker ID:
                    </div>
                    <div class="col-md-8">
                        <select class="master-form-input">
                            <option> ID 1 </option>
                            <option> ID 2 </option>
                            <option> ID 3 </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        Using by Hameem and Not For Lease:
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-6" style="margin-left: -20px;">
                            <div class="col-md-1">
                                <input type="checkbox" class="input-checkbox">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 form-input-padding">
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                    <div class="col-md-4">
                        <button class="btn master-form-btn">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row p-b-25">
            <span> <strong> Fecility Details </strong> </span>
        </div>

        <div class="row">
            <div class="col-md-12 document-row">
                <div class="col-md-1">
                    ID
                </div>
                <div class="col-md-2">
                    Fecility ID
                </div>
                <div class="col-md-2">
                    Fecility Name
                </div>
                <div class="col-md-3">
                    Numbers Available
                </div>
            </div>
        </div>
        <div class="row ht-5">
            &nbsp;
        </div>

        <!-- Begin Dynamic row -->
        @*@Html.Partial("_FecilityDetails")*@
        <!-- End Dynamic row -->

        <div class="row p-b-25 p-t-17">
            <span> <strong> Utility Details </strong> </span>
        </div>

        <div class="row">
            <div class="col-md-12 document-row">
                <div class="col-md-1">
                    ID
                </div>
                <div class="col-md-3">
                    Utility ID
                </div>
                <div class="col-md-4">
                    Utility Name
                </div>
            </div>
        </div>
        <div class="row ht-5">
            &nbsp;
        </div>

        <!-- Begin Dynamic row -->
        @*@Html.Partial("_UtilityDetails")*@
        <!-- End Dynamic row -->

        <!-- Begin Grid view -->
        <div class="row">
            &nbsp;
        </div>
        <div class="row leama-fieldset leama-header-top" style="background-color:white;">
            <div class="col-md-12">
                <div class="col-md-12 leama-fieldset ">
                    <div class="col-md-2 pull-left">
                        @Html.Label("Search", htmlAttributes: new { @class = "leama-field-name" })
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="leama-field form-control" />
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-info leama-search-btn col-md-4">Go</button>
                    </div>
                </div>

                <div class="col-md-12 leama-fieldset ">
                    &nbsp;
                </div>

                <div class="divTable leama-fieldset col-md-12">


                    <div class="divTableBody divFontBodyTable">
                        <div class="divTableHeading">
                            <div class="divTableCell">Country Name</div>
                            <div class="divTableCell">Action</div>

                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">Chennai</div>
                            <div class="divTableCell">
                                @Html.ActionLink(" ", "Edit", null, new { @class = "glyphicon glyphicon-edit", title = "Edit" })  |
                                @Html.ActionLink(" ", "Details", null, new { @class = "glyphicon glyphicon-trash", @style = "color:red", title = "Delete" })  |
                                @Html.ActionLink(" ", "Details", null, new { @class = "glyphicon glyphicon-th-list", title = "Details" })
                            </div>

                        </div>
                        <div class="divTableRow divFontBodyTable">
                            <div class="divTableCell">Coimbatore</div>
                            <div class="divTableCell">
                                @Html.ActionLink(" ", "Edit", null, new { @class = "glyphicon glyphicon-edit", title = "Edit" })  |
                                @Html.ActionLink(" ", "Details", null, new { @class = "glyphicon glyphicon-trash", @style = "color:red", title = "Delete" })  |
                                @Html.ActionLink(" ", "Details", null, new { @class = "glyphicon glyphicon-th-list", title = "Details" })

                            </div>

                        </div>

                    </div>

                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                        <ul class="pagination pull-right">
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Grid view -->

    </div>
</div>

